//新闻列表模板
.newsList {
  width: 1100px;
  margin: 0 auto;

  .boxshadow-none {
    position: relative;
  }

  .el-card {
    width: 360px;
    height: 230px;
    border-radius: 0;

    .el-card__body {
      img {
        width: 360px;
        height: 230px;
      }
    }
  }

  .course {
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid #eee;
    transition: all 300ms;

    .el-card.is-always-shadow {
      box-shadow: none;
    }

    .el-card {
      font-size: 0;
      position: relative;

      .img-wrap {
        width: 400px;
        height: 260px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &>img {
        width: 400px;
        height: 260px;
      }
    }

    .particulars {
      width: 720px;

      .no-comment {
        height: 120px;
        background-color: rgba(250, 250, 250, 1);
        overflow: hidden;

        .comment-img {
          width: 48px;
          height: 44px;
          margin: 22px auto 13px;
        }

        .comment-text {
          font-size: 14px;
          color: rgba(136, 136, 136, 1);
          width: 159px;
          margin: 0 auto;
        }
      }

      .currentclum {
        padding-left: 20px;
        margin-right: 22px;

        // margin-bottom: 40px;
        h4 {
          font-size: 18px;
          color: #222;
          margin: 10px 0 18px 0;
          cursor: pointer;
          line-height: 26px;
        }

        h4:hover {
          color: #5f068d;
        }

        .small-title {
          font-size: 14px;
          color: #93999f;
          margin-bottom: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .title-desc {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        p {
          font-size: 14px;
          line-height: 28px;
          color: #222;
          cursor: pointer;
        }
      }

      .comment {
        height: 134px;
        margin-top: 5px;
        padding: 0 40px 10px;
        background-color: #fafafa;
        color: #888;

        h5 {
          line-height: 40px;

          .itemBox-rate {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            margin-left: 20px;
            vertical-align: middle;
          }
        }

        p {
          font-size: 14px;
          color: #888888;
          line-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .bordernone {
        border: none;
        padding-top: 0px;
        font-size: 14px;
        color: rgba(34, 34, 34, 1);
        line-height: 30px;
        padding: 0px 40px;

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }

      .study {
        padding: 30px 22px 0 20px;

        // height: 50px;
        // line-height: 42px;
        .coin {
          color: #ff4400;
          font-size: 18px;
          margin-bottom: 10px;
          // padding-left: 20px;
        }

        .mfree {
          color: #222;
        }

        .common-button {
          p.goStudy {
            width: 140px;
            height: 36px;
            line-height: 36px;
            border-radius: 18px;
            border: 1px solid #773084;
            overflow: hidden;
            font-size: 0;

            span {
              margin: 0;
              height: 34px;
              text-align: center;
              font-size: 14px;
              color: #773084;
              cursor: pointer;

              &.fl {
                width: 88px;
              }

              &.fr {
                width: 50px;
                background-color: #773084;
              }
            }
          }
        }

        span {
          font-size: 14px;
          color: #888888;
          // margin-top: 21px;
          display: inline-block;

          &:nth-child(3) {
            width: 140px;
            height: 36px;
            line-height: 36px;
            border: 1px solid #773084;
            color: #773084;
            text-align: center;
            border-radius: 18px;
            cursor: pointer;
          }

          img {
            width: 14px;
            height: 14px;
            vertical-align: middle;
          }
        }

        .common-button-half {
          width: 56px;
          height: 40px;
          line-height: 40px;
          background: #773084;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          transition: all 300ms;

          span {
            width: 20px;
            height: 20px;
            margin: 10px 0 10px 15px;
            background: url('https://static-image.1911edu.com/shopcard.png') no-repeat;
            background-size: contain;
          }

          &:hover {
            background: #5f068d;
          }
        }

        .common-button-half-right {
          margin-top: -26px;
          transition: all 300ms;

          .el-button {
            width: 144px;
            border-radius: 21px;
            line-height: 1.2;
            background-color: rgba(255, 255, 255, 0);
          }

          .el-button--primary {
            color: #773084;

            &.is-plain {
              border-color: #773084;
            }

            &:hover {
              color: #fff;
              background-color: #5f068d;

              &.is-plain {
                border-color: #5f068d;
              }
            }
          }
        }
      }

      .common-button-half {
        img {
          width: 20px !important;
          height: 20px !important;
        }

        .el-button {
          padding: 9px 16px;
          border: 1px #773084 solid;
          border-left: none;
        }
      }

      .date {
        color: rgba(136, 136, 136, 1);
        font-size: 14px;
      }

      .time {
        color: rgba(136, 136, 136, 1);
        font-size: 14px;
        margin: 10px 40px;
      }

      .more {
        color: #773084;
        font-size: 14px;
        margin: 10px 40px;
        cursor: pointer;
      }
    }

    &:hover {
      background-color: #fff;
      box-shadow: 0 8px 35px rgba(0, 0, 0, 0.08);
      padding-left: 20px;

      .particulars {
        .currentclum {
          h4 {
            color: #773084;
          }
        }
      }
    }

    .Newtime {
      width: 131px;
      float: right;
      font-size: 22px;
      margin-top: 19px;
      color: #888888;

      .timeDetail {
        margin-bottom: 92px;
      }

      .timeLink {
        cursor: pointer;
      }

      .line {
        width: 1px;
        height: 22px;
        background: rgba(229, 229, 229, 1);
      }

      img {
        display: inline-block;
        width: 25px;
        height: 14px;
        margin-left: 15px;
        margin-bottom: 2px;
      }
    }
  }

  .course {
    padding: 30px 0;

    .particulars .currentclum {
      padding-left: 43px;
    }
  }

  .el-card {
    width: 330px;
    height: 160px;
    border: none;

    .el-card__body {
      img {
        width: 330px;
        height: 160px;
      }
    }
  }
}
