.newsDetail {
  padding-bottom: 80px;
  width: 100%;
  .headImg {
    width: 100%;
    height: 360px;
    overflow: hidden;
    position: relative;
    img {
      width: 1920px;
      height: 360px;
      position: absolute;
      left: 50%;
      margin-left: -960px;
      top: 0;
    }
  }
  .home {
    cursor: pointer;
  }
  .el-breadcrumb {
    width: 1100px;
    height: 84px;
    line-height: 84px;
    margin: 0 auto;
    font-size: 14px;
  }
  .detail {
    width: 1100px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
    .topbar {
      height: 50px;
      line-height: 50px;
      margin: 0 45px;
      text-align: right;
      border-bottom: 1px solid #E8D6F7;
      span {
        font-size: 14px;
        color: #888;
      }
      img {
        width: 22px;
        height: 22px;
        margin-left: 20px;
        vertical-align: middle;
        cursor: pointer;
        &:nth-child(2) {
          margin-left: 5px;
        }
        &:hover {
          transition: opacity 300ms;
          opacity: 0.6;
        }
      }
    }
    .newsContent {
      h3 {
        font-size: 24px;
        line-height: 30px;
        color: #222;
        text-align: center;
        margin: 59px 45px 0;
      }
      .time {
        font-size: 14px;
        color: #888;
        line-height: 90px;
        text-align: center;
      }
      .newsInner {
        width: 1020px;
        margin: 0 auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #E8D6F7;
        p {
          font-size: 14px;
          color: #222;
          line-height: 30px;
          text-indent: 2em;
          margin-bottom: 30px;
        }
      }
    }
    .next {
      width: 1010px;
      margin: 0 auto;
      height: 95px;
      line-height: 95px;
      span {
        font-size: 16px;
        color: #222;
        cursor: pointer;
        transition: all 300ms;
        &:hover i {
          color: #6417a6;
        }
        &:before {
          content: "";
          display: inline-block;
          width: 7px;
          height: 7px;
          background-color: #222;
          border-radius: 3.5px;
          vertical-align: middle;
          margin-right: 10px;
          margin-top: -3px;
        }
        i {
          display: inline-block;
          height: 95px;
          overflow: hidden;
          width: 400px;
          vertical-align: middle;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.news-list {
  .new-card-on {
    margin-top: 40px;
  }
}
