.outNews {
  padding-top: 30px;
  // height: 490px;

  .outCenter {
    width: 1100px;
    // height: 300px;
    // background-color: #773086;
    margin: 0 auto;
    // zoom: 0.9;
  }

  .center {
    width: 1100px;
    margin: 0 auto;
  }

  .newsItems {
    width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 50px;

    .item {
      position: relative;
      float: left;
      width: 137px;
      height: auto;

      cursor: pointer;
      transition: all 500ms;
      box-sizing: border-box;

      img {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        border: 1px solid #eee;
        border-right: none;
      }

      &:hover {
        z-index: 100;
        box-shadow: 0px 0px 29px rgba(53, 53, 53, .3);
      }

      &:last-child {
        img {
          border-right: 1px solid #eee;

        }
      }
    }
  }
}
