.outNews {
  padding-top: 30px;
  height: 490px;
  background: url('https://static-image.1911edu.com/home-bottom.png') no-repeat;
  background-size: 100% 564px;

  .outCenter {
    width: 1200px;
    height: 300px;
    background-color: #773086;
    margin: 0 auto;
    zoom: 0.9;
  }

  .center {
    width: 1100px;
    margin: 0 auto;
  }

  .newsItems {
    width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 50px;

    .item {
      position: relative;
      float: left;
      width: 275px;
      height: 150px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      transition: all 500ms;

      img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        z-index: 100;
        box-shadow: 0px 0px 29px rgba(53, 53, 53, .3);
      }
    }
  }
}
