<!-- <div v-if="xid === '1'">
            {{loadCourse}} {{categoryDataChoose}}
            <!-- 选课的课程列表 <v-card :data="categoryData" :config="configSevent"></v-card>-->
<div class="carlist" v-loading="loadCourse">
  <v-card :data="categoryDataChoose" v-if="categoryDataChoose.length>0&& xid === '1'" :config="configSevent" @selCheckboxChange="selCheckboxChange"></v-card>
</div>
<!-- 无课程时候显示 -->
<div class="noMsg" v-if="categoryDataChoose.length =0 && !loadCourse">
  <v-nothing></v-nothing>
</div>
<div v-show="categoryDataChoose.length !=0&&xid === '1'" class="allChecked" @click="allChecked">全选</div>
<!-- </div> -->
