# Editor folders
.svn/
.idea/
.vscode/
.phpstorm.meta.php
_ide_helper.php
.project/
.settings/
nbproject/
xcuserdata/
._*
.cache
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
.classpath
.tags
jsconfig.json

# OS
.DS_Store
Thumbs.dbgit
.Trashes
*.swp

# node
node_modules
npm-debug.log
.nuxt
dist/
#.env
