.cadreCollege {
  width: 100%;
  background-color: #fff;
  color: #222;

  .vipBanner {
    position: relative;
    height: 420px;
    margin: 0 auto;
    background: url('https://static-image.1911edu.com/cadreCollege_banner.png') no-repeat;
    background-size: 1920px 420px;
    background-position: center center;
  }

  .container {
    background: url("https://static-image.1911edu.com/cadreCollege_bg.png") no-repeat;
    background-size: cover;

    .intro {

      width: 1100px;
      margin: 0 auto;
      padding: 120px 70px 0;
      position: relative;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        width: 69px;
        height: 43px;
        position: absolute;
        background: url("https://static-image.1911edu.com/cadreCollege_icon1.png") no-repeat;
        background-size: cover;
      }

      &:before {
        top: 50px;
        left: 0;
      }

      &:after {
        bottom: 0;
        right: 0;
      }

      p {
        text-indent: 2em;
        font-size: 18px;
        line-height: 34px;
        position: relative;
      }
    }

    .studyInfo {
      padding: 1px 0 60px;
      margin-top: 60px;
      background: url("https://static-image.1911edu.com/cadreCollege_study.png") no-repeat;
      background-size: 1920px auto;
      background-position: top;


      .group {
        width: 1164px;
        margin: 120px auto 0;
        background: url("https://static-image.1911edu.com/cadreCollege_teacherBg.png") no-repeat;
        background-size: contain;
        padding-bottom: 90px;
        text-align: center;

        img {
          width: 207px;
          height: 207px;
          margin-top: -75px;
        }

        h4 {
          font-size: 36px;
          line-height: 36px;
          margin: 40px 0 36px;
        }

        p {
          font-size: 18px;
          line-height: 36px;
          text-indent: 2em;
          padding: 0 80px;
          text-align: left;
        }
      }


      .main {
        width: 1100px;
        margin: 0 auto;
      }

      h2 {
        color: #f94c00;
        font-size: 36px;
        text-align: center;
        font-weight: 700;
        margin: 60px 0 50px 0;
        font-weight: bold;

        &:before,
        &:after {
          content: '';
          display: inline-block;
          width: 50px;
          height: 43px;
          vertical-align: middle;
          margin: 0 25px;
        }

        &:before {
          background: url("https://static-image.1911edu.com/cadreCollege_flag2.png") no-repeat;
          background-size: cover;
          transform: rotateY(180deg);
        }

        &:after {
          background: url("https://static-image.1911edu.com/cadreCollege_flag2.png") no-repeat;
          background-size: cover;
        }

        &.first,
        &.studyH2 {
          color: #fff;

          &:before {
            background: url("https://static-image.1911edu.com/cadreCollege_flag1.png") no-repeat;
            background-size: cover;
            transform: rotateY(180deg);
          }

          &:after {
            background: url("https://static-image.1911edu.com/cadreCollege_flag1.png") no-repeat;
            background-size: cover;
          }
        }
      }

      .product {
        .list {
          display: flex;
          justify-content: center;
          text-align: center;

          div {
            width: 210px;
            margin: 0 30px;
          }

          img {
            width: 66px;
            height: 66px;
          }

          p {
            font-size: 20px;
            line-height: 34px;
          }
        }

        .centerBar {
          width: 1000px;
          height: 80px;
          line-height: 80px;
          font-size: 18px;
          color: #fff;
          text-align: center;
          margin: 20px auto 0;
          background: #4862C7;
          transform: skewX(-20deg);

          p {
            transform: skewX(20deg);
          }
        }

      }

      .object {
        height: 90px;
        line-height: 90px;
        margin-top: 55px;
        background: url("https://static-image.1911edu.com/cadreCollege_object.png") no-repeat;
        background-size: cover;

        .left {
          width: 365px;
          text-align: center;
          vertical-align: middle;
          color: #fff;
          font-size: 34px;
          font-weight: bold;
        }

        .right {
          width: 500px;
          font-size: 24px;
          vertical-align: middle;
          margin-left: 80px;
        }
      }

      .study {
        width: 100%;
        margin-top: 68px;
        background: linear-gradient(-40deg, rgba(67, 162, 202, 1) 0%, rgba(73, 92, 160, 1) 100%);
        border-top: 1px solid #fff;

        h2 {
          margin: 50px 0 30px;
        }

        ul {
          width: 1000px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }

        li {
          width: 310px;
          font-size: 18px;
          line-height: 50px;
          margin: 0 0 23px;

          //   text-align: center;
          &:nth-child(odd) {
            margin-right: 220px;
            margin-left: 40px;
          }

          span {
            margin-right: 10px;
            color: #fff;

            &:first-child {
              width: 41px;
              height: 39px;
              color: #2537B7;
              line-height: 39px;
              text-align: center;
              background: linear-gradient(0deg, rgba(222, 226, 252, 1) 0%, rgba(255, 255, 255, 1) 100%);
              border-radius: 50%;
            }
          }
        }
      }

      .columns {
        width: 1100px;
        height: 190px;
        padding: 45px 60px;
        font-size: 21px;
        color: #fff;
        line-height: 41px;
        text-indent: 2em;
        margin-top: 35px;
        background: url("https://static-image.1911edu.com/cadreCollege_columns.png") no-repeat;
        background-size: cover;
      }

      .harvest {
        text-indent: 2em;
        font-size: 20px;
        line-height: 34px;
        text-indent: 2em;
        margin-bottom: 30px;
      }

      .college {
        width: 1100px;
        margin: 0 auto;

        p {
          text-align: center;
          font-size: 20px;
          line-height: 34px;
        }

        .collegeList {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 40px;

          .oneImg {
            width: 344px;
            height: 120px;
            margin-bottom: 20px;
          }

          .item {
            width: 344px;
            height: 120px;
            padding: 0 10px;
            text-align: center;
            line-height: 40px;
            font-size: 30px;
            font-weight: 800;
            color: #222;
            border: 1px solid #ccc;
            margin-bottom: 20px;

            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
          }

        }
      }

      .attestation {
        width: 900px;
        margin: 0 auto 40px;

        .left,
        .right {
          float: left;
        }

        .left {
          width: 670px;
          margin-right: 50px;
          margin-top: 26px;

          .circle {
            width: 14px;
            height: 14px;
            background-color: #4856D0;
            margin-right: 15px;
            display: inline-block;
            vertical-align: top;
            margin-top: 13px;
          }

          .text {
            width: 640px;
            display: inline-block;
            font-size: 20px;
            line-height: 34px;
            vertical-align: top;
          }
        }

        .right {
          width: 172px;
          height: 116px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .certification {
        width: 1000px;
        height: 707px;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
