.collegeDetail {
  background-color: #fff;
  padding-bottom: 10px;

  .courseList,
  .project {
    width: 1100px;
    margin: 0 auto;

    .title {
      height: 50px;
      line-height: 50px;
      margin: 35px 0;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
    }

    .more {
      margin: 40px auto 48px;
      width: 130px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      border: 1px solid #888;
      border-radius: 21px;
      color: #666;
      transition: all 360ms;
      cursor: pointer;

      &:hover {
        border-color: #5f068d;
        background-color: #5f068d;
        color: #fff;
      }
    }
  }

  .projectItem {
    margin-bottom: 50px;

    .item {
      width: 535px;
      float: left;
      margin: 0 30px 30px 0;

      .img {
        width: 100%;
        height: 270px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .pTitle {
        line-height: 30px;
        font-size: 24px;
        color: #222;
        font-weight: 500;
        margin: 20px 0 15px 0;

        .tag {
          width: 66px;
          height: 28px;
          margin-right: 10px;
          margin-bottom: -5px;
        }
      }

      .desc {
        font-size: 14px;
        color: #93999F;
      }
    }
  }

  //干部
  &.cadreCollege {
    .title {
      color: #f94c00;

      &:before,
      &:after {
        content: "";
        display: inline-block;
        width: 50px;
        height: 43px;
        vertical-align: middle;
        margin: 0 25px;
      }

      &:before {
        background: url("https://static-image.1911edu.com/cadreCollege_flag2.png") no-repeat;
        background-size: cover;
        transform: rotateY(180deg);
      }

      &:after {
        background: url("https://static-image.1911edu.com/cadreCollege_flag2.png") no-repeat;
        background-size: cover;
      }
    }
  }

  //商学院
  &.commercialCollege {
    .title {
      color: #4855d0;

      &:before,
      &:after {
        content: "";
        display: inline-block;
      }

      &:before {
        width: 23px;
        height: 37px;
        background: url("https://static-image.1911edu.com/college-left.png") no-repeat;
        margin-right: 30px;
        margin-bottom: -15px;
      }

      &:after {
        width: 39px;
        height: 64px;
        background: url("https://static-image.1911edu.com/college-right.png") no-repeat;
        margin-left: 30px;
        margin-bottom: -30px;
      }
    }
  }

  //新闻
  &.newsCollege {
    .title {
      color: #275cbe;

      &:after {
        content: "";
        display: block;
        width: 245px;
        height: 15px;
        margin: 0 auto;
        margin-top: -10px;
        background: url("https://static-image.1911edu.com/newsCo-icon1.png") no-repeat;
      }
    }
  }

  //教育
  &.eduCollege {
    .title {
      color: #215dcc;

      &:before,
      &:after {
        content: "";
        display: inline-block;
        width: 46px;
        height: 30px;
        vertical-align: middle;
        margin: 0 20px;
      }

      &:before {
        background: url("https://static-image.1911edu.com/edu-icon2.png") no-repeat;
        transform: rotate(180deg);
      }

      &:after {
        background: url("https://static-image.1911edu.com/edu-icon2.png") no-repeat;
      }
    }
  }

  //人工智能
  &.smartCollege {
    .title {
      color: #fff;
      height: 68px;
      line-height: 68px;
      background: url("https://static-image.1911edu.com/smartCollege_barbig.png") no-repeat;
      background-size: contain;
      background-position: 50%;
    }
  }

  //体育
  &.sportsCollege {
    .title {
      color: #fc3e32;

      &:after,
      &:before {
        content: "";
        display: inline-block;
        width: 150px;
        height: 14px;
        vertical-align: middle;
      }

      &:before {
        margin-right: 20px;
        margin-bottom: 3px;
        background: url(https://static-image.1911edu.com/sportCollege_icon4.png) no-repeat;
        background-size: cover;
        transform: rotateY(180deg);
      }

      &:after {
        margin-left: 20px;
        margin-bottom: 3px;
        background: url(https://static-image.1911edu.com/sportCollege_icon4.png) no-repeat;
        background-size: cover;
      }
    }
  }

  //健康
  &.healthCollege {
    .title {
      color: #0d52a1;

      &:before,
      &:after {
        content: "";
        display: inline-block;
        width: 122px;
        height: 44px;
        vertical-align: middle;
        margin: 0 25px;
        background: url("https://static-image.1911edu.com/healthCollege_icon3.png") no-repeat;
        background-size: cover;
      }

      &:before {
        transform: rotateY(180deg);
      }
    }
  }

  //国学院
  &.chineseCollege {
    .title {
      height: 68px;
      background: url("https://static-image.1911edu.com/chineseCollege_title.png") no-repeat;
      background-size: contain;
      background-position: 50%;
    }
  }
}
