.commercialCollege {
  .commer-banner {
    width: 100%;
    height: 425px;
    background: url('https://static-image.1911edu.com/commer-banner.png') no-repeat;
    background-size: 1920px 425px;
    background-position: center;
  }

  .commer-con {
    .commerWidth {
      width: 1100px;
      margin: 0 auto;
    }

    .pCss {
      font-size: 18px;
      color: #222;
      line-height: 34px;
      text-indent: 2em;
      font-weight: 500;
    }

    h4.commer-title {
      margin: 60px auto 40px;
      text-align: center;

      span {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        color: #4855d0;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 23px;
        height: 37px;
        background: url("https://static-image.1911edu.com/college-left.png") no-repeat;
        margin-right: 30px;
        margin-bottom: -15px;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 39px;
        height: 64px;
        background: url("https://static-image.1911edu.com/college-right.png") no-repeat;
        margin-left: 30px;
        margin-bottom: -30px;
      }
    }

    .commer-one {
      background: #fff url('https://static-image.1911edu.com/commer-bg1.png') no-repeat center bottom;
      padding-top: 45px;
      padding-bottom: 40px;

      .one-top {
        position: relative;
        padding: 45px;

        p {
          width: 985px;
          margin: 0 auto;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 53px;
          height: 53px;
          background: url('https://static-image.1911edu.com/commer-pic1.png') no-repeat;
          background-size: 53px 53px;
          transform: rotate(180deg);
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 53px;
          height: 53px;
          background: url('https://static-image.1911edu.com/commer-pic1.png') no-repeat;
          background-size: 53px 53px;
          transform: rotate(0deg);
        }
      }

      .one-center {
        height: 90px;
        line-height: 90px;
        margin-top: 40px;
        background: url("https://static-image.1911edu.com/commer-pic5.png") no-repeat;
        background-size: cover;

        .left {
          width: 365px;
          text-align: center;
          vertical-align: middle;
          color: #fff;
          font-size: 34px;
          font-weight: bold;
        }

        .right {
          width: 500px;
          font-size: 24px;
          vertical-align: middle;
          margin-left: 80px;
        }
      }

      .one-bottom {
        .list {
          display: flex;
          justify-content: center;
          text-align: center;

          div {
            width: 170px;
            margin: 0 20px;

            &:nth-child(5) {
              width: 195px;
            }
          }

          img {
            width: 66px;
            height: 66px;
          }

          p {
            font-size: 20px;
            line-height: 34px;
          }
        }

        .centerBar {
          width: 1000px;
          height: 80px;
          line-height: 80px;
          font-size: 18px;
          color: #fff;
          text-align: center;
          margin: 20px auto 0;
          background: #4862C7;
          transform: skewX(-20deg);

          p {
            transform: skewX(20deg);
          }
        }

      }
    }

    .commer-two {
      // height: 405px;
      background: url('https://static-image.1911edu.com/commer-bg2.png') no-repeat;
      margin-top: -179px;
      padding-top: 179px;
      padding-bottom: 20px;

      h5 {
        margin: 28px 0 38px;
        text-align: center;
        font-size: 36px;
        color: #fff;
      }

      .commer-title {
        margin-top: 0;
        background-position: center;

        span {
          color: #fff;
        }

        &::before {
          background: url('https://static-image.1911edu.com/commer-left.png') no-repeat;
        }

        &::after {
          background: url('https://static-image.1911edu.com/commer-right.png') no-repeat;
        }
      }

      .pCss {
        width: 1100px;
        margin: 0 auto;
        color: #fff;
      }

      .two-items {
        width: 1000px;
        margin: 0 auto;

        .item {
          float: left;
          width: 320px;
          margin: 0 80px 30px;

          i {
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 18px;
            color: #2537b7;
            background: #000;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #DEE2FC;
          }

          span {
            display: inline-block;
            line-height: 41px;
            font-size: 18px;
            color: #fff;
            font-weight: bold;
            margin-left: 10px;
            vertical-align: middle;
          }
        }
      }
    }

    .commer-three {
      width: 1148px;
      height: 345px;
      margin: 0 auto;
      background: url('https://static-image.1911edu.com/commer-bg3.png') no-repeat;
      background-size: cover;
      position: relative;

      h4.commer-title {
        margin-top: 0;
        padding-top: 75px;
      }

      p.pCss {
        width: 940px;
        margin: 0 auto;
      }
    }

    .teacher {
      width: 1100px;
      margin: 0 auto;

      p {
        text-align: center;
        font-size: 20px;
        line-height: 34px;
      }

      .collegeList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;

        .oneImg {
          width: 344px;
          height: 120px;
          margin-bottom: 20px;
        }
      }
    }

    .commer-four {
      padding-bottom: 15px;

      .four-text {
        width: 920px;
        margin: 0 auto;

        .four-left,
        .four-right {
          float: left;
        }

        .four-left {
          width: 690px;
          margin-right: 50px;
          margin-top: 26px;

          .circle {
            width: 14px;
            height: 14px;
            background-color: #4856D0;
            margin-right: 15px;
            display: inline-block;
            vertical-align: top;
            margin-top: 13px;
          }

          .text {
            width: 660px;
            display: inline-block;
            font-size: 20px;
            line-height: 34px;
            vertical-align: top;
          }
        }

        .four-right {
          width: 172px;
          height: 116px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .four-certification {
        width: 1000px;
        height: 707px;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
