.eduCollege {
  background: url('https://static-image.1911edu.com/edu-bg5.png') no-repeat;
  background-size: 100% 100%;

  .edu-banner {
    height: 660px;
    background: url('https://static-image.1911edu.com/edu-banner.png') no-repeat;
    background-position: center;
    background-size: 1920px 660px;
  }

  .edu-con {
    .pCss {
      font-size: 18px;
      line-height: 36px;
      font-weight: 500;
      color: #222;
      text-indent: 2em;
    }

    .eduWidth {
      width: 1100px;
      margin: 0 auto;
    }

    h4.edu-title {
      margin: 80px auto 50px;
      text-align: center;

      span {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        color: #215dcc;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 46px;
        height: 30px;
        background: url("https://static-image.1911edu.com/edu-icon2.png") no-repeat;
        margin-right: 20px;
        transform: rotate(180deg);
        vertical-align: middle;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 46px;
        height: 30px;
        background: url("https://static-image.1911edu.com/edu-icon2.png") no-repeat;
        vertical-align: middle;
        margin-left: 20px;
      }
    }

    .edu-one {
      width: 980px;
      margin: 0 auto;
      padding: 60px 0;
    }

    .edu-two {
      background: url("https://static-image.1911edu.com/edu-bg2.png") no-repeat;
      background-size: cover;
      padding: 0 0 70px 0;

      .two-con {
        width: 900px;
        margin: 0 auto;

        h4.edu-title {
          margin-top: 0;
          padding-top: 100px;

          span {
            color: #fff;
          }
        }
      }

      .two-items {
        // width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        justify-content: center;

        .item {
          margin-right: 80px;
          text-align: center;

          .people-icon {
            width: 64px;
            height: 64px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 20px;

            img {
              width: 100%;
            }
          }

          .people-text {
            font-size: 20px;
            color: #fff;
            text-align: center;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .product {
      width: 1100px;
      margin: 0 auto;

      .list {
        display: flex;
        justify-content: center;
        text-align: center;

        div {
          width: 180px;
          margin: 0 15px;
        }

        img {
          width: 66px;
          height: 66px;
        }

        p {
          font-size: 20px;
          line-height: 34px;
        }
      }

      .centerBar {
        width: 1000px;
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin: 20px auto 0;
        background: #4862C7;
        transform: skewX(-20deg);

        p {
          transform: skewX(20deg);
        }
      }
    }

    .target {
      width: 1100px;
      margin: 70px auto;
      padding: 1px 57px 65px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 5px 32px 0px rgba(233, 131, 29, 0.11);
      border-radius: 10px;

      .centerBar {
        font-size: 18px;
        line-height: 36px;
        text-indent: 2em;
      }
    }

    .edu-three {
      .college {
        width: 1100px;
        margin: 0 auto;

        p {
          text-align: center;
          font-size: 20px;
          line-height: 34px;
        }

        .collegeList {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 40px;

          .oneImg {
            width: 344px;
            height: 120px;
            margin-bottom: 20px;
            margin-right: 30px;

            &:nth-child(3),
            &:nth-child(5) {
              margin-right: 0;
            }
          }
        }
      }

      .three-bottom {
        padding-bottom: 70px;

        .three-text {
          width: 940px;
          margin: 0 auto;

          .three-left,
          .three-right {
            float: left;
          }

          .three-left {
            width: 710px;
            margin-right: 50px;
            margin-top: 26px;

            .circle {
              width: 14px;
              height: 14px;
              background-color: #215DCC;
              margin-right: 15px;
              display: inline-block;
              vertical-align: top;
              margin-top: 13px;
            }

            .text {
              width: 680px;
              display: inline-block;
              font-size: 20px;
              line-height: 34px;
              vertical-align: top;
            }
          }

          .three-right {
            width: 172px;
            height: 116px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .three-certification {
          width: 1000px;
          height: 707px;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
