.healthCollege {
  width: 100%;
  padding: 0 0 20px;
  background-color: #fff;
  color: #222;

  .vipBanner {
    position: relative;
    height: 660px;
    margin: 0 auto;
    background: url('https://static-image.1911edu.com/healthCollege_banner.png') no-repeat;
    background-size: 1920px 660px;
    background-position: center;
  }

  .container {
    .intro {
      width: 1100px;
      margin: 0 auto;
      padding: 120px 70px 80px;
      position: relative;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        width: 102px;
        height: 98px;
        position: absolute;
      }

      &:before {
        top: 50px;
        left: 0;
        background: url("https://static-image.1911edu.com/healthCollege_icon1.png") no-repeat;
        background-size: cover;
      }

      &:after {
        bottom: 60px;
        right: 0;
        background: url("https://static-image.1911edu.com/healthCollege_icon2.png") no-repeat;
        background-size: cover;
      }

      p {
        text-indent: 2em;
        font-size: 18px;
        line-height: 34px;
        position: relative;
      }
    }

    .studyInfo {
      background: url("https://static-image.1911edu.com/healthCollege_bg1.png") no-repeat;
      background-size: 1920px auto;
      background-position: top;
      padding-top: 62px;

      .object {
        width: 1100px;
        height: 90px;
        line-height: 90px;
        margin-top: 55px;
        background: url("https://static-image.1911edu.com/healthCollege_object.png") no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 20px 0px rgba(6, 146, 45, 0.25);

        .left {
          width: 365px;
          text-align: center;
          vertical-align: middle;
          color: #fff;
          font-size: 34px;
          font-weight: bold;
        }

        .right {
          width: 540px;
          font-size: 24px;
          vertical-align: middle;
          margin-left: 80px;
        }
      }

      .main {
        width: 1100px;
        margin: 0 auto;


      }

      h2 {
        color: #0d52a1;
        font-size: 36px;
        text-align: center;
        font-weight: 700;

        &:before,
        &:after {
          content: '';
          display: inline-block;
          width: 122px;
          height: 44px;
          vertical-align: middle;
          margin: 0 25px;
        }

        &:before {
          background: url("https://static-image.1911edu.com/healthCollege_icon3.png") no-repeat;
          background-size: cover;
          transform: rotateY(180deg);
        }

        &:after {
          background: url("https://static-image.1911edu.com/healthCollege_icon3.png") no-repeat;
          background-size: cover;
        }

        &.first {
          color: #fff;

          &:before {
            background: url("https://static-image.1911edu.com/healthCollege_icon4.png") no-repeat;
            background-size: cover;
            transform: rotateY(180deg);
          }

          &:after {
            background: url("https://static-image.1911edu.com/healthCollege_icon4.png") no-repeat;
            background-size: cover;
          }
        }
      }

      .group {
        width: 1100px;
        height: 362px;
        background: url("https://static-image.1911edu.com/healthCollege_teacher.png") no-repeat;
        background-size: contain;
        margin: 56px 0 86px;

        .professor {
          width: 750px;
          color: #222;
          margin-left: 308px;

          h4 {
            font-size: 36px;
            line-height: 36px;
            padding: 50px 0 38px;
          }

          p {
            width: 730px;
            font-size: 18px;
            line-height: 36px;
          }
        }
      }

      // .object {
      //   margin-top: 85px;
      //   display: flex;
      //   justify-content: space-between;
      //   flex-wrap: wrap;

      //   div.clearfix {
      //     width: 50%;
      //     margin-bottom: 32px;

      //     img {
      //       width: 64px;
      //       height: 64px;
      //       margin-right: 28px;
      //     }

      //     div {
      //       h5 {
      //         color: #04a749;
      //         font-size: 26px;
      //         line-height: 36px;
      //         margin-top: 12px;
      //       }

      //       p {
      //         width: 395px;
      //         margin-top: 24px;
      //         font-size: 18px;
      //         line-height: 30px;
      //       }
      //     }
      //   }
      // }

      .centerBg {
        background: url("https://static-image.1911edu.com/healthCollege_bg2.png") no-repeat;
        background-size: 1920px auto;
        background-position: bottom;
        padding: 89px 0 60px;
        margin-bottom: 50px;
        background-color: #fafcfe;
      }

      .study {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 75px;

        li {
          width: 50%;
          font-size: 20px;
          line-height: 36px;
          margin-bottom: 25px;

          span {
            margin-right: 10px;

            &:first-child {
              width: 42px;
              height: 48px;
              color: #fff;
              line-height: 48px;
              text-align: center;
              background: url("https://static-image.1911edu.com/healthCollege_icon11.png") no-repeat;
              background-size: cover;
            }
          }

          &.left {
            width: 45%;
          }

          &.right {
            width: 55%;
          }
        }
      }

      .production {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 40px 0 60px 0;

        .item {
          width: 180px;
          text-align: center;
          margin: 0 20px;

          img {
            display: block;
            width: 66px;
            height: 66px;
            margin: 0 auto;
          }

          p {
            font-size: 20px;
            color: #222;
            margin-top: 25px;
            line-height: 34px;
          }
        }
      }

      .centerBg-text {
        width: 1000px;
        padding: 0 50px;
        height: 80px;
        background-color: #04A749;
        transform: skewX(-20deg);
        margin: 30px auto 70px;

        p {
          font-size: 18px;
          color: #fff;
          line-height: 80px;
          text-align: center;
          transform: skewX(20deg);

        }
      }

      .teacherText {
        text-align: center;
        margin: 40px 0;
        font-size: 20px;
      }

      .school {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;

        img {
          display: inline-block;
          width: 345px;
          height: 120px;
          margin-right: 30px;
          margin-bottom: 20px;

          &:nth-child(3n+3),
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .columns {
        width: 1100px;
        padding: 38px 60px;
        font-size: 18px;
        color: #fff;
        line-height: 36px;
        text-indent: 2em;
        margin: 40px 0 60px;
        background: url("https://static-image.1911edu.com/healthCollege_icon12.png") no-repeat;
        background-size: 100%;
      }

      .harvest {
        text-indent: 2em;
        font-size: 20px;
        line-height: 34px;
        text-indent: 2em;
        margin-top: 60px;

        img {
          width: 236px;
          height: 224px;
          margin-left: 60px;
        }

        p {
          width: 690px;
          margin-top: 42px;
          font-size: 18px;
          line-height: 36px;
          text-indent: 2em;
        }
      }

      .attestation {
        width: 100%;
        // margin: 0 auto 40px;
        padding-top: 40px;
        background-color: #fff;

        h2 {
          margin: 0 auto 36px;
        }

        .clearfix {
          width: 1025px;
          margin: 0 auto;

          .left {
            width: 768px;
            margin-right: 50px;
            margin-top: 28px;

            .circle {
              display: inline-block;
              width: 14px;
              height: 14px;
              margin: 13px 15px 0 14px;
              background-color: #1a3b94;
              vertical-align: top;
            }

            .text {
              width: 723px;
              display: inline-block;
              font-size: 20px;
              line-height: 34px;
              vertical-align: top;
            }
          }

          .right {
            width: 172px;
            height: 116px;

            img {
              width: 100%;
            }
          }
        }
      }

      .certification {
        width: 1000px;
        height: 707px;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }
    }
  }
}
