.coreAdvantage {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;

	.top {
		width: 79%;
		float: right;
		// height: 200px;

		h1 {
			float: right;
			width: 100%;
			font-size: 30px;
			color: #222;
			font-weight: bold;
			margin-bottom: 20px;
			padding-top: 9%;
		}

		p {
			float: right;
			width: 100%;
			font-size: 16px;
			color: #555;
		}
	}

	.left {
		flex: 1;
	}

	.right {
		flex: 1;
		position: relative;
		width: 50%;
		// height: 625px;
		.rightCon {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
