.elegance {
  .eleganceList {
    height: 414px;
    background: url('https://static-image.1911edu.com/eleganceBG.png') no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: relative;
  }
}
