// 师资智库
.teachers {
  width: 100%;
  height: 860px;
  background: url('http://papn9j3ys.bkt.clouddn.com/teacherResource.png')
    no-repeat;
  background-size: 100% 100%;
  .title h1 {
    color: #fff;
  }
  .cardList {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    .item {
      // float: left;
      display: inline-block;
      height: 275px;
      width: 225px;
      // border: 1px solid;
      text-align: center;
      margin-right: 60px;
      .item-img {
        width: 160px;
        height: 160px;
        background-color: #fff;
        // border: 4px solid #fff;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        transition: all 0.5s;
        img {
          width: 150px;
          height: 150px;
          margin-top: 5px;
          transition: all 0.5s;
        }
      }
      .item-desc {
        margin-top: 30px;
        color: #fff;
        p {
          line-height: 30px;
        }
        .name {
          font-size: 18px;
        }
        .graudate {
          font-size: 14px;
        }
      }
      &:first-child {
        margin-left: 60px;
      }
      &:hover {
        .item-img {
          background-color: #2a85eb;
          transform: scale(1.1);
        }
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
