// 师资智库
.teachers {
  width: 100%;
  background: url('https://static-image.1911edu.com/teacherResource.png') no-repeat;
  background-size: 100% 100%;

  .title h1 {
    color: #fff;
  }

  h1 {
    width: 1100px;
    margin: 0 auto;
    color: #fff;
    padding: 70px 0px 50px;

    .title {
      padding-top: 10px;
    }

    .moredata {
      width: 128px;
      height: 40px;
      line-height: 38px;
      text-align: center;
      border: 1px solid #888;
      border-radius: 20px;
      font-size: 16px;
      color: #fff;
      transition: all 300ms;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #5f068d;
        border-color: #5f068d;
      }
    }
  }

  .cardList {
    width: 1200px;
    margin: 0 auto;
    text-align: center;

    .item {
      // float: left;
      display: inline-block;
      vertical-align: top;
      height: 290px;
      width: 225px;
      // border: 1px solid;
      text-align: center;
      margin-right: 60px;
      margin-bottom: 30px;

      .item-img {
        width: 156px;
        height: 156px;
        // background-color: #fff;
        background-color: rgba(255, 255, 255, 0.3);
        // border: 4px solid #fff;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        transition: all 300ms;
        margin-bottom: 30px;

        img {
          display: inline-block;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-top: 3px;
          transition: all 300ms;
        }
      }

      .item-desc {
        color: #fff;

        span {
          display: block;
          // line-height: 30px;
        }

        .name {
          font-size: 18px;
          margin-bottom: 18px;
        }

        .graudate {
          font-size: 14px;
          line-height: 30px;
        }
      }

      &:first-child {
        margin-left: 60px;
      }

      &:hover {
        .item-img {
          background-color: #2a85eb;
          transform: scale(1.1);
        }

        // img {
        //   transform: scale(1.1);
        // }
      }
    }
  }
}
