.allInfo {
  height: auto;
  width: 100%;
  overflow: hidden;
  .recommend {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: linear-gradient(to right, #5e00b5, #e91351);
    div {
      width: 1100px;
      margin: 0 auto;
      height: 40px;
      text-align: center;
      line-height: 40px;
      span {
        vertical-align: top;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        margin: 0 20px;
      }
      img {
        width: 52px;
        height: 37px;
      }
      img:first-child {
        width: 53px;
        height: 30px;
      }
    }
    i {
      float: right;
      width: 20px;
      height: 20px;
      margin-top: 10px;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      color: #fff;
      background-color: #6417a6;
    }
  }
  .topImg {
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
    img {
      width: 1920px;
      height: 360px;
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -960px;
    }
  }
  .why {
    height: 603px;
    padding-bottom: 100px;
    background-color: #fff;
    h3 {
      padding: 70px 0 60px;
      text-align: center;
      font-size: 30px;
      color: #222;
    }
    p {
      line-height: 36px;
      text-align: center;
    }
  }
  .course {
    background-color: #fafafa;
    padding-bottom: 60px;
    h3 {
      padding: 98px 0 78px;
      text-align: center;
      font-size: 30px;
      color: #222;
    }
    & > p {
      width: 1100px;
      margin: 0 auto;
      line-height: 36px;
      font-size: 16px;
      color: #222;
    }
    ul {
      padding-top: 60px;
      width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        width: 340px;
        height: 212px;
        background-color: #fff;
        border-radius: 16px;
        margin-bottom: 40px;
        padding: 20px 30px 30px 30px;
        box-shadow: 0px 0px 12px rgba(198, 194, 210, 0.28);
        h5 {
          color: #4e4b5f;
          font-size: 16px;
          line-height: 56px;
          margin-top: 10px;
        }
        h6 {
          font-size: 14px;
          color: #b0aeb8;
        }
        img {
          width: 54px;
          height: 78px;
        }
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          img {
            width: 50px;
            height: 69px;
            margin-top: 10px;
          }
        }
        h4 {
          color: #4f4c60;
          font-size: 18px;
          margin-top: 30px;
          span {
            color: #6417a6;
            font-size: 14px;
          }
        }
      }
    }
  }
  .psrocess {
    background-color: #fff;
    padding-bottom: 100px;
    h3 {
      padding: 98px 0 78px;
      text-align: center;
      font-size: 30px;
      color: #222;
    }
    .route {
      width: 1100px;
      margin: 0 auto;
      p {
        height: 76px;
        line-height: 76px;
        font-size: 20px;
        color: #222;
        img {
          width: 25px;
          height: 20px;
        }
        &:nth-child(3) img {
          width: 20px;
          margin-right: 10px;
        }
      }
      h5 {
        height: 34px;
        line-height: 34px;
        span {
          margin-right: 20px;
          background-color: #f1e9f8;
          padding: 0 10px 0 30px;
          font-size: 0;
          position: relative;
          margin-bottom: 15px;
          vertical-align: top;
          &:first-child i.before {
            color: #f1e9f8;
          }
          i {
            vertical-align: middle;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: auto;
            &.word {
              display: inline-block;
              width: auto;
              height: 34px;
              line-height: 34px;
              padding: 0 10px;
              font-size: 14px;
              color: #222;
            }
            &.icon {
              font-size: 53px;
              height: 34px;
              position: absolute;
              top: -9px;
              right: -33px;
              color: #f1e9f8;
            }
            &.before {
              position: absolute;
              top: -10px;
              left: -20px;
              color: #fff;
            }
            &.after {
              position: absolute;
              top: -9px;
              right: -33px;
            }
          }
        }
      }
    }
  }
  .bottomForm {
    height: 561px;
    position: relative;
    img {
      width: 1920px;
      height: 561px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -960px;
    }
    .word {
      width: 1100px;
      position: absolute;
      top: 80px;
      left: 50%;
      margin-left: -550px;
      p {
        float: right;
        width: 640px;
        line-height: 30px;
        color: #fff;
      }
    }
    .el-form {
      width: 640px;
      padding-top: 100px;
      position: absolute;
      right: 0;
      top: 0;
      .el-button.el-button--primary {
        float: right;
        width: 264px;
        height: 40px;
        background-color: #6417a6;
        font-size: 14px;
        margin-right: 80px;
        color: #fff;
        border-radius: 6px;
      }
      .code {
        width: 140px;
        height: 38px;
        line-height: 38px;
        background-color: #fff;
        text-align: center;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        position: absolute;
        right: 1px;
        top: 1px;
        color: #6417a6;
        cursor: pointer;
      }
    }
  }
}
