// @import './evaluate';
@import './famous'; //名师智库
@import './info'; //学堂资讯
// @import './partner';
@import './banner';
@import './backtotop';
// @import './forgotpassword'; //忘记密码
@import './free'; //免费专区
@import './classic';
@import './new';
@import './newcourse';

@import '../project/shortList';
