.home-info {
  position: relative;
  background: url('https://static-image.1911edu.com/home-news.png') no-repeat left center;
  background-size: 50% 625px;

  .newsUl {
    height: 466px;

    .newsCarousel {
      width: 520px;
      height: 406px;
      overflow: hidden;
      transition: all 400ms;
      box-shadow: 0px 0px 12px rgba(198, 194, 210, 0.28);

      .newsLi {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;

        .newImg {
          width: 100%;
          height: 242px;
          overflow: hidden;

          .outImg {
            width: 100%;
            height: 242px;
            transition: all 400ms;
          }
        }

        .info {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 164px;
          background-color: #fff;

          h4 {
            width: 100%;
            font-size: 20px;
            padding: 0 20px;
            overflow: hidden;
            color: #222;
            background-color: #fff;
            margin: 18px 0 10px 0;
          }

          p {
            width: 100%;
            height: 85px;
            overflow: hidden;
            font-size: 14px;
            color: #93999f;
            line-height: 22px;
            padding: 0 20px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }
        }

        &:hover {
          .outImg {
            transform: scale(1.2);
          }

          h4 {
            color: #5f068d;
          }
        }
      }
    }
  }

  .line {
    width: 50%;
    height: 1px;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: 117px;
  }

  .info-list {
    float: right;

    .el-card {
      border: none;
    }

    .info {
      width: 550px;
      // border-top: 1px solid #eee;
      // border-bottom: 1px solid #eee;
      // padding: 18px 0;
      transition: all 360ms ease-in-out;
      cursor: pointer;

      .info-box {
        overflow: hidden;

        .titleImg {
          width: 210px;
          height: 98px;
          margin-right: 20px;
          transition: all 300ms;
        }

        .time {
          float: left;
          width: 130px;
          height: 140px;
          border-right: 1px solid #eee;
          text-align: center;
          transition: all 360ms ease-in-out;

          .day {
            width: 100%;
            font-size: 24px;
            color: #222;
            // margin-bottom: 10px;
            margin-top: 35px;
          }

          .year {
            width: 100%;
            font-size: 18px;
            color: #a2a2a2;
            margin-top: 15px;
          }
        }

        div.infoRight {
          width: 360px;
          height: 140px;
          padding-left: 27px;

          h4 {
            display: inline-block;
            width: 360px;
            // height: 48px;
            line-height: 24px;
            font-size: 16px;
            color: #222;
            transition: all 500ms;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin-top: 28px;
          }

          p {
            display: inline-block;
            width: 360px;
            height: 50px;
            font-size: 14px;
            margin-top: 10px;
            line-height: 24px;
            color: #93999f;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }

      &:hover {
        box-shadow: 6px 0px 29px rgba(53, 53, 53, 0.09);

        h4 {
          color: #773084;
        }

        .time {
          background-color: #773084;

          .day,
          .year {
            color: #fff;
          }
        }
      }

      &:nth-child(2) {
        border: none;
      }
    }
  }
}
