.teacherCategory {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 10px;
  .title {
    width: 70px;
    display: inline-block;
    font-size: 14px;
    color: rgba(34, 34, 34, 1);
  }
  ul {
    width: 1025px;
    display: inline-block;
    vertical-align: top;
    li {
      list-style: none;
      display: inline-block;
      font-size: 14px;
      padding-right: 17px;
      cursor: pointer;
      span {
        background-color: #773084;
      }
      .el-button {
        padding: 8px 10px;
        border-radius: 6px;
        color: #222222;
        font-weight: 400;
        background-color: #ebe7ed;
        border: none;
      }
      &:hover {
        .el-button {
          background-color: #5f068d;
          color: #fff;
        }
      }
      &.btnBg {
        .el-button {
          background-color: #773084;
          color: #fff;
          border: none;
        }
      }
    }
  }
  .college {
    height: 78px;
    border-bottom: 1px rgba(232, 214, 247, 1) solid;
    .title {
      height: 78px;
      line-height: 78px;
    }
    li {
      line-height: 78px;
    }
  }
  .classification {
    border-bottom: 1px rgba(232, 214, 247, 1) solid;
    .title {
      height: 50px;
      line-height: 50px;
    }
    li {
      line-height: 50px;
    }
  }
  .unit {
    line-height: 50px;
  }
}
