.home-teacher {
  .teacher {
    background-color: #fafafa;
  }
  .tcInfo {
    width: 100%;
    height: 458px;
    padding-top: 42px;
    overflow: hidden;
    position: relative;
  }
  .tcInfo>img {
    position: absolute;
    width: 1920px;
    height: 458px;
    left: 50%;
    margin-left: -960px;
    top: 0;
    z-index: 1;
  }
  .tcInfo div {
    z-index: 2;
    position: absolute;
    left: 50%;
    width: 1100px;
    margin-left: -550px;
  }
  .tcInfo p {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    background-color: #ba94ea;
  }
  .tcInfo p img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 5px;
  }
  .tcInfo h4 {
    height: 80px;
    line-height: 80px;
    color: #fff;
    text-align: center;
  }
  .tcInfo h5 {
    font-size: 16px;
    color: #fff;
    text-align: center;
  }
  .tcInfo h6 {
    width: 660px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .courseList h3 {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    color: #222;
  }
  .courseList .list {
    width: 1100px;
    margin: 0 auto;
    padding: 0 0 100px;
  }
}
