.VIP-con {
  .vipBanner {
    position: relative;
    height: 440px !important;
    // background: url(http://papn9j3ys.bkt.clouddn.com/network-bg.png) no-repeat;
    // background-size: 1920px 440px;
    // background-position: center center;
  }
  .netWork {
    background: url(http://papn9j3ys.bkt.clouddn.com/network-bg.png) no-repeat;
    background-size: 1920px 440px;
    background-position: center center;
  }
  .online {
    background: url(http://papn9j3ys.bkt.clouddn.com/online-bg.png) no-repeat;
    background-size: 1920px 440px;
    background-position: center center;
  }
  .con-detail {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 80px;
    overflow: hidden;
    .conImg {
      width: 1100px;
      height: 1650px;
    }
  }

  .btns {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 1100px;
    height: 80px;
    line-height: 80px;
    border-radius: 50px;
    background-color: #ffaa07;
    &.bottomHeight {
      position: absolute;
      bottom: 1px;
    }
    .text {
      color: #fff;
      font-weight: 700;
      margin-left: 50px;
      font-size: 24px;
    }
    .btn-item {
      float: right;
      margin-right: 35px;
    }
    .button {
      display: inline-block;
      width: 160px;
      height: 50px;
      font-size: 18px;
      line-height: 50px;
      text-align: center;
      border-radius: 25px;
      background-color: #fff;
      margin-right: 30px;
      color: #5e068c;
      cursor: pointer;
      vertical-align: sub;
    }
    .button.active {
      background-color: #5e068c;
      color: #fff;
      // margin-right: 0;
    }
    .btn-three {
      background-color: #1f57fe;
      border: none;
      color: #fff;
      margin-right: 0;
      &:hover {
        background-color: #1f57fe;
      }
    }
  }
  // .join {
  //   width: 200px;
  //   height: 156px;
  //   position: fixed;
  //   bottom: 80px;
  //   right: 30px;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
}
