.VIP-con {
  width: 1100px;
  margin: 0 auto;
  .btns {
    width: 320px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 60px;
    .button {
      display: inline-block;
      width: 130px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 20px;
      border: 1px solid #5e068c;
      margin-right: 60px;
      color: #5e068c;
      cursor: pointer;
      &:hover {
        background-color: #5e068c;
        color: #fff;
      }
    }
    .button.active {
      background-color: #5e068c;
      color: #fff;
      margin-right: 0;
    }
  }
}
