.cardList {
  padding: 20px 40px 40px 40px;

  .process {
    width: 100%;
    background-color: #F7F9FB;
    padding: 30px 20px;
    margin-bottom: 30px;

    img {
      width: 100%;
    }

    .student_pro {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
      margin: 0 18px 50px 0;

      &:nth-child(3n+3) {
        margin-right: 0;
      }

      .headImg {
        width: 260px;
        height: 170px;
        background-color: #ccc;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      .info {
        .fl {
          margin-top: 14px;

          img {
            display: inline-block;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            vertical-align: middle;
            background-color: #ccc;
            margin-right: 5px;
          }

          span {
            display: inline-block;
            max-width: 160px;
            height: 16px;
            overflow: hidden;
            vertical-align: middle;
          }
        }

        .fr {
          line-height: 20px;
          height: 20px;
          padding: 0 5px;
          font-size: 12px;
          border-radius: 10px;
          background-color: #FB6E52;
          color: #fff;
          margin-top: 18px;
        }

        p {
          width: 250px;
          font-size: 16px;
          color: #332a51;
          overflow: hidden;
        }
      }

      .time {
        line-height: 30px;
        color: #93999F;
        font-size: 13px;
      }

      .btn {
        margin-top: 15px;

        .fl {
          font-size: 14px;
          line-height: 26px;
          color: #1C1F21;
        }

        .fr {
          span {
            width: 80px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            border-radius: 4px;
            font-size: 12px;

            &.begin {
              background-color: #844490;
              color: #fff;
              cursor: pointer;
            }

            &.soon {
              border: 1px solid rgba(132, 68, 144, 1);
              color: #844490;
            }

            &.wait {
              background-color: #F5A623;
              color: #fff;
            }

            &.efficacy {
              background-color: #844490;
              color: #fff;
            }

            &.end {
              border: 1px solid #87868B;
              color: #87868B;
            }
          }
        }
      }
    }
  }
}
