.updateTable {

  h4 {
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #E8D6F7;
    padding-left: 40px;
    color: #222;
    font-size: 16px;
    margin-bottom: 30px;

    span {
      &.active {
        color: #844490;
      }
    }

  }

  .con-item {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;

    .fl {
      width: 160px;
      text-align: right;
    }

    .fr {
      width: 680px;
      margin-right: 40px;

      .tel {
        width: 320px;
      }

      .verification {
        width: 320px;
        margin-left: 45px;
      }

      .code {
        background-color: #eee;
        border-radius: 6px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #773084;
        margin-left: 45px;
        cursor: pointer;
        user-select: none;
      }

      .el-date-editor {
        width: 200px;
        display: inline-block;

        &:first-child {
          margin-right: 30px;
        }
      }

      &.selectFr {
        height: 40px;
        position: relative;

        .el-select {
          left: 0;
          right: auto;
          border: 1px solid #dcdfe6;
          margin-top: -10px;
        }
      }
    }

  }

  .el-switch {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    padding-left: 80px;

    .el-switch__core {
      margin-top: 20px;
    }
  }

  .textarea {
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin-bottom: 20px;

    p {
      width: 160px;
      margin-bottom: 14px;
      text-align: right;
    }

    textarea {
      float: right;
      width: 680px;
      margin-right: 40px;
      height: 65px;
      padding: 10px;
      border: 1px solid #dcdfe6;

      &::placeholder {
        color: #c0c4cb;
      }
    }
  }

  .btns {
    padding: 50px 0 30px;
    margin: 0 auto;
    text-align: center;

    .btn {
      width: 160px;
      height: 42px;
      line-height: 42px;
      background-color: #773084;
      color: #fff;
      font-size: 16px;
      border-radius: 21px;
      text-align: center;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        background-color: #5f068d;
      }
    }
  }
}
