.affirmOrder {
  width: 100%;
  position: relative;
  .main {
    margin-top: -50px;
  }
  .contain {
    padding-bottom: 70px;
    background: url('http://papn9j3ys.bkt.clouddn.com/orderBanners.png')
      no-repeat;
    background-position: top center;
    background-size: 100%;
  }
  h3 {
    width: 1100px;
    margin: 0 auto;
    color: #8f4acb;
    font-size: 24px;
    padding: 0 30px;
    line-height: 88px;
    height: 88px;
    // cursor: inherit
  }
  .buyType {
    width: 1100px;
    padding: 0 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
    margin: 0 auto 40px;
    h4 {
      color: #222;
      font-size: 16px;
      line-height: 58px;
    }
    .buy {
      padding-bottom: 20px;
      span {
        width: 88px;
        height: 34px;
        line-height: 34px;
        border-radius: 6px;
        margin-right: 15px;
        color: #222;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        position: relative;
        overflow: hidden;
        border: 1px solid #8f4acb;
        transition: all 300ms;
        border: 1px #8f4acb solid;
        &.checked {
          background-color: #8f4acb;
          border: none;
          color: #fff;
          &:before {
            content: url(http://papn9j3ys.bkt.clouddn.com/checked.png);
            width: 32px;
            height: 32px;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
    .company {
      border-top: 1px solid #e8d6f7;
      span.addCompany {
        color: #8f4acb;
        font-size: 16px;
        cursor: pointer;
      }
      .cpnInfo {
        p {
          color: #6d687f;
          font-size: 14px;
          padding: 0 0 10px; // padding-left: 10px;
        }
        p:last-child {
          padding-bottom: 20px;
        }
        p.addcp {
          text-align: center;
        }
        .cpnInfoLi {
          font-size: 16px;
          color: #6d687f;
          span {
            margin-right: 45px;
          }
        }
      }
    }
  }
  .goodsList {
    width: 1100px;
    margin: 0 auto; // margin-top: 100px;
    .topBar {
      height: 60px;
      line-height: 60px;
      background-color: #ebe7ed;
      padding: 0 30px;
      font-size: 16px;
      color: #222;
      span.fr {
        color: #8f4acb;
        font-size: 14px;
      }
      .goBack {
        cursor: pointer;
      }
      .editOutline {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: -6px;
      }
    }
    .goods {
      width: 1100px;
      margin: 0 auto;
      .oneGoods {
        width: 1100px;
        height: 140px;
        margin-top: 20px;
        padding: 20px 30px;
        background: rgba(255, 255, 255, 1);
        border-radius: 6px;
        box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
        .fl:first-child {
          margin-right: 20px;
        }
        .fl img {
          width: 160px;
          height: 100px;
        }
        .coursePrice {
          float: right;
          display: inline-block;
          width: 100px;
          height: 140px;
          text-align: center;
          color: #ff5f5f;
          font-size: 16px;
          line-height: 78px;
          // margin-left: 158px;
        }
        .courseNumber {
          display: inline-block;
          width: 39px;
          height: 140px;
          text-align: center;
          color: #332a51;
          font-size: 16px;
          line-height: 78px;
          margin-left: 70px;
          i {
            font-size: 12px;
          }
        }
        .bottomImg {
          position: relative;
          .project-img {
            width: 70px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .fl h5 {
          line-height: 25px;
          height: 50px;
          width: 650px;
          overflow: hidden;
          color: #332a51;
          font-size: 16px;
        }
        .fl h6 {
          margin-top: 10px;
          line-height: 20px;
          color: #6d687f;
          font-size: 12px;
        }
        .fl p {
          font-size: 14px;
          line-height: 25px;
          color: #6d687f;
        }
        .fr {
          line-height: 100px;
          font-size: 16px;
          color: #ff5f5f;
        }
      }
    }
    .invoiceMsg {
      margin: 0 30px;
      h4 {
        height: 75px;
        line-height: 75px;
        font-size: 14px;
        color: #222;
        font-weight: 700;
        span {
          font-size: 12px;
          color: #222;
          width: 345px;
          height: 60px;
          line-height: 60px;
          text-align: right;
          padding-right: 20px;
          font-weight: 400;
          background: url('http://papn9j3ys.bkt.clouddn.com/ticketTips.png')
            no-repeat;
        }
      }
      .invoice {
        line-height: 52px;
        font-size: 14px;
        color: #888;
        &.noTicket {
          border-bottom: 1px solid #e8d6f7;
        }
        .changeInvoice {
          color: #6417a6;
          cursor: pointer;
          vertical-align: top;
        }
        .choose {
          margin-right: 30px;
        }
      }
      .ticketInfo {
        width: 1100px;
        margin-left: -30px;
        padding: 10px 30px;
        background-color: #fff;
        border: 1px solid #e8d6f7;
        p {
          line-height: 30px;
          font-size: 14px;
        }
      }
    }
    .orderInfo {
      width: 100%;
      float: right;
      padding-right: 30px;
      margin-top: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e8d6f7;
      h5,
      p {
        color: #222;
        font-size: 14px;
      }
      h5 span {
        margin-right: 20px;
        &:last-child {
          margin: 0;
        }
      }
      p {
        line-height: 28px;
        text-align: right;
      }
      .left {
        width: 120px;
        text-align: right;
      }
      .right {
        width: 180px;
        // height: 30px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        // display: -webkit-box;
        // display: block;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }
  .bottomBtn {
    width: 1100px;
    margin: 0 auto;
    clear: both;
    .allPrice {
      text-align: right;
      color: #ff5f5f;
      font-size: 20px;
      padding: 39px 30px 29px 0;
    }
    .commitOrder {
      float: right;
      width: 160px;
      height: 40px;
      line-height: 40px;
      background-color: #6417a6;
      color: #fff;
      border-radius: 6px;
      text-align: center;
      margin-right: 30px;
      cursor: pointer;
    }
    h6 {
      float: right;
      color: #8f4acb;
      font-size: 14px;
      cursor: pointer;
      text-align: right;
      margin-top: 40px;
      margin-right: 30px;
      clear: both;
    }
  }
}
.invoiceShadow {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  .invoiceInfo {
    width: 740px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 50%;
    overflow-y: auto;
    margin-left: -360px;
    .header {
      padding-left: 53px;
      margin-top: 14px;
      span {
        padding: 8px 21px;
        border: 1px solid #641766;
        transition: all 300ms;
        font-size: 14px;
        color: #222;
        margin-right: 30px;
        cursor: pointer;
        &.checked {
          background-color: #8f4acb;
          border-color: #8f4acb;
          color: #fff;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            right: -1px;
            bottom: -1px;
            width: 24px;
            height: 24px;
            background: url('http://papn9j3ys.bkt.clouddn.com/ok.png') no-repeat;
            background-size: contain;
          }
        }
      }
    }
    h3 {
      height: 58px;
      line-height: 58px;
      padding: 0 30px 0 40px;
      font-size: 16px;
      color: #222;
      border-bottom: 1px solid #e8d6f7;
      i {
        color: #6417a6;
        font-size: 20px;
        margin-top: 19px;
        font-weight: 700;
      }
    }
    .invoiceForm {
      width: 550px;
      margin: 0 auto;
      font-size: 14px;
      margin-top: 16px;
      .formLi {
        margin-bottom: 15px;
        p {
          line-height: 34px;
          input {
            width: 420px;
            height: 34px;
            border: 1px solid #bbbbbb;
            padding: 0 10px;
          }
          &.fl {
            width: 100px;
            font-size: 14px;
            color: #222;
            text-align: right;
            i {
              color: #ff5f5f;
            }
          }
          &.fr {
            width: 420px;
            height: 34px;
            &.addInvoice {
              border: 1px solid #bbbbbb;
              transition: all 300ms;
              input {
                border: none;
                width: 370px;
              }
              span {
                color: #6417a6;
                cursor: pointer;
              }
            }
            &.readyOrderTicket span {
              width: 134px;
              height: 34px;
              line-height: 34px;
              text-align: center;
              background-color: #8f4acb;
              color: #fff;
              position: relative;
              i {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 24px;
                height: 24px;
                background: url('http://papn9j3ys.bkt.clouddn.com/ok.png')
                  no-repeat;
                background-size: contain;
              }
            }
          }
          &.radioBtn {
            i {
              display: none;
              position: absolute;
              right: 0;
              bottom: 0;
              width: 24px;
              height: 24px;
              background: url('http://papn9j3ys.bkt.clouddn.com/ok.png')
                no-repeat;
              background-size: contain;
            }
            span {
              width: 88px;
              height: 32px;
              line-height: 32px;
              text-align: center;
              border-radius: 6px;
              margin-right: 30px;
              cursor: pointer;
              border: 1px solid #6417a6;
              &.checked {
                background-color: #8f4acb;
                border-color: #8f4acb;
                color: #fff;
              }
            }
          }
          &.word {
            clear: both;
            color: #888;
            margin-left: 130px;
            input {
              margin-top: 10px;
            }
            i {
              color: #ff5f5f;
            }
          }
          &.province {
            input {
              width: 120px;
              margin-right: 20px;
            }
            .el-input__suffix {
              right: 25px;
            }
          }
        }
        h6.fr {
          width: 420px;
          height: 34px;
          line-height: 34px;
          padding: 0 10px;
          color: #222;
          border: 1px solid #bbbbbb;
          transition: all 300ms;
        }
        h5 {
          padding-left: 130px;
          color: #6417a6;
          cursor: pointer;
          margin-bottom: 10px;
        }
        &.clearfix .check {
          border: 2px solid #8f4acb !important;
          position: relative;
        }
        .step {
          span {
            padding: 8px 15px;
            color: #aaa;
            border: 1px solid#ddd;
            &.stepCheck {
              color: #222;
              border: 1px solid #6417a6;
            }
          }
          i {
            display: inline-block;
            width: 20px;
            height: 1px;
            margin: 0 10px;
            vertical-align: middle;
            background-color: #6417a6;
          }
        }
        .smallTip {
          font-size: 14px;
          color: #888;
          text-align: center;
        }
      }
      &.zzTicket {
        // width: 610px;
        .stepTwo {
          width: 610px;
          .formLi {
            p {
              &.fl {
                width: 110px;
              }
              &.fr {
                width: 480px;
                height: 34px;
                span.tips {
                  margin-left: 10px;
                  color: #ff5f5f;
                  i {
                    margin-right: 5px;
                  }
                  .el-icon-success {
                    color: #00ba11;
                  }
                }
              }
              input {
                width: 290px;
              }
            }
          }
        }
        .stepThree {
          width: 540px;
          margin: 0 auto;
          input {
            width: 320px;
          }
        }
      }
      .smallTip {
        color: #888;
        text-align: center;
        padding-bottom: 10px;
      }
    }
    .operation {
      text-align: center;
      padding: 8px 0 19px;
      font-size: 14px;
      span {
        width: 150px;
        height: 34px;
        line-height: 34px;
        background-color: #dddddd;
        color: #666;
        cursor: pointer;
        border-radius: 6px;
        transition: all 300ms;
        &:first-child {
          background-color: #6417a6;
          color: #fff;
          margin-right: 30px;
          &:hover {
            background-color: #8f4acb;
          }
        }
      }
    }
  }
}

.information {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  .info {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -227px;
    width: 454px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    .infoTitle h4 {
      border-bottom: 1px solid #e8d6f7;
      height: 76px;
      text-align: center;
      line-height: 76px; // padding-left: 50px;
      color: #6417a6;
    }
    .companyInfo {
      .el-form-item {
        height: 50px;
        margin: 20px 0 10px;
      }
      .el-form-item__content {
        .el-button {
          width: 264px;
          height: 40px;
          border-radius: 6px;
          margin-left: -80px;
          background-color: #6417a6;
          color: #fff;
        }
      }
      .code {
        span {
          float: right;
          width: 118px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 6px;
          background-color: #eee;
          color: #6417a6;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
}
