.checkedCourseList {
  background-color: #fafafa;
  .main {
    width: 886px;
    margin: 0 auto;
    .table {
      .tableHeader {
        height: 60px;
        line-height: 60px;
        background-color: #ebe7ed;
        font-size: 16px;
        color: #222;
        margin-bottom: 40px;
        .table-return {
          font-size: 14px;
          color: #8f4acb;
          margin-left: 30px;
          cursor: pointer;
        }
        .courseName {
          margin-left: 53px;
        }
        .price {
          margin-left: 500px;
        }
        .course-num {
          margin-left: 90px;
        }
        .operation {
          margin-left: 130px;
        }
      }
      .tableBody > div {
        background-color: #fff;
        display: flex;
        align-items: center;
        height: 140px;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
        .el-checkbox {
          line-height: 140px;
        }
        .courseInfo {
          display: inline-block;
          width: 600px;
          margin-left: 32px;
          .course-img {
            float: left;
          }
          img {
            width: 160px;
            height: 100px;
            margin-right: 20px;
          }
          h4 {
            width: 300px;
            height: 42px;
            font-size: 16px;
            color: #332a51;
            overflow: hidden;
            padding: 9px 0 0 10px;
            margin-bottom: 15px;
          }
          h6 {
            color: #6d687f;
            font-size: 12px;
            padding-bottom: 9px;
          }
          p {
            font-size: 14px;
            color: #6d687f;
          }
        }
        .coursePrice {
          display: inline-block;
          width: 100px;
          height: 140px;
          color: #ff5f5f;
          font-size: 16px;
          line-height: 140px;
          margin-left: 20px;
        }
        .courseNum {
          margin-left: 50px;
        }
        .courseNumber {
          display: inline-block;
          width: 100px;
          height: 140px;
          text-align: center;
          color: #ff5f5f;
          font-size: 16px;
          line-height: 78px;
          margin-left: 58px;
        }
        .courseOperation {
          display: inline-block;
          width: 150px;
          height: 140px;
          text-align: center;
          margin-left: 35px;
          line-height: 78px;
          font-size: 16px;
          color: #332a51;
        }
      }
      .tableFooter {
        p {
          font-size: 16px;
          text-align: right;
          color: #222;
          line-height: 30px;
        }
        h4 {
          font-size: 24px;
          color: #ff5f5f;
          font-weight: 700;
          margin-top: 28px;
        }
        text-align: right;
        padding: 30px 30px 50px 0;
        background-color: transparent;
      }
    }
  }
}
