.payPublic {
  width: 100%;
  position: relative;

  .contain {
    min-height: 600px;
    padding-bottom: 70px;
    background: url('https://static-image.1911edu.com/orderBanners.png') no-repeat;
    background-position: top center;

    h3 {
      width: 1100px;
      margin: 0 auto;
      color: #222;
      font-size: 24px;
      padding: 0 5px;
      line-height: 92px;
      height: 92px;
      font-size: 16px;
    }

    .orderInfo {
      font-size: 24px;
      color: #773084;
      line-height: 95px;
    }

    .container {
      width: 1100px;
      margin: 0 auto;
      border-radius: 6px;
      box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);

      h4 {
        height: 56px;
        line-height: 56px;
        font-size: 16px;
        color: #222;
        padding: 0 30px;
        border-bottom: 1px solid #e8d6f7;
      }

      .orderId {
        font-size: 20px;

        .left {
          float: left;
          font-size: 16px;

          .num {
            color: #773084;
            font-weight: 600;
            // font-size: 20px;
          }
        }

        .right {
          float: right;
          color: #fd0e19;
          font-size: 16px;
        }
      }

      .pay {
        padding: 0 30px 10px;
        clear: both;

        h5 {
          line-height: 40px;
          color: #ff5f5f;
          font-size: 16px;
        }

        p {
          line-height: 40px;
          font-size: 14px;

          &.showPay {
            width: 182px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #773084;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;
          }

          &.tips {
            color: #888;

            i {
              color: #ff5f5f;
            }
          }
        }

        h6 {
          margin-top: 30px;
          height: 44px;
          line-height: 44px;
          font-size: 14px;

          i {
            color: #ff5f5f;
          }
        }

        .changeTel {
          span {
            margin-left: 30px;
            color: #3a76ff;
            cursor: pointer;
          }

          p.showTel {
            position: relative;

            i {
              position: absolute;
              left: 50px;
              top: 30px;
              color: #ff5f5f;
            }

            input {
              width: 220px;
              height: 40px;
              padding: 0 10px;
              border: 1px solid #bbbbbb;
              margin-left: 40px;
            }

            span {
              width: 140px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              margin-left: 20px;
              border-radius: 6px;
              background-color: #773084;
              color: #fff;
              cursor: pointer;
            }
          }
        }

        .warn p {
          color: #888;
          line-height: 30px;
        }

        .account {
          font-size: 14px;
          padding: 10px 0;
          background-color: #ebe7ed;

          p {
            line-height: 30px;
            padding-left: 30px;
          }
        }
      }

      p.con-title {
        height: 56px;
        line-height: 56px;
        font-size: 16px;
        color: #222;
      }

      .confirmBtn {
        background-color: #773084;
        font-size: 14px;
        color: #fff;
        width: 160px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 6px;
        margin: 40px auto;
        cursor: pointer;

        &:hover {
          background-color: #5f068d;
        }
      }
    }
  }

  .alertText {
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 30px;
  }

  .bottomBtn {
    margin-top: 40px;
    text-align: center;

    span {
      margin: 0 30px;
      width: 160px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 6px;
      border: 1px solid #773084;
      color: #773084;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: #5f068d;
        color: #fff;
      }

      &:first-child {
        background-color: #773084;
        color: #fff;

        &:hover {
          background-color: #5f068d;
        }
      }
    }
  }
}
