.more {
  width: 1030px;
  height: 60px;
  line-height: 60px;
  color: #773084;
  font-size: 16px;
  margin: 0 auto;
}
.method {
  width: 1030px;
  margin: 0 auto;
  border-bottom: 1px rgba(232, 214, 247, 1) solid;
  .center {
    width: 860px;
    margin: 0 auto;
    height: 120px;
    .payOne {
      float: left;
      width: 230px;
      height: 90px;
      line-height: 90px;
      border-radius: 5px;
      text-align: center;
      border: 1px rgba(242, 242, 242, 1) solid;
      background-color: rgba(242, 242, 242, 1);
      margin-left: 85px;
      position: relative;
      &:first-child {
        margin: 0;
      }
      .payImg {
        width: 228px;
        height: 84px;
        margin-top: 2px;
      }
      .payOk {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 33px;
        height: 32px;
      }
      &.borderColor {
        border-color: #ff5f5f !important;
      }
    }
  }
}
.text {
  font-size: 16px;
  // font-family: '微软雅黑', 'Microsoft Yahei' !important;
  color: rgba(136, 136, 136, 1);
  line-height: 0px;
  margin-top: 30px;
  span {
    font-size: 20px;
    // font-family: '微软雅黑', 'Microsoft Yahei' !important;
    color: rgba(255, 95, 95, 1);
    line-height: 12px;
  }
}
.restTime {
  color: #888888;
  font-size: 14px;
  margin-top: 20px;
  height: 20px;
  line-height: 20px;
  i {
    font-size: 16px;
    margin-right: 10px;
  }
}
.pay {
  margin-top: 20px;
  .el-button {
    background: #773084;
    color: #fff;
    font-size: 14px;
    font-family: '微软雅黑', 'Microsoft Yahei' !important;
    color: rgba(255, 255, 255, 1); // line-height: 25px;
    width: 160px;
    height: 40px;
    border-radius: 6px;
    &:hover {
      background-color: #5f068d;
    }
  }
}
.fk {
  font-size: 14px;
  font-family: '微软雅黑', 'Microsoft Yahei' !important;
  color: #773084;
  line-height: 0px;
  margin-top: 130px;
  margin-right: -160px;
  margin-bottom: 30px;
  cursor: pointer;
}
