.shopCart {
  height: 100%;
  background-color: #fafafa;

  .main {
    position: relative;
    width: 1100px;
    margin: 0 auto;

    .table {
      padding: 40px 0 30px;

      .tableHeader {
        height: 60px;
        line-height: 60px;
        background-color: #ebe7ed;
        font-size: 16px;
        color: #222;
        // margin-bottom: 40px;
        margin-bottom: 20px;

        .courseName {
          margin-left: 120px;
        }

        .price {
          margin-left: 596px;
        }

        .operation {
          margin-left: 126px;
        }
      }

      // .main-table {

      .select-all-course {
        margin-bottom: 20px;
      }

      .tableBody {
        &>div {
          background-color: #fff;
          display: flex;
          align-items: center;
          height: 140px;
          margin-bottom: 20px;
          border-radius: 6px;
          box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);

          .el-checkbox {
            line-height: 140px;
          }

          .courseInfo {
            display: inline-block;
            width: 690px;
            margin-left: 70px;

            .project-img {
              position: relative;

              .pmsg {
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: 28px;
              }
            }

            img {
              width: 160px;
              height: 100px;
              margin-right: 20px;
              cursor: pointer;
            }

            h4 {
              width: 470px;
              height: 42px;
              font-size: 16px;
              color: #332a51;
              overflow: hidden;
              padding-top: 9px;
              margin-bottom: 15px;
              cursor: pointer;
            }

            h6 {
              color: #6d687f;
              font-size: 12px;
              padding-bottom: 9px;
            }

            p {
              font-size: 14px;
              color: #6d687f;
            }
          }

          .coursePrice {
            display: inline-block;
            width: 100px;
            height: 140px;
            text-align: center;
            color: #ff5f5f;
            font-size: 16px;
            line-height: 78px;
          }

          .courseOperation {
            display: inline-block;
            width: 150px;
            height: 140px;
            text-align: center;
            margin-left: 38px;
            line-height: 78px;
            font-size: 16px;
            color: #332a51;
            cursor: pointer;
          }
        }

        &.loseEfficacy {
          &>div {
            background-color: #f6f6f6;
            box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);

            .lost {
              margin-left: 30px;
              width: 79px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              background: rgba(235, 231, 237, 1);
              color: #222;
              font-size: 16px;
            }

            .courseInfo {
              margin-left: 30px;

              h4,
              h6,
              p {
                color: #ccc;
              }
            }

            .coursePrice {
              color: #ccc;
            }
          }
        }
      }

      .select-all-project {
        margin-bottom: 20px;
      }

      .tips {
        width: 1100px;
        margin: 0 auto;
        // height: 50px;
        background-color: #fcf7d9;
        // line-height: 50px;
        margin-bottom: 20px;
        color: #fd7576;

        img {
          width: 19px;
          height: 19px;
          margin: 0 20px 0 32px;
          vertical-align: middle;
        }
      }

      .tableFooterFixed {
        width: 1100px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }

      .tableFooter {
        z-index: 99;
        height: 60px;
        line-height: 60px;
        background-color: #ebe7ed;
        font-size: 16px;
        color: #222;

        .courseNumber {
          margin-left: 47px;

          .deleteChecked {
            font-size: 16px;
            color: #222;
            margin-right: 47px;
            cursor: pointer;
          }

          .el-icon-minus,
          .el-icon-plus {
            color: #fff;
          }

          .person {
            font-size: 16px;
            color: #222;
          }

          .number {
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            // 禁止多次点击选中文本
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;

            span {
              width: 30px;
              height: 30px;
              text-align: center;
              font-size: 30px;
              border: 1px solid #773084;
              transition: all 300ms;
              cursor: pointer;
              color: #773084;
              position: relative;

              &:hover {
                background-color: #5f068d;
                color: #fff;
              }

              i {
                display: inline-block;
                width: 19px;
                position: absolute;
                top: 4px;
                left: 5px;
                height: 20px;
                line-height: 20px;
              }

              &.minus i {
                left: 4px;
                line-height: 16px;
              }

              &.add i {
                line-height: 15px;
              }

              &.unClick {
                color: #93999F;
                cursor: not-allowed;
                background: none;

                i {
                  left: 4px;

                }
              }
            }

            input.num {
              width: 40px;
              height: 30px;
              text-align: center;
              border-top: 1px solid #773084;
              border-bottom: 1px solid #773084;
            }

            .deleteChecked {
              font-size: 16px;
              color: #222;
              margin-right: 47px;
              cursor: pointer;
            }

            .person {
              font-size: 16px;
              color: #222;
            }
          }
        }

        .allPrice {
          width: auto;
          height: 60px;
          line-height: 60px;
          padding-right: 30px;
          text-align: right;
          color: #ff5f5f;
          font-size: 30px;
          margin-left: 20px;
        }

        .commitOrder .el-button {
          border: none;
          color: #fff;
          height: 60px;
          width: 140px;
          font-weight: 400;
          font-size: 16px;
          transition: background 300ms;
        }

        .commitOrder .isGray {
          background-color: #ccc;

          &:hover {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }

        .commitOrder .notGray {
          background-color: #773084;

          &:hover {
            background-color: #5f068d;
          }
        }
      }

      .el-checkbox {
        padding-left: 50px;
        color: #222;
        font-size: 16px;

        .el-checkbox__inner {
          border-color: #773084;
          width: 18px;
          height: 18px;
          border-radius: 4px;
          background-color: transparent;

          &:after {
            height: 9px;
            left: 6px;
            top: 2px;
          }
        }

        .el-checkbox__input.is-checked {
          & .el-checkbox__inner {
            border-color: #773084;
            background-color: #773084;
          }

          &+.el-checkbox__label {
            color: #222;
          }
        }
      }
    }
  }

  .alertMask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;

    .alertPop {
      width: 500px;
      height: 325px;
      position: absolute;
      top: 50px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: 10px;
      background-color: #fff;
      text-align: center;

      .el-icon-close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 24px;
        font-weight: 600;
        color: #773084;
        z-index: 3;
        cursor: pointer;
      }

      img {
        display: inline-block;
        width: 90px;
        height: 90px;
        margin-top: 60px;
      }

      p {
        font-size: 16px;
        color: #222;
        margin: 30px 0 40px 0;
      }

      .el-button {
        width: 150px;
        height: 40px;
        background-color: #5b20a0;
        border-radius: 5px;
        // line-height: 40px;
        text-align: center;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.el-message-box.shopcartPop {
  width: 510px;
  height: 240px;
  border-radius: 10px;

  .el-message-box__content {
    text-align: left;
    padding: 10px 40px 0 40px;
  }

  .el-message-box__btns {
    margin-top: 40px;
    padding-top: 0;
  }
}
