.topImg {
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;

  img {
    width: 1920px;
    height: 360px; // position: absolute;
    // left: 50%;
    // top: 0;
    // margin-left: -960px;
  }
}

.degreeInfo {
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 100px;

  h3 {
    padding: 60px 0 70px;
    font-size: 30px;
    color: #222;
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 40px;
  }
}

.degree {
  width: 100%;
  height: 100%;
  min-height: 665px;
  background: url('https://static-image.1911edu.com/degree-bg.png') no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;

  .degree-wrapper {
    width: 1100px;
    min-height: 665px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .degree-con {
      position: relative;
    }
  }

  .left {
    float: left;
    width: 370px;
    height: 420px;
    background-color: #0253ba;
    padding: 30px;

    h1 {
      font-size: 40px;
      color: #fff;
      margin: 30px 0;
    }

    .line {
      width: 80px;
      height: 2px;
      background-color: #fff;
    }

    .left-desc {
      color: #fff;
      font-size: 12px;
      margin-top: 72px;
      line-height: 24px;
      text-align: justify;

      p {
        text-align: justify;
      }
    }
  }

  .right {
    float: left;
    height: 420px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 370px;

    .box {
      // float: left;
      display: table;
      width: 183px;
      height: 183px;
      text-align: center;
      position: absolute;
      font-size: 16px;

      img {
        display: inline-block;
        width: 56px;
        height: 56px;
        margin-bottom: 20px;
      }

      p {
        line-height: 24px;
      }

      .box-con {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }

    .box-one {
      left: 0;
      bottom: 0;
      background-color: #cecdd4;
      color: #fff;
    }

    .box-two {
      left: 183px;
      bottom: 0;
      background-color: #dbe2ef;
      color: #0253ba;
    }

    .box-three {
      left: 366px;
      bottom: 0;
      background-color: #ffffff;
      color: #0253ba;
    }

    .box-four {
      left: 549px;
      bottom: 0;
      background-color: #0253ba;
      color: #fff;
    }

    .box-five {
      left: 183px;
      bottom: 183px;
      background-color: #cecdd4;
      color: #fff;
    }

    .box-six {
      left: 183px;
      bottom: -183px;
      background-color: #0253ba;
      color: #fff;
    }
  }
}

@media screen and (min-width: 1920px) {
  .degree {
    min-height: 815px;
  }
}
