.custom {
  position: relative;
  width: 100%;
  background-color: #fff;
  background: url('https://static-image.1911edu.com/enter-bg.png') no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  z-index: 10;

  .topImg {
    position: relative;
    height: 420px;
    width: 100%;
    overflow: hidden;
    background: url('https://static-image.1911edu.com/enter-top-img.png') no-repeat;
    background-size: 100% 100%;
    display: table;
    z-index: 90;

    .top-con {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .top-title {
        font-size: 46px;
        color: #fff;
      }

      .line {
        text-align: center;
        margin: 30px 0;

        span {
          display: inline-block;
          width: 60px;
          height: 6px;
          background-color: #915ede;
        }
      }

      .top-desc {
        font-size: 18px;
        color: #fff;
        line-height: 30px;
      }
    }

    img {
      width: 1920px;
      height: 360px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -960px;
    }
  }

  .serviceImg_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .serviceDetails {
    background-color: rgba(255, 255, 255, 0);
    width: 1110px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 20;
    padding-bottom: 70px;

    h2 {
      font-size: 36px;
      color: #222;
      padding: 68px 0 60px 0;
    }

    .service-list {
      position: relative;

      .service-line {
        position: absolute;
        left: 550px;
        top: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        background: rgba(233, 233, 233, 1);
        z-index: 20;
      }

      .service-item {
        position: relative;
        float: left;
        width: 550px;
        height: 210px;
        padding: 55px 63px 51px 62px;
        text-align: left;
        transition: all 300ms;
        margin-right: 1px;
        // border-left: 2px solid rgba(255, 255, 255, 0);
        z-index: 1;

        .top-line {
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: 210px;
          background: rgba(145, 94, 222, 1);
          transition: all 300ms;
        }

        .line-inner {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 2px;
          height: 210px;
          background-color: rgba(255, 255, 255, 1);
          // background: rgba(145, 94, 222, 1);
          transition: all 300ms;
          // z-index: -1ï¼›;
        }

        .item-title {
          font-size: 22px;
          color: #333;

          .item-index {
            font-size: 34px;
            color: #ccc;
            margin-right: 10px;
          }
        }

        .item-desc {
          font-size: 16px;
          color: #666;
          margin-top: 30px;
        }

        &:hover {
          background-color: #fff;
          box-shadow: 15px 15px 38px rgba(198, 194, 210, 0.28);
          -webkit-box-shadow: 15px 15px 38px rgba(198, 194, 210, 0.28);
          -moz-box-shadow: 15px 15px 38px rgba(198, 194, 210, 0.28);

          .line-inner {
            bottom: 210px;
          }

          .item-title {
            .item-index {
              color: #915ede;
            }
          }
        }
      }
    }
  }
}
