.coreAdvantage {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  .top {
    width: 79%;
    float: right;
    // height: 200px;

    h1 {
      float: right;
      width: 100%;
      font-size: 30px;
      color: #222;
      font-weight: bold;
      margin-bottom: 20px;
      padding-top: 9%;
    }

    p {
      float: right;
      width: 100%;
      font-size: 16px;
      color: #555;
    }

    @media screen and (max-width: 1024px) {
      h1 {
        font-size: 26px;
        padding-top: 5%;
        margin-bottom: 15px;
      }
    }
  }

  @media only screen and (max-device-width: 375px) {
    .top {
      width: 84%;

      p {
        font-size: 12px;
      }
    }
  }

  .left {
    flex: 1;

    .leftItems {
      width: 100%;
      height: 100%;
    }
  }

  .right {
    flex: 1;
    position: relative;
    width: 50%;

    // height: 625px;
    .rightCon {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.coreIndex {
  width: 100%;
  background: url("https://static-image.1911edu.com/coreIndex-bg.png") no-repeat;
  background-size: 100% 640px;

  .core-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 50px 0;
  }

  .desc {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }

  .items {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;

    .father {
      width: 345px;
      height: 350px;
      margin-right: 30px;
      margin-bottom: 50px;

      &:first-child {
        margin-right: 50px;
      }



      &:last-child {
        margin-right: 0;
      }

      .item {
        width: 345px;
        height: 350px;
        box-shadow: 0px 6px 29px 0px rgba(53, 53, 53, 0.09);
        position: relative;
        top: 0;
        padding: 30px;
        transition: all 300ms;
        background-color: #fff;
        z-index: 0;

        img {
          display: block;
          margin: 0 auto;
        }

        .text {
          font-size: 24px;
          text-align: center;
          margin: 25px 0 20px 0;
        }

        .intro {
          font-size: 14px;
          color: #000;
          line-height: 24px;
          text-align: left;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 71px;
          height: 75px;
          background: #fff url("https://static-image.1911edu.com/core-icon6.png") no-repeat right bottom;
          background-size: 71px 75px;
          opacity: 0;
          transition: all 300ms;
          z-index: -1;
        }

        .itemImg0 {
          width: 44px;
          height: 50px;
        }

        .itemImg1 {
          width: 58px;
          height: 46px;
        }

        .itemImg2 {
          width: 42px;
          height: 52px;
        }

        .itemImg3 {
          width: 50px;
          height: 50px;
        }

        .itemImg4 {
          width: 50px;
          height: 46px;
        }
      }

      &:hover {
        .item {
          top: -20px;

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
