.examAuth {
  .banner {
    width: 100%;
    height: 560px;
    text-align: center;
    background: url('https://static-image.1911edu.com/examAuth_banner.png') no-repeat;
    background-position: center;

    h4 {
      font-size: 50px;
      color: #fff;
      font-weight: bold;
      padding-top: 130px;
    }

    .line {
      width: 110px;
      height: 4px;
      background-color: #fff;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 40px;
    }

    .text {
      font-size: 22px;
      color: #fff;
      line-height: 40px;
    }
  }

  .hybridCon {
    background: url('https://static-image.1911edu.com/examAuth_bg.png') no-repeat;
    background-size: 100% 100%;
    padding-bottom: 95px;
  }

  .introduce {
    position: relative;
    width: 1100px;
    background: #fff;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin: -50px auto 0;
    padding: 50px 32px;
    z-index: 20;

    p {
      font-size: 22px;
      line-height: 44px;
      text-indent: 2em;

      i {
        text-indent: 0;
        color: #4063b2;
      }
    }
  }

  .headline {
    color: #222;
    font-size: 36px;
    text-align: center;
    padding: 45px 0;
    font-weight: 500;
  }

  .contentText {
    width: 1100px;
    margin: 0 auto;
    color: #222;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 35px;

    .topContent {
      text-indent: 2em;
      // font-weight: 500;
    }

    .tree {
      width: 688px;
      margin: 0 auto;
      padding: 40px 36px;
      background: rgba(64, 99, 178, 1);
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
      position: relative;
      text-indent: 2em;
      color: #fff;
      z-index: 1;
    }

    .border {
      width: 842px;
      height: 150px;
      border: 2px solid #4063b2;
      border-bottom: none;
      position: relative;
      margin: -60px auto 0;

      &:after,
      &:before {
        content: '';
        width: 1px;
        height: 149px;
        position: absolute;
        top: 0;
        background-color: #4063b2;
      }

      &:after {
        left: 280px;
      }

      &:before {
        right: 280px;
      }
    }
  }

  .bottomCon {
    width: 1110px;
    // height: 310px;
    margin: 0 auto;

    .fl {
      width: 610px;
      // height: 310px;
      padding: 53px 52px;
      background-color: #db8e4d;

      h4 {
        font-size: 36px;
        color: #fff;
      }

      p {
        font-size: 18px;
        color: #fff;
        line-height: 36px;
        text-indent: 2em;
        margin-top: 30px;
      }
    }

    .fr {
      width: 500px;
      overflow: hidden;

      img {
        width: 100%;
        // height: 310px;
      }
    }
  }
}
