.teacherDetail {
  .banner {
    width: 100%;
    height: 560px;
    text-align: center;
    z-index: 1;
    background: url('https://static-image.1911edu.com/teacher-banner.png') no-repeat;
    background-position: center;

    h4 {
      font-size: 50px;
      color: #fff;
      font-weight: bold;
      padding-top: 180px;
      text-align: center;
    }

    .line {
      width: 110px;
      height: 4px;
      background-color: #fff;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 40px;
      text-align: center;
    }

    .text {
      font-size: 22px;
      color: #fff;
      line-height: 40px;
      text-align: center;
    }
  }

  .con {
    background: url("https://static-image.1911edu.com/teacher-bg.png") no-repeat;
    background-size: 100% 1600px;
    padding-top: 50px;
    padding-bottom: 70px;

    .con-one {
      width: 1100px;
      margin: 0 auto;
      padding-bottom: 40px;

      p {
        text-indent: 2em;
        font-size: 18px;
        color: #222;
        line-height: 36px;
      }

      .left {
        float: left;
        width: 438px;
        height: 228px;
        margin-right: 50px;

        img {
          width: 415px;
          height: 210px;
          display: block;
          margin: 0 auto;
        }
      }

      .right {
        float: left;
        width: 612px;
        padding-top: 45px;
      }
    }

    .con-two {
      background-color: #fff;
      text-align: center;
      padding-bottom: 50px;

      h4 {
        font-size: 24px;
        color: #363d82;
        padding-top: 50px;
        margin-bottom: 40px;
        font-weight: 500;
        text-align: center;
      }

      .standard {
        .item {
          font-size: 18px;
          color: #db8e4d;
          margin-right: 155px;
          text-align: center;
          font-weight: 500;

          &:last-child {
            margin-right: 0;
          }

          img {
            width: 68px;
            height: 68px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
          }
        }
      }
    }

    .con-three {
      p {
        width: 1100px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 40px;
        text-indent: 2em;
        font-size: 18px;
        color: #222;
        line-height: 36px;
      }

      img {
        display: block;
        width: 1021px;
        margin: 0 auto;
      }
    }
  }
}
