.forgot {
  width: 100%;
  height: 100%;
  margin-top: -90px;
  background-color: #fff;

  .lrFrame {
    width: 280px;
    height: auto;
    margin: 0 auto;
    padding: 120px 0 0;

    .logo {
      margin: 0 auto;
      text-align: center;

      img {
        width: 100%;
      }
    }

    .pwd {
      width: 100%;
      text-align: center;
      margin: 30px 0 28px;

      span {
        color: #773084;
        font-size: 16px;
        line-height: 35px;
        border-bottom: 2px solid #773084;
      }
    }

    .hideInput {
      width: 0;
      height: 0;
      display: none;
    }

    .hidePwdEye {
      position: absolute;
      right: 10px;
      top: 13px;
      width: 20px;
      height: 20px;
      background: url('https://static-image.1911edu.com/eyec.png') no-repeat;
      background-size: 20px 20px;
      cursor: pointer;
    }

    .showPwdEye {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      background: none;
      background: url('https://static-image.1911edu.com/eyeo.png') no-repeat;
      background-size: 20px 20px;
      cursor: pointer;
    }

    .returnLogin {
      width: 115px;
      height: 24px;
      line-height: 24px;
      margin: 30px auto 25px;
      text-align: center;
      // padding-right: 40px;
      font-size: 14px;
      color: #555555;
      cursor: pointer;
      transition: all 300ms;

      .otherLoginIcon {
        vertical-align: middle;
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url('https://static-image.1911edu.com/goBack.png') no-repeat;
        background-size: 24px 24px;
        margin-left: 10px;
      }

      &:hover {
        .otherLoginIcon {
          background: url('https://static-image.1911edu.com/goBackHover.png') no-repeat;
          background-size: 24px 24px;
          transform: rotateY(180deg);
        }
      }
    }

    .getCode {
      width: 118px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-left: 14px;
      border-radius: 6px;
      background-color: #eee;
      color: #773084 !important;
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }

    button {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      background-color: #773084 !important;
      font-size: 14px;
      color: #fff;

      &:hover {
        background-color: #5f068d !important;
      }
    }
  }
}
