.forgot {
  width: 100%;
  height: 100%;
  margin-top: -90px;
  background-color: #fff;
<<<<<<< HEAD
=======

>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
  .lrFrame {
    width: 280px !important;
    height: auto;
    margin: 0 auto;
<<<<<<< HEAD
    padding: 127px 0 0;
    .logo {
      width: 258px;
      height: 99px !important;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 258px;
        height: 99px !important;
      }
    }
    .pwd {
      width: 100%;
      text-align: center;
      margin: 50px 0 28px;
=======
    padding: 90px 0 0 !important;

    .logo {
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      height: 144px !important;

      img {
        width: 258px !important;
        height: 144px !important;
      }
    }

    .pwd {
      width: 100%;
      text-align: center;
      margin: 30px 0 28px !important;

>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
      span {
        color: #773084 !important;
        font-size: 16px;
        line-height: 35px;
        border-bottom: 2px solid #773084 !important;
      }
    }
<<<<<<< HEAD
=======

>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
    .hideInput {
      width: 0;
      height: 0;
      display: none;
    }
<<<<<<< HEAD
=======

>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
    .hidePwd {
      position: absolute;
      right: 10px;
      top: 13px;
      width: 20px;
      height: 20px;

      background: url('http://static-image.1911edu.com/eyec.png') no-repeat;
      background-size: 20px 20px;
      cursor: pointer;
    }
<<<<<<< HEAD
=======

>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
    .showPwd {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      background: none;
      background: url('http://static-image.1911edu.com/eyeo.png') no-repeat;
      background-size: 20px 20px;
      cursor: pointer;
    }
<<<<<<< HEAD
=======

>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
    .returnLogin {
      width: 115px;
      height: 24px;
      line-height: 24px;
      margin: 30px auto 25px;
      text-align: center;
      // padding-right: 40px;
      font-size: 14px;
      color: #555555;
      cursor: pointer;
      transition: all 300ms;

      .otherLoginIcon {
        vertical-align: middle;
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url('http://static-image.1911edu.com/goBack.png') no-repeat;
        background-size: 24px 24px;
        margin-left: 10px;
      }
<<<<<<< HEAD
      &:hover {
        .otherLoginIcon {
          background: url('http://static-image.1911edu.com/goBackHover.png')
            no-repeat;
=======

      &:hover {
        .otherLoginIcon {
          background: url('http://static-image.1911edu.com/goBackHover.png') no-repeat;
>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
          background-size: 24px 24px;
          transform: rotateY(180deg);
        }
      }
    }
<<<<<<< HEAD
=======

>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
    .getCode {
      width: 118px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-left: 14px;
      border-radius: 6px;
      background-color: #eee;
      color: #773084 !important;
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }
<<<<<<< HEAD
=======

>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
    button {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      background-color: #773084 !important;
      font-size: 14px;
      color: #fff;
    }
  }
}
