.searchCer {
  background-color: content;

  .content {
    width: 1100px;
    margin: 60px auto 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 36px 0px rgba(198, 194, 210, 0.36);

    .top {
      height: 180px;
      line-height: 180px;
      background: url("https://static-image.1911edu.com/certification-bg.png") no-repeat;
      background-size: 100% 180px;

      h4 {
        color: #fff;
        font-size: 32px;
        text-align: center;
        line-height: 180px;

        // margin-top: 36px;
        &:after,
        &:before {
          content: '';
          width: 27px;
          height: 13px;
          display: inline-block;
          margin: 0 15px;
          background: url('~assets/images/beTeacher_bannerIcon.png') no-repeat;
          background-size: cover;
          vertical-align: middle;
        }
      }
    }

    .bottom {
      height: 340px;
      padding: 40px 0 20px 0;

      .item {
        margin-top: 80px;
        width: 640px;
        font-size: 16px;
        color: #222;
        margin: 0 auto;
        margin-bottom: 30px;

        .left {
          display: inline-block;
          vertical-align: middle;
          width: 115px;
          text-align: right;
        }

        .right {
          display: inline-block;
          width: 480px;
          vertical-align: middle;
          margin-left: 10px;

          input {
            height: 40px;
            line-height: 40px;
            background-color: #edf0f3;
            text-indent: 1em;
          }

          .num {
            width: 480px;
          }

          .code {
            width: 360px;
            margin-right: 20px;
          }

          .code-text {
            width: 120px;
            height: 40px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .codeImg {
            vertical-align: middle;
            margin-bottom: 5px;
            cursor: pointer;
          }
        }
      }

      .buttonn {
        width: 180px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #773084;
        margin: 50px auto 0;
        font-size: 18px;
        border-radius: 50px;
        cursor: pointer;
        color: #fff;

        &:hover {
          background-color: #5f068d;
        }
      }

      .noDataImg {
        img {
          width: 210px !important;
          height: 210px !important;
        }
      }
    }

    .viewBottom {
      height: auto;
    }

    .goSearch {
      width: 180px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #773084;
      margin: 0 auto;
      padding-bottom: 30px;
      font-size: 18px;
      border-radius: 50px;
      cursor: pointer;
      color: #fff;

      &:hover {
        background-color: #5f068d;
      }
    }
  }

  .intro {
    width: 1100px;
    margin: 30px auto 30px;
    text-align: left;
    color: #888;
    font-size: 14px;
  }
}

.viewPage {
  .content {
    margin-top: 0;

    .bottom {
      padding-top: 60px;

      .item {
        font-size: 16px;
        color: #222;

        p {
          margin-bottom: 20px;
        }

        .item-name {
          width: 100px;
          display: inline-block;
          text-align: justify;
          vertical-align: middle;

          span {
            display: inline-block;
            padding-left: 100%;
            vertical-align: middle;
          }
        }
      }

      .left {
        float: left;
        width: 450px;
        margin-left: 200px;
      }

      .right {
        float: left;
        width: 210px;
      }
    }
  }
}
