.project-item {
    padding: 15px;
    background-color: #f5f7f7;
    margin-top: 20px;
  }

  .project-item:last-child {
    margin-bottom: 20px;
  }

  .project-btn {
    margin-top: 15px;
  }

  .thumbnail-project {
    margin: 20px 0;
    border: 1px solid $gray-light;

    img {
      width: 100%;
      height: auto;
    }
  }

  .post-pic {
    height: 200px;
    background: $primary;
  }

  // 创建 Project 页面

  .project {
    h1 {
      margin: 0;
    }

    .row:first-child {
      margin-top: 20px;
    }

    .row:last-child {
      margin-bottom: 20px;
    }
  }

  // 做题页面 ====
  .presenter-startpage {
    margin: 20px auto;

    h2 {
      margin: 0 0 15px 0;
      text-align: center;
    }

    .panel {
      margin: 0;
    }
  }

  .presenter-question {
    background: $state-info-bg;
    color: $state-info-text;

    h2 {
      margin: 0;
      padding: 1em 0 1em;
      line-height: 1;

      .batch-remain {
        padding: 1em .4em 0em;
        font-size: 50%;
        margin-right: 0;
        font-weight: bold;
        line-height: 1;
        text-align: right;
        white-space: nowrap;
        vertical-align: baseline;
      }
    }

    a {
      color: $state-info-text;
    }
  }

  .presenter-label {
    position: absolute;
    top: 11em;
    left: 1em;
    min-width: 11em;
    max-width: 21em;
    z-index: $zindex-navbar-fixed + 1;
  }

  .list-group-presenter {

    .list-group-item.list-group-title {
      margin-top: 0;
      color: $white;
      background: rgba($alert-info-bg, 0.7);
    }

    .list-group-item {
      margin-top: 5px;
      border: none;
      background: rgba($black, 0.5);
      color: $white;

      a {
        color: $gray-lighter;
        transition: all $animation-length ease;

        &:hover, &:focus {
          color: $white;
          text-shadow: $shadow-white;
        }
      }
    }

    .list-group-item.active {
      background: rgba($black, 0.7);
    }
  }

  .panel-multitext, .panel-multiselect, .panel-yiqizuoye {
    @include panel-variant(rgba($panel-primary-border, 0.7), $panel-primary-text, rgba($panel-primary-heading-bg, 0.7), $panel-primary-border);

    position: absolute;
    top: 11em;
    left: 1em;
    width: 25em;
    z-index: $zindex-navbar-fixed + 1;
    background: rgba($panel-bg, 0.7);

    & > .panel-heading {
      border: none;
    }

    & > .panel-body {
      max-height: 35em;
      overflow-y: scroll;
    }
  }

  .panel-multiselect {
    & > .panel-body {
      overflow-y: visible;
    }
  }

  .panel-yiqizuoye {
    .form-group.active {
      .form-control {
        border-color: #725694;
        outline: 0;
      }
    }
  }

  .presenter-canvas, .presenter-image {
    position: absolute;
    display: block;
    width: 100%;
  }

  .presenter-img {
    position: absolute;
    display: block;
    margin-left: 10%;
  }

  .presenter-control {
    position: fixed;
    margin: 0;
    padding: 0;
    border: none;

    .container-fluid {
      text-align: center;
    }

    .navbar-nav {
      display: inline-block;
      float: none;

      border-left: 1px solid $gray-lighter;
      border-right: 1px solid $gray-lighter;

      > li > a {
        color: $navbar-default-link-color;
        transition: color, background-color $animation-length ease;
      }
    }

    .navbar-nav+.navbar-nav {
      margin-left: 0.8em;
    }

    .control-left {
      position: absolute;
      left: 1em;
      top: 0;
    }

    .control-right {
      position: absolute;
      right: 1em;
      top: 0;
    }
  }

  .upload-audio {
    .row {
      > div {
        > p {
          font-size: 1.5em;
          margin: 1.5em 0;

          .eng-text {
            color: #5D4283;
          }

          .que-text {
            display: inline-block;
            text-indent: 2em;
            line-height: 1.5;
          }
        }

        > ul {
          list-style: none;

          > li {
            display: inline-block;
            height: 5em;
            line-height: 5em;
            margin: 0.9em 0;

            > a {
              margin-bottom: 1.8em;
            }
          }
        }
      }
    }
  }

  .upload-audio-control {
     > ul {
       > li {
           .record-time-text {
            display: inline-block;
            line-height: 4em;
            font-size: 1em;
            margin-left: 3em;
            color:#5D4283;
         }
       }
     }
  }

  .timeout {
    text-align: center;
    padding-top: 5em;
    > p {
       margin-top: 4rem;
    }
  }

  // 暂时适配手机web,重构优化
  @media (max-width: $screen-xs-max) {
   .panel-multitext-input {
      @include panel-variant(rgba($panel-primary-border, 0.7), $panel-primary-text, rgba($panel-primary-heading-bg, 0.7), $panel-primary-border);

      position: absolute;
      left: 0;
      width: 100%;
      bottom:40px;
      z-index: $zindex-navbar-fixed + 1;
      background: rgba($panel-bg, 0.7);

      & > .mobile-client {
        background: #8c71ac;
        border: none;
        color: #fff;
      }

      & > .panel-body {
        max-height:10em;
        overflow-y: scroll;
        padding: 0;

      }
    }

    .presenter-control {
      .control-right {
        position: absolute;
        right: 2em;
        top: 0;
      }
    }

    .presenter-question {
      h2 {
        margin: 0;
        padding: 1em 0 1em;
        font-size: 1.5em;
      }
    }

    .presenter-image {
      position: absolute;
      display: block;
      width: 50%;
      top: 15em;
    }

    .presenter-canvas {
      position: absolute;
      display: block;
      width: 50%;
    }

    .presenter-img {
      position: absolute;
      display: block;
      margin-left: 10%;
      margin-top: 40%;
      width: 50%;
    }

    .upload-audio {
      .row {
        > div {
          > p {
            font-size: 1.5em;
            margin: 1.5em 0;

            .eng-text {
              color: #5D4283;
            }

            .que-text {
              display: inline-block;
              text-indent: 2em;
              line-height: 1.5;
            }
          }

          > ul {
            list-style: none;

            > li {
              display: inline-block;
              height: 3em;
              line-height: 3em;
              margin: 0.9em 0;

              > a {
                margin-bottom: 1.8em;
              }
            }
          }
        }
      }
    }
  }
