  .login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .box {
      width: 217px+790px+93px;
      flex: 1;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 24px;
        font-family: PingFangSC-Semibold;
        color: rgba(0, 0, 0, 1);
        margin-top: 20px;
      }
      section {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        .itemBox {
          width: 237px;
          height: 330px;
          background: rgba(240, 247, 255, 1);
          border-radius: 4px;
          margin-top: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 18px;
          .topBox {
            width: 200px;
            height: 120px;
            background: rgba(216, 216, 216, 1);
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-end;
            span {
              width: 56px;
              height: 19px;
              background: rgba(0, 0, 0, 0.5);
              font-size: 12px;
              font-family: PingFangSC-Semibold;
              color: rgba(0, 0, 0, 1);
              line-height: 19px;
              text-align: center;
            }
          }
          p {
            width: 100%;
            -webkit-margin-before: 0;
            -webkit-margin-after: 20px;
            display: flex;
            font-size: 14px;
            font-family: PingFangSC-Regular;
            color: rgba(0, 0, 0, 1);
            &:nth-child(3) {
              font-weight: bold;
            }
            &:last-child {
              font-size: 12px;
              font-family: PingFangSC-Regular;
              color: rgba(0, 0, 0, 1);
              -webkit-margin-after: 0;
            }
            span {
              flex: 1;
            }
          }
        }
        .rightBox {
          width: 800px;
          .jieshao {
            height: 600px;
            border-radius: 4px;
            border: 1px solid #999999;
            padding: 30px;
            h3 {
              font-size: 18px;
              font-family: PingFangSC-Semibold;
              color: rgba(0, 0, 0, 1);
              -webkit-margin-before: 0;
              -webkit-margin-after: 30px;
              font-weight: bold;
            }
            p {
              font-size: 18px;
              font-family: PingFangSC-Regular;
              color: rgba(0, 0, 0, 1);
            }
          }
          .edit {
            width: 80px;
            height: 30px;
            background: rgba(124, 187, 255, 1);
            border-radius: 4px;
            font-size: 14px;
            font-family: PingFangSC-Regular;
            color: rgba(0, 0, 0, 1);
            line-height: 30px;
            text-align: center;
            display: block;
            margin: 52px auto 0;
          }
        }
      }
    }
  }
