.project-list {
  width: 1100px;
  margin: 0 auto;
  .search-bar {
    padding: 0 0 30px;
    overflow: hidden;
    position: relative;
    .search-bar-r {
      float: right;
      width: 160px;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #999;
      border-radius: 2px;
      cursor: pointer;
      span {
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background: #7CBBFF;
        display: inline-block;
        vertical-align: middle;
      }
      p {
        padding: 0;
        margin: 0;
      }
      i {
        font-style: normal;
        display: inline-block;
        padding: 0 0 0 20px
      }
      &:after {
        content: '';
        position: absolute;
        right: 15px;
        top: 12px;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-top-color: #999;
        border-bottom-width: 0;
        border-width: 6px;
      }
    }
    .el-button-search.el-button {
      padding: 6px 15px;
      vertical-align: middle;
      margin: 0;
      border: none;
      &:hover,
      &:active,
      &:focus {
        background: #fff;
      }
      .el-icon-search {
        font-size: 22px;
      }
    }
  }
  .search-bars {
    padding: 0 0 10px;
    overflow: hidden;
    position: relative;
    color: #999;
  }
  .search-bar .el-input {
    width: 150px;
  }
  .search-bar a {
    color: #666;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 40px;
  }
  .search-bar-title {
    color: #666;
    font-size: 20px;
    font-weight: bold;
  }
  .el-table::before {
    display: none
  }
  .el-table th.is-leaf,
  .el-table td {}
  .el-icon-setting {
    font-size: 24px;
    color: #7CBBFF
  }
  .process-status {
    width: 120px;
  }
  .el-progress-bar {
    padding: 0;
  }
  .el-table th,
  .el-table__body-wrapper {
    text-align: center;
  }
  .el-button {
    margin: 30px 0 60px;
    border-radius: 3px;
  }
  .el-pagination {
    margin: 0 auto;
    text-align: center;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #7CBBFF;
    border-color: #7CBBFF;
  }
  .el-button:hover,
  .el-button:focus,
  .el-button:active {
    color: #7CBBFF;
    border-color: #7CBBFF;
  }
  .el-checkbox__inner:hover {
    border-color: #7CBBFF;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #7CBBFF;
    border-color: #7CBBFF;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #7CBBFF;
  }
  .el-button {
    margin: 30px 20px 60px 0;
  }
  .el-button+.el-button {
    margin: 30px 20px 60px 0;
  }
}

.el-message-box__content .el-message-box__status {
  display: none
}

.el-message-box__btns .el-button {
  border-radius: 2px;
}

.el-message-box__btns button:nth-child(2) {
  background: #7CBBFF;
  border-color: #7CBBFF;
}

.project-list-confirm {
  height: 192px;
  .el-message-box__header {
    &::before {
      position: absolute;
      content: "\E634";
      font-size: 26px;
      color: #FAAD14;
      font-family: element-icons !important;
      speak: none;
      font-style: normal;
      font-weight: 400;
      -webkit-font-feature-settings: normal;
      font-feature-settings: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: baseline;
      left: 25px;
      top: 28px;
    }
    padding: 30px 40px 30px 60px;
    padding-bottom: 5px;
  }
  .el-button:hover,
  .el-button:focus,
  .el-button:active {
    color: #7CBBFF;
    border-color: #7CBBFF;
  }
  .el-message-box__status+.el-message-box__message {
    padding-left: 45px;
    height: 60px;
  }
  .el-message-box__btns .el-button {
    padding: 9px 20px;
  }
}

.el-tooltip__popper {
  padding: 3px 12px;
}

.el-tooltip__popper.is-light {
  border-color: #7CBBFF;
}

.el-tooltip__popper.is-light[x-placement^="right"] .popper__arrow {
  border-right-color: #7CBBFF;
}

.is-light span {
  line-height: 20px;
  margin: 5px 0;
  display: block;
  font-size: 14px;
  color: #7CBBFF;
  text-align: center;
  cursor: pointer;
}

.zt-process {
  float: right;
  vertical-align: top;
  padding: 15px 0 0;
  label {
    vertical-align: top;
    display: inline-block;
  }
  i {
    vertical-align: top;
    display: inline-block;
    font-style: normal;
  }
  p {
    vertical-align: top;
    padding: 0;
    margin: 0 30px 0 20px;
    position: relative;
    background: #DCDFE6;
    display: inline-block;
    height: 14px;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    em {
      vertical-align: top;
      position: absolute;
      left: 0;
      top: 0;
      height: 14px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background: #7CBBFF
    }
  }
}

.project-list-edit .el-pagination {
  display: inline-block;
  float: right;
  margin: 30px 0 0;
}

.project-list-edit .el-table a {
  color: #7CBBFF
}

.project-list-edit .el-table {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.project-list-edit .el-table th {
  background: #7CBBFF;
  color: #fff;
  .sort-caret.ascending {
    border-bottom-color: #fff;
  }
  .sort-caret.descending {
    border-top-color: #fff;
  }
}

.project-list-edit .steps {
  margin: 0 auto 50px;
  text-align: center;
  .el-button-group .el-button {
    background: #fff;
    color: #7CBBFF;
    border-color: #7CBBFF;
    border-radius: 3px;
    padding: 9px 20px;
    margin: 0 70px;
  }
  .el-button-group a:last-child .el-button {
    background: #7CBBFF;
    color: #fff;
  }
}
// .el-table_1_column_2{
//   color: red;
// }
.class-a {
  color: #7CBBFF;

  cursor: pointer;
}

