@import './element-variables';
@import '~element-ui/packages/theme-chalk/src/index';
/* 默认的 Element 无法满足需要时，就在下面进行扩展，建议扩展方式仍然参考 Element 的风格 */

/* Button */

.el-button--large {
  padding: $--button-large-padding-vertical $--button-large-padding-horizontal;
  font-size: $--button-large-font-size;
  border-radius: $--button-large-border-radius;
}

.el-button + .el-button {
  margin: 0 10px;
}

.el-button + .el-dropdown {
  margin: 0 10px;
}

/* Menu */

.el-menu-item--text {
  pointer-events: none;
}

// banner
.banner {
  .el-carousel__container {
    height: 555px;
  }
  .el-carousel__indicators {
    bottom: 145px;
  }
  .el-carousel__indicator.is-active button {
    opacity: 0.9;
  }
  .el-carousel__button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .el-carousel__indicators {
    width: 1100px;
    text-align: right;
    margin: 0 auto;
  }
  .home-evaluate {
    .el-carousel__indicators {
      bottom: 50px;
      left: 50%;
      right: auto;
    }
  }
}

// tab切换
.el-tabs--left .el-tabs__header.is-left {
  width: 178px;
  margin: 0;
}

.el-tabs--left .el-tabs__nav-wrap.is-left {
  margin: 0;
}

.el-tabs--left .el-tabs__item.is-left {
  text-align: center;
}

.el-tabs__header.is-left {
  margin-right: 40px;
}

.el-tabs__active-bar.is-left {
  display: none;
}

.el-tabs__item {
  height: 76px;
  line-height: 76px; // color: #fff;
  font-weight: 400;
}

.el-tabs__item.is-active {
  color: #6417a6;
  background-color: #fff;
  opacity: 0.9;
}

.bg {
  .el-tabs__content {
    width: 922px;
    z-index: 2;
    height: 456px;
    padding: 25px 0 25px 42px;
    overflow-y: auto;
    background-color: #eee;
    opacity: 0.94;
  }
}

.bg-none {
  .el-carousel__indicators {
    bottom: 52px;
    .el-carousel__button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

// 输入框变小手
.el-input__inner {
  cursor: pointer;
}

// 设置rate组件start距离
.el-rate__icon {
  margin-right: 0px;
  font-size: 15px;
}

// .el-card{
//   border: none;
// }
// 去掉边框20px
.el-main {
  padding: 0px;
}

.el-carousel__item--card {
  width: 320px;
}

// 设置走马灯的高度
.home-evaluate {
  .el-carousel__container {
    width: 1100px; // margin-left: 114px;
    margin: 0 auto;
  }
  .el-carousel__item {
    width: 1100px; // margin-right: 100px;
  }
}

// 首页tab切换
.classify {
  .el-tabs--left .el-tabs__header.is-left {
    width: 178px;
    margin: 0;
  }
  .el-tabs--left .el-tabs__nav-wrap.is-left {
    margin: 0;
  }
  .el-tabs--left .el-tabs__item.is-left {
    text-align: center;
    opacity: 0.7;
  }
  .el-tabs__nav {
    background-color: #6417a6;
    height: 555px;
  }
  .el-tabs__header.is-left {
    margin-right: 40px;
  }
  .el-tabs__active-bar.is-left {
    display: none;
  }
  .el-tabs__item {
    height: 76px;
    line-height: 76px;
    color: #fff;
    font-weight: 400;
    margin: 0;
  }
  .el-tabs__item.is-active {
    color: #6417a6;
    background-color: #fff;
    opacity: 0.9;
  }
}

// 登录注册 tab切换
.start {
  .el-form {
    padding-top: 16px;
  }
  .el-tabs__header {
    margin: 0 0 18px;
  }
  .el-tabs__nav {
    width: 100%;
    text-align: center;
  }
  .el-tabs__active-bar.is-top {
    display: none;
  }
  .el-tabs__item {
    height: 55px;
    line-height: 70px;
    font-weight: 400;
    padding: 0 16px !important;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    &.is-active {
      font-weight: 500;
    }
  }
  .el-tabs__item#tab-login {
    margin-right: 60px;
  }
  .el-tabs__item.is-active {
    border-color: #6417a6;
    color: #6417a6;
  }
  .el-tabs__nav-wrap::after {
    background-color: transparent;
  } // 登录表单
  .el-form-item {
    margin-bottom: 30px;
  }
  .el-form-item__content {
    text-align: center;
    position: relative;
  }
  .el-form-item__error {
    left: 83px;
  }
  .el-input__suffix .el-input__validateIcon {
    display: none;
  }
  .el-input {
    width: 264px;
  }
  .el-input__inner {
    border: none;
    border-bottom: 1px solid #bbb;
    &::-webkit-input-placeholder {
      font-size: 12px;
    }
  }
  .el-input__inner::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 12px;
  }
  .el-input__inner:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
  }
  .el-input__inner::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 12px;
  }
  .el-input__inner:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 12px;
  }
  .el-tab-pane .el-row {
    width: 264px;
    margin: 0 auto;
    div {
      // display: inline-block;
      float: right;
      cursor: pointer;
      margin-bottom: 30px;
      color: #6417a6;
    }
    .registerUser {
      .el-loading-mask {
        margin-bottom: 0 !important;
        background-color: #6417a6;
        .circular {
          width: 24px;
          height: 24px;
        }
        .el-loading-spinner {
          margin-top: -10px;
        }
      }
    }
    button {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      background-color: #6417a6;
      font-size: 14px;
      color: #fff;
    }
  } // 注册表单
  #pane-register {
    .start .el-form-item__content {
      text-align: left;
      padding-left: 50px;
    }
    .el-form-item.el-form-item--feedback {
      margin-bottom: 18px;
    }
    .captcha {
      width: 130px;
    } // 用户注册协议
    .el-checkbox__label {
      color: #222;
      font-size: 12px;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner {
      background-color: #6417a6;
      border-color: #6417a6;
    }
  }
  .wechatLogin {
    .captcha {
      width: 132px;
    }
  }
  .el-form-item.is-success .el-input__inner,
  .el-form-item.is-success .el-input__inner:focus,
  .el-form-item.is-success .el-textarea__inner,
  .el-form-item.is-success .el-textarea__inner:focus {
    border-color: #222;
  }
}

// forgotpassword 页
.forgot {
  .el-form-item__error {
    left: 16px;
  }
  .captcha {
    width: 132px;
    float: left;
  }
}

// search
.searchWord {
  .el-autocomplete.inline-input {
    width: 100%;
    .el-input {
      width: 100%;
      input {
        border: none;
        width: 80%;
        margin: 0 0 0 24px;
        padding: 0;
        height: 48px;
        cursor: pointer;
      }
    }
  }
}

//分页
.pagination {
  .is-background {
    text-align: center;
  }
  .el-pagination.is-background .el-pager li {
    border-radius: 15px;
  }
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .btn-next {
    background-color: transparent;
  }
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #8f4acb;
  color: #fff;
}

// category页面
.banner {
  .center {
    .el-button {
      padding: 8px 10px;
      border-radius: 6px;
      color: rgba(34, 34, 34, 1);
      background-color: rgba(235, 231, 237, 1);
      border: none;
    }
    .el-button--primary {
      // background-color: rgba(235, 231, 237, 1);
      border: none;
    }
  }
}

.bg {
  .el-button {
    background-color: red;
  }
}

// 课程详情
.container {
  .el-tabs__active-bar.is-top {
    display: none;
  }
  .el-tabs__item {
    height: 56px;
    line-height: 56px; // width: 40px;
    text-align: center;
    margin-left: 38px;
    padding: 0;
    font-weight: 700;
  }
  .el-tabs__item.is-active {
    color: #6417a6;
    background-color: #fff;
    border-bottom: 2px solid #6417a6;
    opacity: 0.9;
  }
  .el-tabs__nav-wrap::after {
    height: 1px;
    background-color: #e8d6f7;
  }
  .catalog .chapter {
    .el-progress.el-progress--line.el-progress--without-text.el-progress--text-inside {
      width: 160px;
      display: inline-block;
      margin: 19px 129px 0 0;
    }
    .el-progress-bar {
      width: 160px;
    }
    .el-progress-bar__outer {
      background-color: #ffdb5f;
    }
  }
}

// personialSet页
.personalSet {
  // tab切换
  .el-tabs__nav-wrap {
    margin: 0;
    .el-tabs__nav-scroll {
      border-bottom: 1px solid #e8d6f7;
    }
    .el-tabs__item {
      height: 56px;
      line-height: 56px;
      padding: 0;
      margin: 0;
      margin-left: 30px;
      border-bottom: 2px solid transparent;
    }
    .el-tabs__item.is-active {
      color: #6417a6;
      border-color: #6417a6;
      background-color: transparent;
      opacity: 0.9;
    }
    .el-tabs__active-bar.is-top {
      display: none;
    }
    &:after {
      height: 0;
    }
  }
  .el-form.psnForm {
    .el-form-item__label {
      font-size: 16px;
      color: #222;
    }
    .el-input__inner {
      width: 670px;
      height: 50px;
      border-radius: 4px;
      background-color: #f1e9f8;
      border: none;
      &:disabled {
        color: #6417a6;
        font-weight: 700;
      }
    }
    .el-radio-group {
      width: 670px;
      height: 50px;
      border-radius: 4px;
      background-color: #f1e9f8;
      .el-radio {
        margin-top: 17px;
        margin-left: 26px;
        &:last-child {
          margin-left: 61px;
        }
        .el-radio__input {
          .el-radio__inner {
            width: 16px;
            height: 16px;
            border-color: #9e32e4;
            background-color: transparent;
          }
          &.is-checked .el-radio__inner {
            background-color: #9e32e4;
            &:after {
              width: 0;
            }
          }
        }
      }
    }
    .el-date-editor--date {
      .el-input__prefix {
        right: -445px;
        left: auto;
        color: #6417a6;
        font-size: 16px;
        .el-input__icon {
          font-weight: 700;
        }
      }
    }
    .el-select {
      margin-right: 28px;
      &.profession .el-input .el-input__inner {
        width: 670px;
      }
      .el-input .el-input__inner {
        width: 205px;
        &::-webkit-input-placeholder {
          color: #222;
        }
      }
    }
  }
  .profession .el-input__inner {
    width: 670px;
  }
}

// 个人中心修改密码
.changePwd {
  .el-form-item__label {
    color: #222;
    font-size: 16px;
  }
  .el-input {
    text-align: left;
    .el-input__inner {
      width: 670px;
      height: 50px;
      border-radius: 4px;
      background-color: #f1e9f8;
      border: none;
      font-size: 20px;
      color: #000;
    }
  }
  .el-form-item__content {
    text-align: center;
  }
}

// .el-tabs__active-bar{
//   width: 30px!important;
// }
.collect {
  .el-rate__icon {
    font-size: 18px;
  }
}

// 修改默认button按钮 颜色
.common-button {
  .el-button--primary.is-plain {
    background: #fff;
  }
  .el-button {
    width: 140px;
    border-radius: 18px;
    float: right;
  }
  .el-button--primary.is-plain:hover {
    transition: all 300ms;
    background: #8f4acb;
    border-color: #8f4acb;
    color: #fff;
  }
  &.btn-bgs {
    .el-button--primary.is-plain {
      background: rgba(255, 255, 255, 0.9);
      border: none;
      color: #9431e9;
    }
    .el-button--primary.is-plain:hover {
      transition: all 300ms;
      background: #8f4acb;
      color: #fff;
    }
  }
}

// 半角按钮 右边
// 修改默认button按钮 颜色
.common-button-half {
  .el-button--primary.is-plain {
    background: #fff;
  }
  .el-button {
    width: 56px;
    float: right;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: #9431e9 !important;
    border-left: none;
  }
  .el-button--primary.is-plain:hover {
    transition: all 300ms;
    background: #8f4acb;
    border-color: #8f4acb;
    color: #fff;
  }
}

// 半角按钮 左边
.common-button-half-right {
  .el-button--primary.is-plain {
    background: #fff;
    color: #9431e9;
  }
  .el-button {
    width: 108px; // border-radius: 18px;
    float: right; // border-top-left-radius: 18px;
    // border-bottom-left-radius: 18px;
    border-radius: 18px;
  }
  .el-button--primary.is-plain:hover {
    transition: all 300ms;
    background: #8f4acb;
    border-color: #8f4acb;
    color: #fff;
  }
}

// player页
.playerBox {
  .el-textarea .el-textarea__inner {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
    resize: none;
    border: 1px solid #bbbbbb;
  }
}

// 播放页 弹框
.el-message-box__wrapper {
  .el-button--default {
    border-radius: 6px;
  }
  .el-message-box__btns button:nth-child(2) {
    margin-left: 40px;
  }
  .el-button--primary {
    background-color: #6417a6;
    border-color: #6417a6;
  }
  .el-button--primary:hover,
  .el-button--primary:focus {
    background-color: #8f4acb;
    border-color: #8f4acb;
  }
}

// 新闻详情页
.news {
  .el-breadcrumb__item.current {
    span {
      color: #6417a6;
    }
    &:hover span {
      color: #6417a6;
    }
  }
}

// 购物车页
.companyInfo {
  .el-form-item {
    .el-form-item__label:before {
      content: '';
    }
    .el-form-item__content {
      width: 264px;
      .el-autocomplete {
        width: 100%;
      }
      .el-input__inner {
        color: #222222;
        font-size: 14px;
        font-weight: 400;
        border: none;
        padding: 0;
        border-bottom: 1px solid #bbb;
        &::-webkit-input-placeholder {
          font-size: 12px;
        }
      }
    }
    &.btnCommit .el-form-item__content {
      text-align: center;
    }
    &.code .el-form-item__content .el-input {
      width: 132px;
    }
  }
}

// hot组件
.clsTitle {
  .hotBtn {
    .el-tabs {
      .el-tabs__header {
        margin: 0;
        .el-tabs__nav-wrap:after {
          height: 0;
        }
        .el-tabs__active-bar.is-top {
          display: none;
        }
      }
    }
    .el-tabs__item {
      // width: 40px;
      height: 55px;
      padding: 0;
      text-align: center;
      margin-left: 20px;
      &.is-active {
        background-color: transparent;
        border-bottom: 2px solid #6417a6;
      }
      &:nth-child(2) {
        margin-left: 0;
      }
      &:hover {
        color: #6417a6;
      }
    }
  }
  .rightPages {
    .el-pagination {
      .number {
        margin-top: 30px;
        background-color: transparent;
      }
      button {
        margin-top: 30px;
        background-color: transparent;
      }
    }
  }
}

.indexBanner {
  .el-carousel__arrow {
    width: 46px;
    height: 76px;
    border-radius: initial;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
    &.el-carousel__arrow--right {
      right: 0;
    }
    &.el-carousel__arrow--left {
      left: 0;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.newsCarousel {
  .el-carousel__arrow {
    width: 46px;
    height: 76px;
    border-radius: initial;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
    &.el-carousel__arrow--right {
      right: 0;
    }
    &.el-carousel__arrow--left {
      left: 0;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

// aboutUs组件
.aboutUs {
  .el-tabs {
    .el-tabs__header {
      margin: 0;
      height: 85px;
      line-height: 85px;
      border-bottom: 1px solid #e8d6f7;
      .el-tabs__nav-wrap:after {
        height: 0;
      }
      .el-tabs__active-bar.is-top {
        display: none;
      }
      .el-tabs__nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      .el-tabs__item {
        // width: 61px;
        height: 85px;
        line-height: 85px;
        padding: 0;
        text-align: center;
        font-size: 24px;
        color: #222;
        font-weight: 700;
        &.is-active {
          background-color: transparent; // border-bottom: 4px solid #6417a6;
        }
        &:last-child {
          margin-left: 20px;
        }
        &:hover {
          color: #6417a6;
        }
      }
    }
  }
}

// profile页面修改tab
.profile {
  & > div > div.el-tabs__content {
    box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
    border-radius: 6px;
  }
  .el-card {
    overflow: visible;
  }
  .el-tabs__item {
    margin: 0px 0px 0px 0px;
    color: #222;
    height: 76px;
    padding: 12px;
    font-size: 16px;
    line-height: 60px;
  }
  .el-card__header {
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(232, 214, 247, 1);
    color: #222;
    font-size: 16px;
  }
  .my-home {
    .el-card__body {
      padding: 50px 40px 0px 40px;
    }
  }
  .el-tabs__nav-wrap::after {
    background: #fff;
  }
  .el-tabs--left .el-tabs__nav-wrap.is-left {
    border-radius: 6px;
  }
  .el-tabs--left .el-tabs__nav-wrap.is-left::after {
    width: 0;
  }
  .el-card.is-always-shadow {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
    border: none;
  }
  .el-tabs__header {
    box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
  }
  .el-tabs__item.is-active {
    background-color: #8f4acb;
    color: #fff;
  }
  .personalSet {
    .el-tabs__header {
      margin: 0px !important;
      box-shadow: none;
    }
  }
  & > .el-tabs {
    padding: 10px;
  }
  & > .el-tabs--left,
  .el-tabs--right {
    overflow: auto;
  }
  .el-card {
    overflow: visible;
  }
  .el-tabs--left .el-tabs__header.is-left {
    width: 164px;
    margin-right: 30px;
    padding: 0;
    .el-tabs__item {
      text-align: left;
      span {
        padding-left: 15px;
      }
    }
  } // .el-tabs__nav{
  //   border-radius:6px;
  //   overflow: hidden;
  //   box-shadow:0px 0px 14px rgba(198, 194, 210, 0.36);
  // }
  .my-course {
    box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
    overflow: hidden;
    .card {
      padding: 50px 41px 0 44px;
    }
    .el-tabs__nav {
      border-radius: 0;
      box-shadow: none;
      border-bottom: 1px solid #e8d6f7;
    }
    .el-tabs__header {
      box-shadow: none;
    }
    &.my-order {
      box-shadow: none;
      border-radius: 6px;
      .el-tabs__header {
        background-color: #fff;
      }
    }
    .el-card__body {
      padding: 0px; // padding-left: 20px;
    }
    .el-tabs__header {
      margin: 0px !important;
    }
    .el-tabs__active-bar {
      display: none;
    }
    .el-tabs__item.is-active {
      background: #fff;
      font-size: 16px;
      font-family: MicrosoftYaHei;
      color: rgba(154, 92, 208, 1); // padding: 4px 20px 4px 20px;
      border-bottom: 2px solid #6417a6;
    }
    .el-tabs__item {
      height: 57px;
      line-height: 57px;
      padding: 0;
      margin-left: 30px;
    } // .el-tab-pane {
    // padding: 50px 41px 0 44px;
    // }
    .el-progress-bar__outer {
      background-color: #ffdb5f;
    }
    .el-tabs__active-bar {
      width: 50px;
      color: #8f4acb;
    }
    #pane-orderFirst,
    #pane-orderSecond,
    #pane-orderThird,
    #pane-orderFour {
      padding: 0;
    }
    &#pane-tab-third {
      .el-card.is-always-shadow {
        background-color: transparent;
        box-shadow: none !important;
      }
      .el-tabs__content {
        background-color: #fafafa;
      }
    }
  }
}

// 设置card 的goodLesson 左边的大小
.goodLesson {
  .el-card {
    width: 400px; // height: 392px;
    border: none;
  }
}

// 设置card 的goodplay 进度条
.study {
  .el-progress-bar {
    .el-progress-bar__outer {
      height: 14px;
      background-color: #ffdb5f;
    }
  }
}

// 修改轮播
.particulars {
  .el-carousel__container {
    background-color: #fafafa;
  }
}

// 填写发票信息
.invoiceForm {
  .radioBtn {
    .el-radio {
      color: #222;
      font-size: 14px;
      font-weight: 400;
      .el-radio__input {
        display: none;
      }
      .el-radio__label {
        width: 88px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        padding: 0;
        border: 1px solid #6417a6;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
      }
      .el-radio__input.is-checked + .el-radio__label {
        background-color: #8f4acb;
        color: #fff;
        border: none;
        i {
          display: block !important;
        }
      }
    }
  }
}

.card-category {
  .el-checkbox__inner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    &:after {
      height: 12px;
      width: 6px;
      left: 11px;
      top: 6px;
      border-width: 2px;
    }
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #6417a6;
    border-color: #6417a6;
  }
}

.evaluate-tag {
  .el-rate__icon {
    margin-right: 0px;
    font-size: 13px;
    margin-bottom: 6px;
  }
  .submit {
    margin: 41px auto 20px;
    width: 160px;
    .el-button {
      font-size: 14px;
      padding: 12px 65px;
      border-radius: 6px;
    }
    .el-button--primary {
      color: #fff;
      background-color: #6417a6;
      border-color: #6417a6;
    }
  }
  .el-dialog {
    width: 1000px !important;
    height: 644px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    overflow: hidden;
  }
  .el-dialog__header {
    border-bottom: 1px #e8d6f7 solid;
  }
  .el-dialog__title {
    line-height: 24px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: rgba(34, 34, 34, 1);
  }
  .el-dialog__body {
    padding: 0px 20px;
    & > div {
      height: 450px;
      overflow: hidden;
    }
  }
  .el-dialog__headerbtn .el-dialog__close {
    font-size: 20px;
    color: #6417a6;
    font-weight: 700;
  }
}

// search页
.searchWord {
  .el-input__inner {
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

// category页
.category-style {
  .pages {
    .el-pagination {
      .btn-prev,
      .btn-next {
        background-color: transparent;
      }
      button:disabled {
        background-color: transparent;
      }
      .el-pager li {
        background-color: transparent;
      }
      .el-pager li.active {
        color: #6417a6;
      }
    }
  }
  .el-tabs {
    .el-tabs__header {
      margin: 0;
      .el-tabs__nav-wrap:after {
        height: 0;
      }
      .el-tabs__active-bar.is-top {
        display: none;
      }
      .el-tabs__item {
        // width: 40px;
        height: 55px;
        padding: 0;
        text-align: center;
        &.is-active {
          background-color: transparent;
          border-bottom: 2px solid #6417a6;
        } //  &:first-child {
        //    margin-right: 20px;
        //  }
        &:last-child {
          margin-left: 20px;
        }
        &:hover {
          color: #6417a6;
        }
      }
    }
  }
  .el-switch {
    &.is-checked .el-switch__core {
      border-color: #8f4acb;
      background-color: #8f4acb;
    }
    .el-switch__label {
      color: #888;
      &.is-active {
        color: #8f4acb;
      }
    }
  }
}

.el-breadcrumb__inner.is-link {
  font-weight: normal;
}

.el-breadcrumb__separator[class*='icon'] {
  margin: 0px;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: #8f4acb !important;
}

//  hr入口
.bottomForm {
  .el-form {
    .el-form-item__label {
      color: #fff;
      text-align: left;
    }
    .el-form-item.is-required .el-form-item__label:before {
      content: '';
    }
    .el-form-item__content {
      width: 420px;
      border-radius: 4px;
      .el-input__inner {
        overflow: hidden;
        border-radius: 4px;
      }
      .el-autocomplete {
        width: 100%;
      }
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; //关于解决输入框背景颜色
  // -webkit-text-fill-color: #606266 !important; //关于接输入框文字颜色
}

.img-flex {
  width: 100%;
  height: 553px;
  position: absolute;
  ul {
    font-size: 0;
    height: 553px;
    li {
      display: block;
      background-repeat: no-repeat;
      float: left;
      position: relative;
      height: 553px;
    }
  }
}

.el-icon-warning {
  color: #ff5f5f;
}

.descript {
  span {
    display: inline;
    line-height: 30px;
  }
  p {
    margin: 20px 0px;
  }
}

.playerBox {
  .social-share .icon-wechat .wechat-qrcode {
    top: -205px !important;
    left: -155px !important;
    &:after {
      left: 85% !important;
      bottom: -13px;
    }
  }
}

.sharePicture {
  .social-share .icon-wechat .wechat-qrcode {
    top: 50px !important;
    &:after {
      bottom: auto;
      transform: rotate(-180deg);
      top: -14px;
      border-color: #f3f3f3 transparent transparent transparent;
    }
  }
}

.shareIcons .social-share .icon-wechat .wechat-qrcode {
  top: 48px;
}

.social-share .icon-wechat .wechat-qrcode:after {
  bottom: -4px;
}

.newsCarousel {
  .el-carousel__container {
    height: 406px;
  }
  .el-carousel__indicators {
    display: none;
  }
}

// 设置课程详情鼠标悬浮状态
.main-crumb .main-crumbs .el-breadcrumb__inner:hover {
  cursor: pointer;
}

//机构入口页
.allInfo {
  .bottomForm .el-form .el-button.el-button--primary {
    border: none;
  }
  .el-form-item.is-error .el-input__inner,
  .el-form-item.is-error .el-input__inner:focus,
  .el-form-item.is-error .el-textarea__inner,
  .el-form-item.is-error .el-textarea__inner:focus {
    border: none;
  }
}

// ::-webkit-scrollbar {
//   width: 10px;
//   height: 4px;
//   border-radius: 8px;
//   background-color: #231c69;
// }
// /*定义滚动条轨道 内阴影+圆角*/
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   border-radius: 8px;
//   background: #231c69;
// }
// /*定义滑块 内阴影+圆角*/
// ::-webkit-scrollbar-thumb {
//   border-radius: 5px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #8f4acb;
// }
// ::-webkit-scrollbar-thumb:hover {
//   border-radius: 5px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #8f4acb;
// }
