@import './element-variables';
@import "~element-ui/packages/theme-chalk/src/index";
/* 默认的 Element 无法满足需要时，就在下面进行扩展，建议扩展方式仍然参考 Element 的风格 */

/* Button */

.el-button--large {
  padding: $--button-large-padding-vertical $--button-large-padding-horizontal;
  font-size: $--button-large-font-size;
  border-radius: $--button-large-border-radius;
}

.el-button+.el-button {
  margin: 0 10px;
}

.el-button+.el-dropdown {
  margin: 0 10px;
}

/* Menu */

.el-menu-item--text {
  pointer-events: none;
}

// banner
.el-carousel__container {
  height: 636px;
}

.el-carousel__indicators {
  bottom: 145px;
  left: auto;
  right: 0;
}

.el-carousel__button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

// tab切换
.el-tabs--left .el-tabs__header.is-left {
  width: 178px;
  margin: 0;
}

.el-tabs--left .el-tabs__nav-wrap.is-left {
  margin: 0;
}

.el-tabs--left .el-tabs__item.is-left {
  text-align: center;
}

.el-tabs__nav {
  background-color: #6417a6;
  height: 636px;
}

.el-tabs__header.is-left {
  margin-right: 40px;
}

.el-tabs__active-bar.is-left {
  display: none;
}

.el-tabs__item {
  height: 76px;
  line-height: 76px;
  color: #fff;
  font-weight: 400;
}

.el-tabs__item.is-active {
  color: #6417A6;
  background-color: #fff;
  opacity: .9;
}
.bg{
  .el-tabs__content {
    width: 1022px;
    z-index: 2;
    height: 456px;
    padding: 25px 0 25px 42px;
    overflow-y: auto;
    background-color: #eee;
    opacity: 0.94;
  }

}



// 设置rate组件start距离
.el-rate__icon{
  margin-right: 0px;
  font-size: 15px;
}

.el-card{
  border: none;
}
// 去掉边框20px
.el-main {
  padding: 0px;
}
.el-carousel__item--card{
  width: 320px;
}
// 设置走马灯的高度

.home-evaluate{
  .el-carousel__container {
    width: 1100px; // margin-left: 114px;
    margin: 0 auto;
  }
  .el-carousel__item {
    width: 1100px; // margin-right: 100px;
  }

}
  .el-carousel__indicators {
    // display: none;
    margin-bootom: 22px!important;
  }
  .home-evaluate{
    .el-carousel__indicators{
      bottom: 50px;
      left: 50%;
      right: auto;
    }
  }






