@import './element-variables';
@import "~element-ui/packages/theme-chalk/src/index";

/* 默认的 Element 无法满足需要时，就在下面进行扩展，建议扩展方式仍然参考 Element 的风格 */

/* Button */
.el-button--large {
  padding: $--button-large-padding-vertical $--button-large-padding-horizontal;
  font-size: $--button-large-font-size;
  border-radius: $--button-large-border-radius;
}

.el-button+.el-button {
  margin: 0 10px;
}

.el-button+.el-dropdown {
  margin: 0 10px;
}

/* Menu */
.el-menu-item--text {
  pointer-events: none;
}
