.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.formList{
  width: 500px;
  .userImg{
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    div{
      width: 60px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 5px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -30px;
      background-color: #ddd;
    }
    div input[type="file"]{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    div i{
      // content: "\E62B";
      font-style: normal;
      font-size: 12px;
    }
  }
  .updownError{
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 100px 0 0;
    color: #f4555d;
  }
  .sex{
    padding-left: 80px;
    height: 40px;
  }
}
