@import './profile/index';
@import './course/index';
@import './home/index';
@import './other/index';
@import './project/index';
@import './components/index';
@import './auth/forgotpassword';
@import './teacher/index';
@import './curriculum/index';
