.news-banner {
  height: 148px;
  overflow: hidden;
  position: relative;

  img {
    width: 1920px;
    // width: 100%;
    height: 148px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.news-list {
  .news-banner {
    position: relative;
    height: 300px !important;

    img {
      width: 1920px;
      height: 300px;
      margin: 0 auto;
    }

    .newLsit-desc {
      position: absolute;
      top: 50px;
      right: 18%;
      width: 190px;
      color: #fff;
      text-align: right;

      .title {
        font-size: 46px;
      }

      .line {
        width: 46px;
        height: 4px;
        background: rgba(255, 255, 255, 1);
        margin: 32px 0 28px 0;
      }

      .small-title {
        font-size: 33px;
        margin-bottom: 20px;
      }

      .desc {
        font-size: 20px;
      }
    }
  }
}

.famousTeacher {
  position: relative;
  height: 300px !important;
  background: url('https://static-image.1911edu.com/famousTeacher.png') no-repeat;
  background-size: 1920px 300px;
  background-position: center center;
}
