.breadCrumb {
	height: 80px;
	width: 1100px;
	margin: 0 auto;
	line-height: 80px;
	.main-crumbs {
		vertical-align: middle;
		display: inline-block;
		.el-breadcrumb__separator {
			color: #222;
		}
		.el-breadcrumb__inner {
			cursor: pointer;
			color: #222;
			&:hover {
				color: #5f068d;
			}
		}
		.el-breadcrumb__item {
			&:last-child {
				.el-breadcrumb__inner {
					cursor: inherit !important;
				}
			}
		}
	}
}
