.carousel {
  .lbt {
    background-color: rgb(211, 208, 255);
  }
  .el-main {
    padding: 0;
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
}
