.dataDownload {
  .top {
    height: 50px;
    line-height: 50px;
    background-color: #F7F9FB;

    .left {
      float: left;
      margin-left: 75px;
    }

    .allDownload {
      float: right;
      width: 100px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border: 1px solid #7A3181;
      font-size: 14px;
      color: #7A3181;
      border-radius: 15px;
      margin-top: 10px;
      margin-right: 20px;
      cursor: pointer;
    }

    .choose {
      position: absolute;
      left: 34px;
      top: 63px;
      z-index: 100;
      font-size: 18px;
      color: #222;
    }

  }
}
