.footerBox {
  width: 100%;
  height: 100px;
  background-color: #050223;
  color: #fff;

  // position: fixed;
  // bottom: 0;
  // left: 0;
  .main {
    width: 1100px;
    margin: 0 auto;

    .logo {
      height: 100px;

      i {
        display: inline-block;
        width: 128px;
        height: 32px;
        background: url('https://static-image.1911edu.com/logofooter.png') no-repeat center bottom;
        background-size: contain;
        margin-top: 34px;
      }
    }

    .companyInfo {
      margin-left: 43px;
      line-height: 100px;

      span {
        cursor: pointer;
        transition: all 300ms;

        &.line {
          margin: 0 15px;
        }

        &:hover {
          color: #999;
        }

        &.aboutSpan {
          cursor: auto;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .copyright {
      font-size: 14px;
      color: #fff;
      line-height: 28px;
      text-align: right;
      margin-top: 22px;

      .two {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
      }
    }
  }
}
