.footerBox {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #050223;
  color: #fff;
  .main {
    width: 1100px;
    margin: 0 auto;
    .logo {
      height: 70px;
      i {
        display: inline-block;
        margin-top: 20px;
        width: 128px;
        height: 32px;
<<<<<<< HEAD
        background: url('http://pam8iyw9q.bkt.clouddn.com/logof.png') no-repeat;
=======
        background: url('~assets/images/logof.png') no-repeat;
>>>>>>> dev
        background-size: cover;
      }
    }
    .companyInfo {
      margin-left: 43px;
      span {
        cursor: pointer;
        &.line {
          margin: 0 15px;
        }
      }
    }
  }
}
