body {
  padding-top: 90px;
}

.headerBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; // height: 90px;
  border-bottom: 1px #e8d6f7 solid;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04);
  z-index: 100; // width: 100%; // height: 90px;
  // border-bottom: 1px #e8d6f7 solid;
  // background-color: #fff;
  // box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04);
  flex: 0 0 auto;
  white-space: nowrap;
  .main {
    // width: 1100px;
    width: 84%;
    height: 90px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    .header-fl {
      // float: left;
      white-space: nowrap;
      width: 535px;
      height: 50px;
      position: absolute;
      left: 0;
    }
    .header-fr {
      // float: right;
      position: absolute;
      right: 0;
      white-space: nowrap;
      width: 550px;
    }
    .headerLogo {
      width: 130px;
      height: 50px;
      cursor: pointer;
      float: left;
      img {
        width: 130px;
        height: 50px;
      }
      i {
        display: inline-block;
        width: 177px;
        height: 44px;
        background: url('~assets/images/iconList.png') no-repeat;
        background-size: 177px 966px;
        background-position: 0 0;
      }
    }
    .backHome {
      width: 35px;
      margin: 0 30px;
      cursor: pointer;
      font-size: 16px;
      float: left;
      line-height: 50px;
      box-sizing: border-box;
      &:hover {
        border-bottom: 2px solid #6417a6;
        color: #6417a6;
      }
    }

    .dropdown {
      float: left;
      line-height: 50px;
      .dropItem {
        float: left;
        box-sizing: border-box;
        position: relative;
        margin-right: 40px;
        .el-dropdown-link {
          font-size: 16px;
          color: #222;
          i.el-icon-arrow-down {
            display: none;
            width: 17px;
            position: absolute;
            right: -18px;
            top: 18px;
          }
        }
        .drops {
          display: none;
          position: absolute;
          left: -32px;
          top: 53px;
          background-color: #fff;
          width: 126px;
          ul {
            width: 100%;
            padding-top: 17px;
            li {
              width: 100%;
              height: 60px;
              line-height: 60px;
              text-align: center;
              font-size: 16px;
              color: #222;
              background-color: #fff;

              &:hover {
                background-color: #eee;
                color: #6417a6;
              }
            }
          }
        }
        &:hover {
          border-bottom: 2px solid #6417a6;
          .el-dropdown-link {
            color: #6417a6;
            i.el-icon-arrow-down {
              display: block;
            }
          }

          .drops {
            display: block;
          }
        }
      }
    }

    .teach {
      // margin-left: 20px;
      cursor: pointer;
      float: left;
      line-height: 50px;
      font-size: 16px;
      color: #222;
      &:hover {
        border-bottom: 2px solid #6417a6;
        color: #6417a6;
      }
    }
    .search {
      width: 170px;
      height: 30px;
      border-bottom: 1px solid #7d7d7d;
      position: relative;
      float: right;
      margin-top: 6px;
      line-height: 32px;
      input {
        width: 150px;
        height: 28px;
        font-size: 14px;
        color: #222;
        text-indent: 0.5em;
      }
      input::-webkit-input-placeholder {
        color: #aaa;
        cursor: pointer;
      }
      input:-moz-placeholder {
        color: #aaa;
      }
      input::-moz-placeholder {
        color: #aaa;
      }
      input:-ms-input-placeholder {
        color: #aaa;
      }
      img {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 6px;
        right: 18px;
        cursor: pointer;
      }
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 10px;
        right: 0;
        color: #666666;
        cursor: pointer;
      }
    }
    .HREntry {
      float: right;
      // line-height: 50px;
      &.islogined {
      }
      span {
        color: #222;
        float: left;
        cursor: pointer;
        transition: all 300ms;
        &.topCenter {
          margin-top: 17px;
        }
        &.topCode {
          margin: 17px 15px 0 50px;
        }
        &.hrin {
          width: 100px;
          height: 17px;
          text-align: center;
          position: relative;
          border-left: 1px solid #222;
          border-right: 1px solid #222;
          i {
            display: inline-block;
            width: 45px;
            height: 27px;
            background: url('http://papn9j3ys.bkt.clouddn.com/preferential.png')
              no-repeat;
            background-size: contain;
            position: absolute;
            top: -26px;
            right: 3px;
          }
        }
      }
      .shoppingCart {
        display: inline-block;
        padding: 0;
        width: auto;
        margin: 15px 0 0 20px;
        position: relative;
        cursor: pointer;
        vertical-align: top;
        span {
          width: 20px;
          height: 20px;
          background: url('http://papn9j3ys.bkt.clouddn.com/cartIcon.png')
            no-repeat;
          background-size: 20px 20px;
          transition: all 300ms;
          &:hover {
            background: url('http://papn9j3ys.bkt.clouddn.com/cartIconHover.png')
              no-repeat;
            background-size: 20px 20px;
          }
        }
        i {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 17px;
          height: 17px;
          line-height: 17px;
          text-align: center;
          border-radius: 50%;
          background-color: #ff5f5f;
          color: #fff;
          font-size: 12px;
          overflow: hidden;
        }
      }
      span:hover {
        color: #8f4acb;
      }
      .downLoad {
        // height: 40px;
        display: inline-block;
        position: relative;
        // padding: 0 22px;
        margin: 16px 0 0 15px;
        cursor: pointer;
        &:hover .downApp {
          opacity: 1;
          display: block;
          z-index: 999;
        }
        .phone {
          display: inline-block;
          width: 14px;
          height: 20px;
          margin-bottom: -6px;
          cursor: pointer;
          background: url('~assets/images/phone.png') no-repeat;
          background-size: contain;
          transition: all 300ms;
          &:hover {
            background: url('~assets/images/phone2.png') no-repeat;
            background-size: contain;
          }
        }
        .downApp {
          opacity: 0;
          display: none;
          width: 299px;
          height: 150px;
          transition: all 300ms;
          background: rgba(255, 255, 255, 1);
          border-radius: 4px;
          box-shadow: 0px 0px 12px rgba(198, 194, 210, 0.28);
          padding: 15px;
          position: absolute;
          right: 30px;
          top: 40px;
          z-index: -1;
          .downIcon {
            display: inline-block;
            width: 120px;
            height: 120px;
            margin-right: 9px;
            transition: all 300ms;
            background: url('~assets/images/iconList.png') no-repeat;
            background-size: 177px 966px;
            background-position: 3px -337px;
            &.iphone {
              background: url('~assets/images/iconList.png') no-repeat;
              background-size: 177px 966px;
              background-position: 3px -337px;
            }
          }
          .changeType {
            width: 140px;
            span {
              display: inline-block;
              text-align: left;
              font-size: 14px;
              width: 100%;
              padding: 0 0 0 15px;
            }
            span:first-child {
              color: #050223;
              font-size: 14px;
            }
            span:nth-child(2),
            span:nth-child(3) {
              height: 36px;
              line-height: 36px;
              background-color: #6417a6;
              border-radius: 18px;
              color: #fff;
              margin-top: 8px;
              &:hover {
                background-color: #9a5cd0;
              }
            }
            span:nth-child(2) i {
              display: inline-block;
              width: 18px;
              height: 20px;
              margin-right: 5px;
              vertical-align: middle;
              background: url('~assets/images/iconList.png') no-repeat;
              background-size: 177px 966px;
              background-position: 0 -90px;
            }
            span:nth-child(3) i {
              display: inline-block;
              width: 19px;
              height: 20px;
              vertical-align: middle;
              margin-right: 5px;
              background: url('~assets/images/iconList.png') no-repeat;
              background-size: 177px 966px;
              background-position: 0 -112px;
            }
          }
        }
      }
    }

    .lrBtn {
      float: right;
      margin-left: 30px;
      height: 34px;
      margin-top: 14px;
      padding-top: 2px;
      span {
        // width: 40px;
        // height: 34px;
        // line-height: 34px;
        // text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: all 300ms;
        &:hover {
          color: #6417a6;
        }
      }
    }
    .headImg {
      height: 44px;
      position: relative;
      cursor: pointer;
      float: right;
      margin-left: 30px;
      &:hover .subPages {
        opacity: 1;
        display: block;
        z-index: 999;
      }
      span {
        width: 34px;
        height: 34px;
        background-color: #eee;
        border-radius: 50%;
        margin-top: 5px;
        img {
          width: 34px;
          height: 34px;
          border-radius: 20px;
        }
      }
      .subPages {
        opacity: 0;
        display: none;
        width: 120px;
        position: absolute;
        right: 0;
        top: 44px;
        z-index: -1;
        border-radius: 4px;
        overflow: hidden;
        transition: all 300ms;
        background-color: #fff;
        box-shadow: 0px 0px 12px rgba(198, 194, 210, 0.28);
        li {
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 14px;
          color: #332a51;
          cursor: pointer;
          transition: all 300ms;
          &:hover {
            background-color: #eee;
            color: #9a5cd0;
          }
        }
      }
    }
  }
  .exchange {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    .innerWord {
      width: 580px;
      height: 340px;
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -290px;
      border-radius: 10px;
      background-color: #fff;
      .closeEcg {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        color: #6417a6;
      }
      .changeContent {
        width: 100%;
        margin-top: 72px;
        padding: 0 35px;
        .changeInput {
          span {
            color: #222;
            font-size: 16px;
            margin-right: 20px;
          }
          input {
            width: 400px;
            height: 50px;
            border-radius: 5px;
            padding-left: 20px;
            background-color: #f1e9f8;
            ::placeholder {
              color: #c099ec;
              font-size: 14px;
            }
          }
          p {
            height: 30px;
            line-height: 30px;
            span {
              font-size: 13px;
              color: #ff5f5f;
              padding-left: 124px;
            }
          }
        }
        .changeTips {
          padding-left: 120px;
          p {
            color: #aaa;
            font-size: 12px;
            line-height: 24px;
          }
        }
        .bind {
          width: 125px;
          height: 42px;
          line-height: 42px;
          text-align: center;
          color: #fff;
          margin: 50px auto 0;
          border-radius: 21px;
          background-color: #cccccc;
          cursor: pointer;
          &.input {
            background-color: #8f4acb;
          }
        }
      }
    }
  }
  .start {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    .bgt {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .lrFrame {
      width: 400px;
      height: auto;
      padding: 30px 0;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      top: 98px;
      left: 50%;
      margin-left: -200px;
      .closelrFrom {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        color: #6417a6;
        cursor: pointer;
        z-index: 3;
      }
      .hidePwd {
        position: absolute;
        right: 68px;
        top: 14px;
        width: 20px;
        height: 20px;
        background: url('http://papn9j3ys.bkt.clouddn.com/eyec.png') no-repeat;
        background-size: 20px 20px;
        cursor: pointer;
      }
      .showPwd {
        position: absolute;
        right: 68px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: none;
        background: url('http://papn9j3ys.bkt.clouddn.com/eyeo.png') no-repeat;
        background-size: 20px 20px;
        cursor: pointer;
      }
      .otherLogin {
        width: 125px;
        height: 24px;
        line-height: 24px;
        margin: 30px auto 25px;
        text-align: center;
        padding-right: 40px;
        background: url('http://papn9j3ys.bkt.clouddn.com/wx1.png') no-repeat
          97px 0;
        background-size: 24px 24px;
        font-size: 14px;
        color: #555555;
        cursor: pointer;
        transition: all 300ms;
        &:hover {
          background: url('http://papn9j3ys.bkt.clouddn.com/wx2.png') no-repeat
            97px 0;
          background-size: 24px 24px;
        }
      }
      .getCode {
        width: 118px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-left: 18px;
        border-radius: 6px;
        background-color: #eee;
        color: #6417a6;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        cursor: pointer;
      }
      .el-checkbox {
        // margin-bottom: 30px;
        margin-right: 130px; // margin-top: -5px;
      }
      .bindCompany {
        height: 39px;
        position: absolute;
        right: 93px;
        top: 0;
        color: #bbb;
        font-size: 12px;
        background-color: #fff;
      }
      .el-button {
        margin-top: 20px;
        position: relative;
      }
    }
    .wechatLogin {
      width: 450px;
      height: auto;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      top: 90px;
      left: 50%;
      margin-left: -225px;
      z-index: 999;
      padding-bottom: 64px;
      .closeWechat {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        color: #6417a6;
        z-index: 3;
      }
      .el-form {
        padding-top: 50px;
        margin-top: 20px;
      }
      h4 {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50%;
        margin-top: 30px;
        span {
          width: 100%;
          text-align: center;
          height: 50px;
          line-height: 50px;
          color: #222;
        } // i {
        //   position: absolute;
        //   right: 20px;
        //   top: 20px;
        //   color: #6417a6;
        //   font-size: 30px;
        // }
      }
      .scanCode {
        width: 450px;
        height: 500px;
        background-color: #fff;
        border-radius: 10px;
        .wxchatIMG {
          width: 300px;
          height: 400px;
          position: absolute;
          top: 50px;
          left: 50%;
          margin-left: -150px;
        }
        p {
          text-align: center;
          font-size: 12px;
          color: #666;
          margin-top: 395px;
          i {
            color: #6417a6;
            cursor: pointer;
          }
        }
      }
      button {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        background-color: #6417a6;
        font-size: 14px;
        color: #fff;
      }
      .el-button {
        width: 264px;
        height: 40px;
        display: block;
        border-radius: 6px;
        background-color: #6417a6;
        margin: 20px auto 20px;
        color: #fff;
      }
      .bindSuccess {
        img {
          display: block;
          width: 114px;
          height: 114px;
          margin: 90px auto 40px;
        }
        h5 {
          font-size: 20px;
          color: #6417a6;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 14px;
          color: #555;
          padding: 19px 0 88px;
        }
      }
    }
  }
}

.cli {
  cursor: pointer;
}
.recommend {
  // position: absolute;
  // top: 0;
  // left: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: linear-gradient(to right, #5e00b5, #e91351);
  div {
    width: 1100px;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    line-height: 40px;
    span {
      vertical-align: top;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
      margin: 0 20px;
    }
    img {
      width: 52px;
      height: 37px;
    }
    img:first-child {
      width: 53px;
      height: 30px;
    }
  }
  i {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #6417a6;
  }
}
.userPotal {
  position: absolute;
  right: 93px;
  bottom: 175px;
  font-size: 12px;
  color: #6417a6;
  font-weight: 500;
  cursor: pointer;
}
.mobile-login {
  float: left;
}

.firstLogin .el-button {
  margin: 65px 0 0 -96px !important;
}
