.headerBox {
  width: 100%;
  // height: 90px;
  border-bottom: 1px #e8d6f7 solid;
  background-color: #fff;
  .main {
    width: 1100px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .headerLogo {
      width: 177px;
      cursor: pointer;
      img {
        width: 177px;
        height: 44px;
      }
      i {
        display: inline-block;
        width: 177px;
        height: 44px;
        background: url('~assets/images/iconList.png') no-repeat;
        background-size: 177px 966px;
        background-position: 0 0;
      }
    }
    .search {
      width: 240px;
      height: 30px;
      margin-left: 289px;
      border: 1px solid #6417a6;
      border-radius: 14px;
      position: relative;
      input {
        height: 28px;
        margin-left: 14px;
        font-size: 14px;
        cursor: pointer;
      }
      input::-webkit-input-placeholder {
        color: #6417a6;
        cursor: pointer;
      }
      input:-moz-placeholder {
        color: #6417a6;
      }
      input::-moz-placeholder {
        color: #6417a6;
      }
      input:-ms-input-placeholder {
        color: #6417a6;
      }
      img {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 6px;
        right: 18px;
        cursor: pointer;
      }
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 6px;
        right: 18px;
        cursor: pointer;
        background: url('~assets/images/iconList.png') no-repeat;
        background-size: 177px 966px;
        background-position: 0 -321px;
      }
    }
    .HREntry {
      margin-left: 50px;
      margin-top: 20px;
      &.islogined {
        margin-left: 106px;
        height: 40px;
        margin-top: 20px;
      }
      span {
        color: #222;
        width: 78px;
        padding: 0 10px;
        text-align: right;
        vertical-align: top;
        cursor: pointer;
        transition: all 300ms;
        &.hrin {
          position: relative;
          border-right: 2px solid #ccc;
          i {
            display: inline-block;
            width: 45px;
            height: 27px;
            background: url('~assets/images/iconList.png') no-repeat;
            background-size: 177px 966px;
            background-position: 0 -457px;
            position: absolute;
            top: -25px;
            right: -10px;
          }
        }
      }
      .shoppingCart {
        display: inline-block;
        padding: 0;
        width: auto;
        margin-right: 14px;
        position: relative;
        cursor: pointer;
        vertical-align: top;
        span {
          width: 20px;
          height: 20px;
          background: url('http://pam8iyw9q.bkt.clouddn.com/cartIcon.png')
            no-repeat;
          background-size: 20px 20px;
          transition: all 300ms;
          &:hover {
            background: url('http://pam8iyw9q.bkt.clouddn.com/cartIconHover.png')
              no-repeat;
            background-size: 20px 20px;
          }
        }
        i {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 17px;
          height: 17px;
          line-height: 17px;
          text-align: center;
          border-radius: 50%;
          background-color: #ff5f5f;
          color: #fff;
          font-size: 12px;
          overflow: hidden;
        }
      }
      span:hover {
        color: #8f4acb;
      }
      .downLoad {
        height: 40px;
        display: inline-block;
        position: relative;
        padding: 0 25px;
        cursor: pointer;
        &:hover .downApp {
          opacity: 1;
          z-index: 9;
        }
        .phone {
          display: inline-block;
          width: 14px;
          height: 20px;
          cursor: pointer;
          background: url('~assets/images/phone.png') no-repeat;
          background-size: contain;
          transition: all 300ms;
          &:hover {
            background: url('~assets/images/phone2.png') no-repeat;
            background-size: contain;
          }
        }
        .downApp {
          opacity: 0;
          width: 299px;
          height: 150px;
          transition: all 300ms;
          background: rgba(255, 255, 255, 1);
          border-radius: 4px;
          box-shadow: 0px 0px 12px rgba(198, 194, 210, 0.28);
          padding: 15px;
          position: absolute;
          right: 30px;
          top: 40px;
          z-index: -1;
          .downIcon {
            display: inline-block;
            width: 120px;
            height: 120px;
            margin-right: 9px;
            transition: all 300ms;
            background: url('~assets/images/iconList.png') no-repeat;
            background-size: 177px 966px;
            background-position: 3px -337px;
            &.iphone {
              background: url('~assets/images/iconList.png') no-repeat;
              background-size: 177px 966px;
              background-position: 3px -337px;
            }
          }
          .changeType {
            width: 140px;
            span {
              display: inline-block;
              text-align: left;
              font-size: 14px;
              width: 100%;
              padding-left: 15px;
            }
            span:first-child {
              color: #050223;
              font-size: 14px;
            }
            span:nth-child(2),
            span:nth-child(3) {
              height: 36px;
              line-height: 36px;
              background-color: #6417a6;
              border-radius: 18px;
              color: #fff;
              margin-top: 8px;
              &:hover {
                background-color: #9a5cd0;
              }
            }
            span:nth-child(2) i {
              display: inline-block;
              width: 18px;
              height: 20px;
              margin-right: 5px;
              vertical-align: middle;
              background: url('~assets/images/iconList.png') no-repeat;
              background-size: 177px 966px;
              background-position: 0 -90px;
            }
            span:nth-child(3) i {
              display: inline-block;
              width: 19px;
              height: 20px;
              vertical-align: middle;
              margin-right: 5px;
              background: url('~assets/images/iconList.png') no-repeat;
              background-size: 177px 966px;
              background-position: 0 -112px;
            }
          }
        }
      }
    }
    .lrBtn {
      span {
        width: 95px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #491c9c;
        color: #491c9c;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          border-color: #8f4acb;
        }
      }
      .login {
        color: #491c9c;
        margin-right: 10px;
        &:hover {
          color: #8f4acb;
        }
      }
      .register {
        margin-left: 10px;
        background-color: #6417a6;
        color: #fff;
        &:hover {
          background-color: #8f4acb;
        }
      }
    }
    .headImg {
      height: 44px;
      position: relative;
      cursor: pointer;
      &:hover .subPages {
        opacity: 1;
        z-index: 9;
      }
      span {
        width: 34px;
        height: 34px;
        background-color: #eee;
        border-radius: 50%;
        margin-top: 5px;
        img {
          width: 34px;
          height: 34px;
          border-radius: 20px;
        }
      }
      .subPages {
        opacity: 0;
        width: 120px;
        position: absolute;
        right: 0;
        top: 44px;
        z-index: -1;
        border-radius: 4px;
        overflow: hidden;
        transition: all 300ms;
        background-color: #fff;
        box-shadow: 0px 0px 12px rgba(198, 194, 210, 0.28);
        li {
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 14px;
          color: #332a51;
          cursor: pointer;
          transition: all 300ms;
          &:hover {
            background-color: #9a5cd0;
            color: #fff;
          }
        }
      }
    }
  }
  .start {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    .bgt {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .lrFrame {
      width: 400px;
      height: auto;
      padding: 30px 0;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      top: 98px;
      left: 50%;
      margin-left: -200px;
      .hidePwd {
        position: absolute;
        right: 68px;
        top: 14px;
        width: 20px;
        height: 20px;
        background: url('http://pam8iyw9q.bkt.clouddn.com/eyec.png') no-repeat;
        background-size: 20px 20px;
        cursor: pointer;
      }
      .showPwd {
        position: absolute;
        right: 68px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: none;
        background: url('http://pam8iyw9q.bkt.clouddn.com/eyeo.png') no-repeat;
        background-size: 20px 20px;
        cursor: pointer;
      }
      .otherLogin {
        width: 125px;
        height: 24px;
        line-height: 24px;
        margin: 30px auto 25px;
        text-align: center;
        padding-right: 40px;
        background: url('http://pam8iyw9q.bkt.clouddn.com/wx1.png') no-repeat
          97px 0;
        background-size: 24px 24px;
        font-size: 14px;
        color: #555555;
        cursor: pointer;
        transition: all 300ms;
        &:hover {
          background: url('http://pam8iyw9q.bkt.clouddn.com/wx2.png') no-repeat
            97px 0;
          background-size: 24px 24px;
        }
      }
      .getCode {
        width: 118px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-left: 18px;
        border-radius: 6px;
        background-color: #eee;
        color: #6417a6;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        cursor: pointer;
      }
      .el-checkbox {
        // margin-bottom: 30px;
        margin-right: 130px; // margin-top: -5px;
      }
      .bindCompany {
        height: 39px;
        position: absolute;
        right: 93px;
        top: 0;
        color: #bbb;
        font-size: 12px;
        background-color: #fff;
      }
      .el-button {
        margin-top: 20px;
      }
    }
    .wechatLogin {
      width: 450px;
      height: auto;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      top: 90px;
      left: 50%;
      margin-left: -225px;
      .el-form {
        padding-top: 50px;
      }
      h4 {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50%;
        span {
          width: 100%;
          text-align: center;
          height: 50px;
          line-height: 50px;
          color: #222;
        } // i {
        //   position: absolute;
        //   right: 20px;
        //   top: 20px;
        //   color: #6417a6;
        //   font-size: 30px;
        // }
      }
      .scanCode {
        width: 450px;
        height: 500px;
        background-color: #fff;
        border-radius: 10px;
        .wxchatIMG {
          width: 300px;
          height: 400px;
          position: absolute;
          top: 50px;
          left: 50%;
          margin-left: -150px;
        }
        p {
          text-align: center;
          font-size: 12px;
          color: #666;
          margin-top: 395px;
          i {
            color: #6417a6;
            cursor: pointer;
          }
        }
      }
      button {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        background-color: #6417a6;
        font-size: 14px;
        color: #fff;
      }
      .el-button {
        width: 264px;
        height: 40px;
        display: block;
        border-radius: 6px;
        background-color: #6417a6;
        margin: 62px auto 41px;
        color: #fff;
      }
      .bindSuccess {
        img {
          display: block;
          width: 114px;
          height: 114px;
          margin: 90px auto 40px;
        }
        h5 {
          font-size: 20px;
          color: #6417a6;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 14px;
          color: #555;
          padding: 19px 0 88px;
        }
      }
    }
  }
}
