body {
  // padding-top: 130px;

  &.mobile {
    zoom: 0.85 !important;
  }

  &.englishMobile {
    zoom: 0.8 !important;
  }
}

.headerBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  z-index: 109;
  flex: 0 0 auto;
  white-space: nowrap;
  transition: all 500ms;

  .redInfo {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: -6px;
    top: 25px;
  }

  .main {
    width: 1100px;
    min-width: 1100px;
    height: 72px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;

    // transition: all 500ms;
    &.widthMain {
      width: 85%;
    }
  }

  .header-fl {
    white-space: nowrap;
    width: 50%;
    height: 72px;
    position: absolute;
    left: 0;
    top: 0;

    // &.big {

    //   // width: 1055px;
    //   .headerPage {
    //     .nav {
    //       margin-right: 25px;

    //       &:first-child {
    //         margin-left: 40px;
    //       }
    //     }
    //   }
    // }
  }

  .header-fr {
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    width: 50%;
    height: 100%;

    //   &.big {
    //     width: 220px;
    //   }
  }

  .headerLogo {
    width: 146px;
    height: 56px;
    cursor: pointer;
    margin-top: 16px;

    img {
      width: 146px;
      height: 42px;
    }
  }


  .headerClass {
    font-size: 16px;
    color: #222;
  }

  .headerPage {
    width: auto;
    display: flex;
    transition: all 400ms;

    &.noWidth {
      width: 0;
      overflow: hidden;
      color: #fff;
    }

    .nav {
      position: relative;
      float: left;
      cursor: pointer;
      font-size: 14px;
      height: 72px;
      line-height: 72px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-right: 25px;

      &:first-child {
        margin-left: 25px;
      }

      &:last-child {
        margin-right: 0;
      }

      .navInner {
        line-height: 56px;
        margin-top: 8px;
        position: relative;
      }

      .navInner:after {
        content: '';
        height: 2px;
        width: 0%;
        background-color: #773084;
        position: absolute;
        top: 100%;
        left: 50%;
        transition: all .2s;
        opacity: 0.2;
      }

      &:hover {
        .navInner {
          color: #773084;
        }

        .navInner:after {
          width: 100%;
          left: 0%;
          opacity: 1;
        }

        .subPages {
          max-height: 500px;
          z-index: 200;

          li {
            opacity: 1;
            height: 40px;
            line-height: 40px;
            color: #332a51;
          }
        }
      }

      &.active {
        .navInner {
          border-bottom: 2px solid #773084;
          color: #773084;
          font-weight: 500;
        }
      }
    }
  }

  .fuli {
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 72px;
    margin: 0 20px;

    .icon {
      width: 16px;
      margin-right: 5px;
      margin-bottom: -2px;
    }

    &:hover {
      .welf {
        display: block;
      }
    }

    .welf {
      display: none;
      position: absolute;
      left: -40px;
      top: 90px;
      background-color: #fff;
      width: 214px;
      height: 250px;
      padding-top: 25px;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0px 5px 12px rgba(198, 194, 210, .28);

      img {
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto;
      }

      p.text {
        font-size: 14px;
        color: #222;
        margin-top: 10px;
        text-align: center;
        line-height: 28px;
      }

      p.desc {
        font-size: 12px;
        color: #999;
        text-align: center;
        line-height: 28px;


      }
    }

  }

  .english {
    position: relative;
    float: left;
    // margin-top: 27px;
    line-height: 72px;
    transition: all 300ms;

    &:hover {
      color: #773084;

      .globe:before {
        background: url("https://static-image.1911edu.com/earth-purple.png") no-repeat;
        background-size: contain;
      }
    }

    .globe {
      vertical-align: middle;

      &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        transition: all 300ms;
        background: url("https://static-image.1911edu.com/earth-black.png") no-repeat;
        background-size: contain;
        margin-bottom: -2px;

      }
    }

    .eng {
      height: 26px;
      font-size: 14px;
      text-align: center;
      line-height: 26px;
      cursor: pointer;
      margin-left: 5px;
    }
  }

  .search {
    position: relative;
    float: right;
    width: 290px;
    height: 36px;
    margin-top: 18px;
    line-height: 36px;
    box-sizing: border-box;

    img {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 6px;
      right: 18px;
      cursor: pointer;
    }

    .out-icon {
      display: inline-block;
      position: absolute;
      top: 5px;
      right: 0;
      font-size: 20px;
      font-weight: 700;
      color: #666666;
      cursor: pointer;

      &:hover {
        color: #773084;
      }
    }

    .searchInput {
      overflow: hidden;
      // box-shadow: 0px 3px 12px rgba(0, 0, 0, .1);
      color: #aaa;
      background-color: #fff;
      border: 1px solid #773084;
      height: 36px;
      box-sizing: border-box;

      .innerIcon {
        width: 70px;
        height: 38px;
        text-align: center;
        color: #fff;
        background-color: #773084;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
      }

      .inner-icon {
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 12px;
        font-weight: 600;
      }

      input {
        width: 220px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        color: #222;
        text-indent: 0.5em;
        background-color: #fff;
        z-index: 10;
        padding-left: 10px;
        display: inline-block;
        vertical-align: middle;
      }

      input::-webkit-input-placeholder {
        color: #aaa;
      }

      input:-moz-placeholder {
        color: #aaa;
      }

      input::-moz-placeholder {
        color: #aaa;
      }

      input:-ms-input-placeholder {
        color: #aaa;
      }
    }
  }

  .HREntry {
    float: left;
    font-size: 16px;
    margin-top: 33px;

    span {
      color: #222;
      float: left;
      cursor: pointer;
      transition: all 300ms;

      &.topCenter {
        // margin-top: 17px;
      }

      &.topCode {
        margin: 0 15px 0 30px;
      }

      &.hrin {
        width: 100px;
        height: 17px;
        text-align: center;
        position: relative;
        border-left: 1px solid #222;
        border-right: 1px solid #222;

        i {
          // display: inline-block;
          display: none;
          width: 45px;
          height: 27px;
          background: url('https://static-image.1911edu.com/preferential.png') no-repeat;
          background-size: contain;
          position: absolute;
          top: -26px;
          right: 3px;
        }

        &.active {
          color: #773084;
        }
      }
    }

    span:hover {
      color: #773084;
    }

    .downLoad {
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 43px;
      width: 30px;
      text-align: right;

      .phone {
        display: inline-block;
        width: 14px;
        height: 20px;
        margin-top: -2px;
        cursor: pointer;
        background: url('https://static-image.1911edu.com/phone.png') no-repeat;
        background-size: contain;
        transition: all 300ms;

        &:hover {
          background: url('https://static-image.1911edu.com/phone2.png') no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .lrBtn {
    float: right;
    margin-left: 20px;
    margin-top: 27px;

    span {
      font-size: 16px;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        color: #773084;
      }
    }
  }

  .downApp {
    opacity: 0;
    display: none;
    transition: all 300ms;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(198, 194, 210, 0.28);
    text-align: center;
    position: absolute;
    left: 120px;
    top: -40px;
    z-index: -1;
    // width: 140px;
    // height: 140px;
    padding: 15px;
    padding-bottom: 0;

    .changeType {
      width: 150px;
      text-align: center;
      margin-top: -20px;

      span {
        display: inline-block;
        width: 100%;
        padding: 0 0 0 15px;
        color: #050223;
        font-size: 14px;
      }
    }
  }

  .subHidden {
    display: none;
  }

  .subPages {
    width: 120px;
    position: absolute;
    right: 0;
    top: 72px;
    z-index: -1;
    max-height: 0;
    transition: all 300ms;
    background-color: #fff;
    box-shadow: 0px 5px 12px rgba(198, 194, 210, 0.28);

    li {
      position: relative;
      opacity: 0;
      height: 0;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      overflow: hidden;
      color: transparent;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        background-color: #eee;
        color: #773084;
        overflow: initial;
      }

      span.redInfo {
        top: 8px;
        right: 24px;
      }
    }

    li.scanCode {
      &:hover .downApp {
        opacity: 1;
        display: block;
        z-index: 200;
      }
    }
  }

  .nav .subPages {
    right: -18px;
  }

  // .nav .subPages.college {
  //   width: 120px;
  //   right: -35px;
  // }
  .fr-con {
    float: right;
    width: auto;
    transition: all 600ms;

    &.noWidth {
      width: 0;
      overflow: hidden;
    }
  }

  .rightContent {
    float: right;

    .shoppingCart {
      float: left;
      padding: 0;
      width: 20px;
      position: relative;
      cursor: pointer;
      margin: 28px 20px 0 20px;

      span {
        width: 20px;
        height: 20px;
        background: url('https://static-image.1911edu.com/cartIcon.png') no-repeat;
        background-size: 20px 20px;
        transition: all 300ms;

        &:hover {
          background: url('https://static-image.1911edu.com/cartIconHover.png') no-repeat;
          background-size: 20px 20px;
        }
      }

      i {
        position: absolute;
        top: -8px;
        right: -8px;
        height: 16px;
        line-height: 16px;
        padding: 0 5px;
        text-align: center;
        border-radius: 8px;
        background-color: #ff5f5f;
        color: #fff;
        font-size: 12px;
        overflow: hidden;
      }
    }

    .headImg {
      position: relative;
      height: 72px;
      line-height: 72px;
      position: relative;
      cursor: pointer;
      float: left;

      &:hover .subPages {
        li {
          opacity: 1;
          height: 40px;
          line-height: 40px;
          color: #332a51;
        }

        z-index: 200;
        max-height: 580px;
      }

      img {
        width: 34px;
        height: 34px;
        border-radius: 20px;
        vertical-align: middle;
        margin-bottom: 3px;
      }
    }
  }

  .start {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;

    .bgt {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 999;
    }

    .lrFrame {
      width: 400px;
      height: auto;
      padding: 30px 0;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -200px;

      .closelrFrom {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        color: #773084;
        cursor: pointer;
        z-index: 3;
      }

      .hidePwd {
        position: absolute;
        right: 68px;
        top: 14px;
        width: 20px;
        height: 20px;
        background: url('https://static-image.1911edu.com/eyec.png') no-repeat;
        background-size: 20px 20px;
        cursor: pointer;
      }

      .showPwd {
        position: absolute;
        right: 68px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: none;
        background: url('https://static-image.1911edu.com/eyeo.png') no-repeat;
        background-size: 20px 20px;
        cursor: pointer;
      }

      .otherLogin {
        width: 125px;
        height: 24px;
        line-height: 24px;
        margin: 30px auto 25px;
        text-align: center;
        padding-right: 40px;
        background: url('https://static-image.1911edu.com/wx1.png') no-repeat 97px 0;
        background-size: 24px 24px;
        font-size: 14px;
        color: #555555;
        cursor: pointer;
        transition: all 300ms;

        &:hover {
          background: url('https://static-image.1911edu.com/wx2.png') no-repeat 97px 0;
          background-size: 24px 24px;
        }
      }

      .getCode {
        width: 118px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-left: 18px;
        border-radius: 6px;
        background-color: #eee;
        color: #773084;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        cursor: pointer;
      }

      .bindCompany {
        height: 39px;
        position: absolute;
        right: 93px;
        top: 0;
        color: #bbb;
        font-size: 12px;
        background-color: #fff;
      }

      .el-button {
        position: relative;
      }
    }

    .wechatLogin {
      width: 400px;
      height: auto;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -200px;
      z-index: 999;
      padding-bottom: 64px;

      .closeWechat {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        color: #773084;
        z-index: 3;
      }

      .wechatBack {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 24px;
        color: #773084;
        z-index: 3;
      }

      .el-form {
        padding-top: 50px;
        margin-top: 20px;
      }

      h4 {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50%;
        margin-top: 30px;

        span {
          width: 100%;
          text-align: center;
          height: 50px;
          line-height: 50px;
          color: #222;
        }

        // i {
        //   position: absolute;
        //   right: 20px;
        //   top: 20px;
        //   color: #773084;
        //   font-size: 30px;
        // }
      }

      .scanCode {
        width: 400px;
        height: 380px;
        background-color: #fff;
        border-radius: 10px;

        .wxchatIMG {
          width: 300px;
          height: 400px;
          position: absolute;
          top: 50px;
          left: 50%;
          margin-left: -150px;
        }

        p {
          text-align: center;
          font-size: 12px;
          color: #666;
          margin-top: 395px;

          i {
            color: #773084;
            cursor: pointer;
          }
        }
      }

      button {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        background-color: #773084;
        font-size: 14px;
        color: #fff;
      }

      .el-button {
        width: 264px;
        height: 40px;
        display: block;
        border-radius: 6px;
        background-color: #773084;
        margin: 20px auto 20px;
        color: #fff;
      }

      .bindSuccess {
        img {
          display: block;
          width: 114px;
          height: 114px;
          margin: 90px auto 40px;
        }

        h5 {
          font-size: 20px;
          color: #773084;
          text-align: center;
        }

        p {
          text-align: center;
          font-size: 14px;
          color: #555;
          padding: 19px 0 88px;
        }
      }
    }
  }
}

.headerBottom {
  width: 100%;
  height: 45px;
  line-height: 45px;
  // overflow: hidden;
  transition: all 400ms;
  background-color: #fff;
  border-top: 1px solid #F7F9FB;

  .headerInner {
    position: relative;
    width: 1100px;
    margin: 0 auto;

    .header-fl {
      position: inherit;
      width: 50%;
      height: 45px;
      line-height: 45px;

      .headerPage {
        .subPages {
          top: 50px;
        }

        .nav {
          height: 45px;
          line-height: 45px;

          .navInner {
            margin-top: 0;
            line-height: 40px;
            // margin-top: 4px;
          }
        }

        .nav:first-child {
          margin-left: 0;
        }
      }
    }

    .header-fr {
      width: 50%;

      .fuli {
        float: right;
        height: 45px;
        line-height: 45px;
      }

      .welf {

        top: 50px;
      }

      .english {
        float: right;

        margin-top: 0;
        height: 45px;
        line-height: 45px;

        .globe:before {
          margin-bottom: -2px;
        }
      }
    }
  }
}

.headerBoxHidden {
  // height: 0;
  display: none;
}

.mobile .headerBox .main .headerPage .nav {
  font-size: 14px;
}

.cli {
  cursor: pointer;
}

.recommend {
  // position: absolute;
  // top: 0;
  // left: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: linear-gradient(to right, #5e00b5, #e91351);

  div {
    width: 1100px;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;

    span {
      vertical-align: top;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
      margin: 0 20px;
    }

    img {
      width: 52px;
      height: 37px;
    }

    img:first-child {
      width: 53px;
      height: 30px;
    }
  }

  i {
    position: absolute;
    top: 0;
    right: 0;
    // float: right;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #773084;
  }
}

.userPotal {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;

  .inner {
    color: #773084;
    cursor: pointer;
  }
}

.mobile-login {
  float: left;
}

.firstLogin,
.codeLogin {
  margin: 65px 0 0 -96px !important;
}

.mobile-login {
  width: 100px;
}
