.main-crumb {
  height: 85px;
  .main-crumbs {
    display: inline-block;
    line-height: 85px;
    height: 85px;
  }
  .fr {
    .collect {
      height: 85px;
      .line-center {
        line-height: 85px;
        img {
          width: 18px;
          height: 18px;
          display: inline-block;
          padding: 0px;
          margin: 0px;
          margin-right: 4px;
          vertical-align: middle;
        }
        span {
          font-size: 14px;
          font-family: '微软雅黑', 'Microsoft Yahei'!important;;
          color: rgba(136, 136, 136, 1);
          line-height: 0px;
          display: inline;
          padding-right: 10px;
        }
      }
    }
  }
}
