// 视频播放 切换下一小节
.player-olympic-player-next {
  width: 24px;
  height: 28px;
  background: url('https://static-image.1911edu.com/next.png') center no-repeat;
  background-size: contain;
  float: left;
  margin-left: 15px;
  margin-top: 12px;
  cursor: pointer;
  position: relative;
}

.player-olympic-player-next-tip {
  position: absolute;
  top: -45px;
  display: none;
  font-size: 12px;
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  background: #3c3c3c;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  width: 58px;
  height: 28px;
  left: 50%;
  margin-left: -29px;
}

.player-olympic-player-next:hover .player-olympic-player-next-tip {
  display: block;
}

// 视频播放 切换上一小节
.player-olympic-player-previous {
  width: 24px;
  height: 28px;
  background: url('https://static-image.1911edu.com/previous.png') center no-repeat;
  background-size: contain;
  float: left;
  margin-left: 15px;
  margin-top: 12px;
  cursor: pointer;
  position: relative;
}

.player-olympic-player-previous-tip {
  position: absolute;
  top: -45px;
  display: none;
  font-size: 12px;
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  background: #3c3c3c;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  width: 58px;
  height: 28px;
  left: 50%;
  margin-left: -29px;
}

.player-olympic-player-previous:hover .player-olympic-player-previous-tip {
  display: block;
}
