.search {
  width: 100%;
  height: 148px;
  background-color: #f7f9fb;
  padding-top: 36px;

  .main {
    width: 684px;
    margin: 0 auto;
    overflow: hidden;
  }

  .searchWord {
    width: 684px;
    height: 48px;
    border-radius: 24px;
    position: relative;
    background-color: #fff;

    // box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
    i {
      display: inline-block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 15px;
      right: 27px;
      font-size: 18px;
      cursor: pointer;
    }

    .inline-input {
      width: 90%;
      height: 48px;
      line-height: 48px;
      padding-left: 20px;

      .el-input__inner {
        background-color: transparent;
        border: none;
      }
    }
  }

  .hotWord {
    height: 44px;
    line-height: 44px;
    padding-left: 23px;

    span {
      font-size: 12px;
      color: #222;
      margin-right: 15px;
      cursor: pointer;

      &:first-child {
        cursor: auto;
      }
    }

    span:hover {
      color: #5f068d;
    }

    span:nth-child(1):hover {
      color: #000;
    }
  }
}
