.dropdown {
  width: 190px;
  margin-left: 30px;
  .item {
    display: inline-block;
  }
  .el-dropdown:nth-child(2) {
    margin-left: 15px;
  }
}
.dropdown {
  .el-dropdown {
    color: #222;
  }
  .el-dropdown-menu {
    padding: 0px;
  }
  .el-dropdown-menu__item {
    list-style: none;
    line-height: 100px;
    padding: 5px 30px;
    margin: 0;
    font-size: 14px;
    color: #606266;
    cursor: pointer;
    outline: none;
  }
}
