body {
  padding-top: 80px;

  &.mobile {
    zoom: 0.85 !important;
  }
}

.backendHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  z-index: 109;
  flex: 0 0 auto;
  white-space: nowrap;

  .main {
    width: 89%;
    min-width: 1100px;
    height: 80px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;

    .header-fl {
      white-space: nowrap;
      width: 690px;
      height: 80px;
      padding: 12px 0;
      position: absolute;
      left: 0;
      top: 0;

      &.big {
        width: 790px;
      }
    }

    .header-fr {
      position: absolute;
      right: 0;
      top: 0;
      white-space: nowrap;
      width: 360px;
      height: 100%;

      &.big {
        width: 360px;
      }
    }

    .headerLogo {
<<<<<<< HEAD
      width: 145.6px;
=======
      width: 146px;
>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
      height: 56px;
      float: left;

      img {
<<<<<<< HEAD
        width: 145.6px;
        height: 56px;
=======
        width: 146px;
        height: 42px;
        margin-top: 7px;
>>>>>>> 13be612483a95378d68e5c85629442e070cbfd72
      }
    }

    .headerPage {
      .item {
        float: left;
        font-size: 16px;
        line-height: 56px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 15px;

        &:first-child {
          margin-left: 25px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .search {
      position: relative;
      float: left;
      width: 20px;
      height: 20px;
      margin-top: 25px;
      line-height: 32px;

      .out-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 7px;
        right: 0;
        font-size: 18px;
        font-weight: 600;
        color: #666666;
      }
    }

    .HREntry {
      float: left;
      font-size: 16px;
      margin-top: 33px;

      span {
        color: #222;
        float: left;
        transition: all 300ms;

        &.topCode {
          margin: 0 15px 0 30px;
        }

        &.hrin {
          width: 100px;
          height: 17px;
          text-align: center;
          position: relative;
          border-left: 1px solid #222;
          border-right: 1px solid #222;

          i {
            display: none;
            width: 45px;
            height: 27px;
            background: url('http://static-image.1911edu.com/preferential.png') no-repeat;
            background-size: contain;
            position: absolute;
            top: -26px;
            right: 3px;
          }
        }
      }

      .downLoad {
        display: inline-block;
        position: relative;
        height: 43px;
        width: 30px;
        text-align: right;

        .phone {
          display: inline-block;
          width: 14px;
          height: 20px;
          margin-top: -2px;
          background: url('http://static-image.1911edu.com/phone.png') no-repeat;
          background-size: contain;
        }
      }
    }

    .lrBtn {
      float: left;
      margin-left: 20px;
      margin-top: 33px;

      span {
        font-size: 16px;
        transition: all 300ms;
      }
    }
  }
}
