.profile-banner {
  width: 100%;
  height: 148px;
  background: rgba(100, 23, 166, 1);
  background-image: url('http://papn9j3ys.bkt.clouddn.com/profile_banner01.png');
  background-size: 100% 100%;
  margin-bottom: 64px;
  .center-box {
    position: relative;
  }
  img.topImg {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 54px;
  }
  img.noImg {
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 54px;
  }
  .up-user-avtor {
    position: absolute;
    top: 56px;
    left: 6px;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden;
    input {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block !important;
      width: 100%;
      height: 30px;
      opacity: 0;
      z-index: 2;
    }
    span {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 108px;
      color: #fff;
      line-height: 30px;
      text-align: center;
      background: rgba(143, 74, 203, 0.5);
      cursor: pointer;
    }
    .el-upload {
      width: 100%;
    } // .el-button{
    //   text-align: center;
    //   padding: 10px 20px;
    //   font-size: 14px;
    //   background: rgba(143, 74, 203, .5);
    //   border: none;
    // }
  }
  .avator {
    float: left;
    height: 148px;
    overflow: hidden;
    .img {
      width: 120px;
      height: 120px;
      margin-top: 50px;
      position: relative;
      border-radius: 50%;
      border: solid 4px #fff;
      overflow: hidden;
    }
  }
}

.center-box {
  width: 1100px;
  margin: 0 auto;
  height: 148px;
  .name {
    float: left; // margin-top: 64px;
    margin: 64px 0px 0px 33px;
    color: rgba(255, 255, 255, 1);
    :nth-child(1) {
      font-size: 24px;
      height: 27px;
      width: 700px;
      overflow: hidden;
    }
    :nth-child(2) {
      font-size: 16px;
      margin-top: 20px;
    }
  }
  .time {
    width: 204px;
    float: right;
    border-left: 1px rgba(232, 214, 247, 1) solid;
    height: 60px;
    margin: 68px 0px 0px 0px;
    color: #fff;
    overflow: hidden;
    text-align: center;
    :nth-child(1) {
      font-size: 23px;
      margin: 0px 0px 15px 0px;
    }
    :nth-child(2) {
      font-size: 17px;
    }
  }
}
