@import './home';
@import './bindid';
@import './personalSet';
@import './myinfo';
@import './banner';
@import './noMsg';
@import './order';
@import './invitation';
@import './ticketHistory';
@import './ticketOrder';
@import './ticketRules';
@import './ticketConfirm';
// @import './list';
// @import './card';
@import './myCustomerProject';
@import './examineRecord';
@import './mycollege';
@import './answerQuestion';
@import './updateTeacherInfo';
@import './delete';
