.my-info {
  padding-bottom: 200px;
  .el-card__body{
    padding: 20px 40px;
  }
  .card-style{
    padding-bottom: 50px;
  }
  .content {
    padding: 20px 0;
    border-bottom: 1px solid rgba(232, 214, 247, 1);
    position: relative;
    &:last-child{
      border-bottom: none;
    }
    .text {
      width: 630px;
      height: auto;
      font-size: 16px;
      color: #222;
    }
    .time {
      position: absolute;
      bottom: 14px;
      right: 30px;
      font-size: 14px;
      color: #888;
    }
  }
}
