.main {
    margin: 0 auto;
    position: relative;
    .personalSet {
        input:-webkit-autofill,
        textarea:-webkit-autofill,
        select:-webkit-autofill {
            background-color: #eee !important;
        }
        float: right;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
        border-radius: 6px;
        position: relative;
        .person-edit {
            position: absolute;
            width: 22px;
            height: 22px;
            right: 40px;
            top: 17px;
            cursor: pointer;
            z-index: 10;
        }
        .el-form.psnForm {
            width: 100%;
            margin-top: 50px;
            padding-right: 50px;
            .submit {
                padding: 30px 0 0;
                text-align: center;
                .el-button {
                    width: 174px;
                    height: 56px;
                    line-height: 56px;
                    padding: 0;
                    margin: 0;
                    margin-left: -135px;
                    border-radius: 28px;
                    font-size: 16px;
                    color: #fff;
                    background-color: #ccc;
                    border: none;
                    &.submitAble {
                        background-color: #773084;
                        &:hover {
                            background-color: #5f068d;
                        }
                    }
                }
            }
            .telForm {
                .telephone {
                    width: 630px;
                    input {
                        width: 100%;
                    }
                }
                .teledit {
                    padding: 0 10px;
                    color: #783086;
                    margin-left: 8px;
                    cursor: pointer;
                    img {
                        width: 18px;
                        height: 18px;
                        margin-right: 6px;
                        vertical-align: middle;
                    }
                    &.binding {
                        display: none;
                    }
                }
            }
            .location {
                .el-select {
                    &:last-child {
                        margin-right: 0;
                    }
                }
                .el-select.lastSelect {
                    margin-right: 0;
                }
            }
            .bankInfo {
                .el-input {
                    display: inline-block;
                    width: 340px;
                    margin-right: 28px;
                    &.cardInput {
                        margin-right: 0;
                    }
                }
                .el-form-item__error {
                    margin-left: 368px;
                }
            }
        }
        .el-input__suffix-inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }
        .alertText {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .psnInfo {
        padding-bottom: 50px;
        margin-top: 30px;
        ul li {
            height: 50px;
            line-height: 50px;
            margin-top: 10px;
            span {
                font-size: 16px;
                color: #222;
                &:first-child {
                    width: 135px;
                    text-align: right;
                }
                &:nth-child(2) {
                    margin-left: 10px;
                }
                &.default {
                    color: #773084;
                }
                &.oneLine {
                    width: 700px;
                    height: 50px;
                    line-height: 50px;
                    overflow: hidden;
                    vertical-align: middle;
                }
            }
        }
    }
    .changePwd {
        .hideInput {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        .el-form {
            margin-top: 35px;
        }
        .el-form-item__content .el-button {
            width: 174px;
            height: 40px;
            line-height: 40px;
            padding: 0;
            margin: 50px 0 50px -135px;
            background-color: #773084;
            border: none;
            border-radius: 28px;
            &:hover {
                background-color: #5f068d;
            }
        }
        .el-form-item .el-input__validateIcon {
            display: none;
        }
        .forgetPassword {
            text-align: center;
            span {
                color: #773084;
                margin: 0 5px;
                cursor: pointer;
            }
        }
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #eee inset !important; //关于解决输入框背景颜色
            // -webkit-text-fill-color: #606266 !important; //关于接输入框文字颜色
        }
         ::placeholder {
            font-size: 13px;
        }
        .margin {
            margin-bottom: 0px;
        }
        .tips {
            color: #888;
            padding-left: 140px;
            height: 22px;
            line-height: 22px;
            // margin-bottom: 10px;
            text-align: right;
            margin-right: 100px;
        }
    }
    .success {
        width: 364px;
        height: 316px;
        border-radius: 10px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
        position: absolute;
        top: 70px;
        left: 50%;
        margin-left: -182px;
        img {
            width: 120px;
            height: 120px;
            margin: 69px 0 37px;
        }
        p {
            font-size: 20px;
            color: #773084;
            line-height: 25px;
        }
    }
    .bindBg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
    }
    .bingPhone {
        width: 364px;
        height: auto;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 200px;
        left: 50%;
        margin-left: -225px;
        z-index: 999;
        padding-bottom: 40px;
        .closePop {
            position: absolute;
            right: 20px;
            top: 30px;
            font-size: 20px;
            font-weight: 600;
            color: #773084;
            z-index: 3;
        }
        .backPop {
            position: absolute;
            left: 20px;
            top: 30px;
            font-size: 20px;
            font-weight: 600;
            color: #773084;
            z-index: 3;
        }
        .formInner {
            width: 264px;
            margin: 0 auto;
            h4 {
                width: 100%;
                text-align: center;
                color: #222;
                font-size: 16px;
                margin: 30px 0;
            }
            .text {
                color: #222;
                font-size: 14px;
                width: 265px;
                line-height: 25px;
            }
            .num {
                margin-top: 20px;
            }
            .el-input {
                .el-input__inner {
                    border: none !important;
                    border-bottom: 1px solid #bbbbbb !important;
                    font-size: 12px;
                    padding: 0;
                }
            }
            .captcha.el-input {
                width: 130px;
                float: left;
            }
            .lastItem {
                margin-bottom: 40px !important;
            }
            .el-button {
                width: 264px;
                height: 40px;
                display: block;
                border-radius: 6px;
                background-color: #773084;
                // margin: 20px auto 20px;
                color: #fff;
            }
            .getCode {
                float: left;
                width: 110px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background-color: #eee;
                font-size: 12px;
                color: #783086;
                margin-left: 15px;
                border-radius: 6px;
                cursor: pointer;
                border: none !important;
            }
        }
    }
}

.bigTab #pane-tab-sixth .el-tabs__content {
    overflow: hidden;
}