.main {
  margin: 0 auto;
  position: relative;
  .personalSet {
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
      background-color: #f1e9f8 !important;
    }
    float: right;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
    border-radius: 6px;
    position: relative;
    .person-edit {
      position: absolute;
      width: 22px;
      height: 22px;
      right: 40px;
      top: 17px;
      cursor: pointer;
      z-index: 10;
    }
    .el-form.psnForm {
      width: 100%;
      margin-top: 50px;
      .submit {
        padding: 50px 0 0;
        text-align: center;
        .el-button {
          width: 174px;
          height: 56px;
          line-height: 56px;
          padding: 0;
          margin: 0;
          margin-left: -135px;
          border-radius: 28px;
          font-size: 16px;
          color: #fff;
          background-color: #ccc;
          border: none;
          &.submitAble {
            background-color: #6417a6;
          }
        }
      }
    }
    .el-input__suffix-inner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  .psnInfo {
    padding-bottom: 50px;
    ul li {
      height: 76px;
      line-height: 76px;
      margin-top: 10px;
      span {
        font-size: 16px;
        // color: #222;
        &:first-child {
          width: 135px;
          text-align: right;
        }
        &:nth-child(2) {
          margin-left: 40px;
        }
        &.default {
          color: #6417a6;
        }
      }
    }
  }
  .changePwd {
    .hideInput {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    .el-form {
      margin-top: 35px;
    }
    .el-form-item__content .el-button {
      width: 174px;
      height: 56px;
      line-height: 56px;
      padding: 0;
      margin: 80px 0 50px -135px;
      background-color: #9a5cd0;
      border: none;
      border-radius: 28px;
    }
    .el-form-item .el-input__validateIcon {
      display: none;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f1e9f8 inset !important; //关于解决输入框背景颜色
      // -webkit-text-fill-color: #606266 !important; //关于接输入框文字颜色
    }
  }
  .success {
    width: 364px;
    height: 316px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -182px;
    img {
      width: 120px;
      height: 120px;
      margin: 69px 0 37px;
    }
    p {
      font-size: 20px;
      color: #6417a6;
      line-height: 25px;
    }
  }
}
