.ticketOrder {
  background-color: #fff;
  .orderList {
    .list {
      .content {
        .course {
          width: 670px;
          .courseOne {
            width: 670px;
            padding-left: 0;
          }
        }
        .price {
          border-right: none;
        }
      }
    }
  }
  .bottomBar {
    height: 60px;
    line-height: 60px;
    background-color: #ebe7ed;
    text-align: right;
    font-size: 16px;
    margin-top: 30px;
    color: #222;
    position: relative;
    &.bottomBarFixed {
      width: 896px;
      position: fixed;
      bottom: 0;
      margin: 0 auto;
      z-index: 2;
    }
    span.fl {
      .el-checkbox {
        padding-right: 18px;
      }
    }
    .next {
      width: 140px;
      height: 60px;
      text-align: center;
      background-color: #6417a6;
      color: #fff;
      vertical-align: top;
      cursor: pointer;
    }
    .money {
      margin-right: 40px;
      i {
        color: #ff5f5f;
      }
      strong {
        font-size: 18px;
        font-weight: 400;
        i {
          font-weight: 700;
          font-size: 24px;
        }
      }
    }
  }
  .el-checkbox {
    padding-left: 41px;
    color: #222;
    font-size: 16px;
    .el-checkbox__inner {
      border-color: #6417a6;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      background-color: transparent;
      &:after {
        height: 9px;
        left: 6px;
        top: 2px;
      }
    }
    .el-checkbox__input.is-checked {
      & .el-checkbox__inner {
        border-color: #6417a6;
        background-color: #6417a6;
      }
      & + .el-checkbox__label {
        color: #222;
      }
    }
  }

  .check {
    width: 110px;
    text-align: center;
    .el-checkbox {
      display: none;
    }
    .el-checkbox-label:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      border: 1px solid #6417a6;
      border-radius: 4px;
      // background-image: url(img/scheduling_icon_uncheck2.png);
      // background-size: 100%;
    }
    .el-checkbox:checked + .el-checkbox-label:before {
      // background-color: #6417a6;
      background-image: url('~assets/images/icon-checked.png');
      background-size: 100%;
      border: none;
    }
  }
}
