.ticketOrder {
  background-color: #fff;
  padding-bottom: 30px;

  .orderList {
    .list {
      .content {
        .orderChecked {
          width: 110px;
          text-align: center;

          .checkbox {
            display: none;
          }

          .checkbox-label {
            width: 18px;
            height: 18px;
            display: inline-block;
            border: 1px solid #773084;
            border-radius: 4px;
            vertical-align: middle;
            position: relative;
          }

          .checkbox-label:before {
            content: '';
            width: 3px;
            height: 9px;
            display: inline-block;
            box-sizing: content-box;
            border: 1px solid transparent;
            background-color: transparent;
            border-left: 0;
            border-top: 0;
            transform: rotate(45deg) scaleY(1);
            position: absolute;
            left: 6px;
            top: 2px;
            cursor: pointer;
            transition: all 300ms;
          }

          .checkbox:checked+.checkbox-label {
            background-color: #773084;
          }

          .checkbox:checked+.checkbox-label:before {
            border-color: #FFF;
          }
        }

        .course {
          width: 670px;
          border-right: 1px solid #e8d6f7;

          .courseOne {
            width: 670px;
            padding-left: 0;
          }
        }

        .price {
          border-right: none;
          border-left: none;
        }
      }
    }
  }

  .invoiceTicket {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 300;

    .invoiceInfo {
      width: 740px;
      height: auto;
      background-color: #fff;
      border-radius: 10px;
      position: absolute;
      top: 30px;
      left: 50%;
      overflow-y: auto;
      margin-left: -360px;

      .header {
        padding-left: 53px;
        margin-top: 14px;

        span {
          padding: 8px 21px;
          border: 1px solid #641766;
          transition: all 300ms;
          font-size: 14px;
          color: #222;
          margin-right: 30px;
          cursor: pointer;

          &.checked {
            background-color: #773084;
            border-color: #773084;
            color: #fff;
            position: relative;

            &:after {
              content: '';
              position: absolute;
              right: -1px;
              bottom: -1px;
              width: 24px;
              height: 24px;
              background: url('https://static-image.1911edu.com/ok.png') no-repeat;
              background-size: contain;
            }
          }
        }
      }

      h3 {
        height: 58px;
        line-height: 58px;
        padding: 0 30px 0 40px;
        font-size: 16px;
        color: #222;
        border-bottom: 1px solid #e8d6f7;

        i {
          color: #773084;
          font-size: 20px;
          margin-top: 19px;
          font-weight: 700;
        }
      }

      .invoiceForm {
        width: 550px;
        margin: 0 auto;
        font-size: 14px;
        margin-top: 16px;

        .formLi {
          margin-bottom: 12px;

          p {
            line-height: 34px;

            input {
              width: 420px;
              height: 34px;
              border: 1px solid #bbbbbb;
              padding: 0 10px;
            }

            &.fl {
              width: 100px;
              font-size: 14px;
              color: #222;
              text-align: right;

              i {
                color: #ff5f5f;
              }
            }

            &.fr {
              width: 420px;
              height: 34px;

              &.addInvoice {
                border: 1px solid #bbbbbb;
                transition: all 300ms;

                input {
                  border: none;
                  width: 370px;
                }

                span {
                  color: #773084;
                  cursor: pointer;
                }
              }

              &.readyOrderTicket span {
                width: 134px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                background-color: #773084;
                color: #fff;
                position: relative;

                i {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  width: 24px;
                  height: 24px;
                  background: url('https://static-image.1911edu.com/ok.png') no-repeat;
                  background-size: contain;
                }
              }
            }

            &.radioBtn {
              i {
                display: none;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 24px;
                height: 24px;
                background: url('https://static-image.1911edu.com/ok.png') no-repeat;
                background-size: contain;
              }

              span {
                width: 88px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 6px;
                margin-right: 30px;
                cursor: pointer;
                border: 1px solid #773084;

                &.checked {
                  background-color: #773084;
                  border-color: #773084;
                  color: #fff;
                }
              }
            }

            &.word {
              clear: both;
              color: #888;
              margin-left: 130px;
              line-height: 20px;
              padding-top: 10px;

              &.parent {
                color: #ff5f5f;
              }

              input {
                margin-top: 10px;
              }

              i {
                color: #ff5f5f;
                margin-right: 3px;
              }
            }

            &.province {
              input {
                width: 120px;
                margin-right: 20px;
              }

              .el-input__suffix {
                right: 25px;
              }
            }
          }

          h6.fr {
            width: 420px;
            height: 34px;
            line-height: 34px;
            padding: 0 10px;
            color: #222;
            border: 1px solid #bbbbbb;
            transition: all 300ms;
          }

          h5 {
            padding-left: 130px;
            color: #773084;
            cursor: pointer;
            margin-bottom: 10px;
          }

          &.clearfix .check {
            border: 2px solid #773084 !important;
            position: relative;
          }

          .step {
            span {
              padding: 8px 15px;
              color: #aaa;
              border: 1px solid#ddd;

              &.stepCheck {
                color: #222;
                border: 1px solid #773084;
              }
            }

            i {
              display: inline-block;
              width: 20px;
              height: 1px;
              margin: 0 10px;
              vertical-align: middle;
              background-color: #773084;
            }
          }

          .smallTip {
            color: #888;
            padding-bottom: 10px;
          }
        }

        &.zzTicket {

          // width: 610px;
          .stepTwo {
            width: 610px;

            .formLi {
              p {
                &.fl {
                  width: 110px;
                }

                &.fr {
                  width: 480px;
                  height: 34px;

                  span.tips {
                    margin-left: 10px;
                    color: #ff5f5f;

                    i {
                      margin-right: 5px;
                    }

                    .el-icon-success {
                      color: #00ba11;
                    }
                  }
                }

                input {
                  width: 290px;
                }
              }
            }
          }

          .stepThree {
            width: 540px;
            margin: 0 auto;

            input {
              width: 320px;
            }
          }
        }

        .smallTip {
          margin-left: 130px;
          width: 420px;
          color: #888;
          padding-bottom: 10px;
        }
      }

      .operation {
        text-align: center;
        padding: 8px 0 19px;
        font-size: 14px;

        span {
          width: 150px;
          height: 34px;
          line-height: 34px;
          background-color: #dddddd;
          color: #666;
          cursor: pointer;
          border-radius: 6px;
          transition: all 300ms;

          &:first-child {
            background-color: #773084;
            color: #fff;
            margin-right: 30px;

            &:hover {
              background-color: #5f068d;
            }
          }
        }
      }
    }
  }

  .bottomBar {
    height: 60px;
    line-height: 60px;
    background-color: #ebe7ed;
    text-align: right;
    font-size: 16px;
    margin-top: 30px;
    color: #222;
    position: relative;

    &.bottomBarFixed {
      width: 896px;
      position: fixed;
      bottom: 0;
      margin: 0 auto;
      z-index: 2;
    }

    span.fl {
      .el-checkbox {
        padding-right: 18px;
      }
    }

    .next {
      width: 140px;
      height: 60px;
      text-align: center;
      background-color: #773084;
      color: #fff;
      vertical-align: top;
      cursor: pointer;

      &:hover {
        background-color: #5f068d;
      }
    }

    .money {
      margin-right: 40px;

      i {
        color: #ff5f5f;
      }

      strong {
        font-size: 18px;
        font-weight: 400;

        i {
          // font-weight: 700;
          font-size: 24px;
        }
      }
    }
  }

  .el-checkbox {
    padding-left: 30px;
    color: #222;
    font-size: 16px;

    .el-checkbox__inner {
      border-color: #773084;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      background-color: transparent;

      &:after {
        height: 9px;
        left: 6px;
        top: 2px;
      }
    }

    .el-checkbox__input.is-checked {
      & .el-checkbox__inner {
        border-color: #773084;
        background-color: #773084;
      }

      &+.el-checkbox__label {
        color: #222;
      }
    }
  }
}
