.center {
  width: 1100px;
  margin: 0 auto;
  .header {
    height: 84px;
  }
}

.banner {
  width: 100%;
  height: auto;
  background: rgba(235, 231, 237, 1);
  .center {
    width: 1100px;
    margin: 0 auto;
    &.category {
      padding-bottom: 20px;
    }
    .college {
      height: 78px;
      border-bottom: 1px rgba(232, 214, 247, 1) solid;
      &>li {
        display: inline-block;
        height: 78px;
        line-height: 78px;
      }
      ul {
        width: 1050px;
        display: inline-block;
        vertical-align: top;
        li {
          list-style: none;
          display: inline-block;
          line-height: 78px;
          font-size: 14px;
          padding-right: 17px;
          cursor: pointer;
          span {
            // padding: 10px 20px;
            background-color: #8f4acb;
          }
        }
      }
      .title {
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: rgba(34, 34, 34, 1);
      }
    }
    .classification {
      &>li {
        display: inline-block;
        height: 50px;
        line-height: 50px;
      }
      ul {
        width: 1050px;
        display: inline-block;
        vertical-align: top;
        li {
          list-style: none;
          display: inline-block;
          line-height: 50px;
          font-size: 14px;
          padding-right: 17px;
          cursor: pointer;
          span {
            background-color: #8f4acb;
          }
        }
      }
    }
    .carlist {
      height: 1400px;
    }
    .el-button {
      font-weight: 400;
    }
  }
}

.header {
  .pages {
    float: right;
    margin-top: 26px;
  }
}

.bgs {
  .el-button {
    background-color: rgba(143, 74, 203, 1);
    color: #fff;
    border: none;
  }
}

.tabStyle {
  width: 121px;
  display: inline-block;
}

.switch {
  margin-top: 30px;
  float: right;
  .el-switch__label {
    color: #888;
  }
}

.pagination {
  padding: 30px 0 80px;
}

.allChecked {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  position: fixed;
  top: 500px;
  left: 93%; // margin-left: 300px;
  background: url("~assets/images/allChecked.png");
  background-size: cover;
  z-index: 9;
  cursor: pointer;
}
