.center {
  width: 1100px;
  margin: 0 auto;

  .header {
    height: 84px;

    .rightPages {
      line-height: 84px;

      .el-switch {
        margin-right: 10px;
      }
    }
  }
}

.banner {
  width: 100%;
  height: auto;
  background: rgba(235, 231, 237, 1);

  .center {
    width: 1100px;
    margin: 0 auto;

    // min-height: 500px;
    &.category {
      padding-bottom: 20px;
    }

    .firstLevel {
      padding: 16px 0;
      padding-top: 20px;
      // height: 78px;
      border-bottom: 1px rgba(232, 214, 247, 1) solid;
      padding-left: 10px;

      &>li,
      .firstTitle {
        display: inline-block;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        color: #222222;
        margin-right: 5px;
      }

      ul {
        width: 1000px;
        display: inline-block;

        li {
          list-style: none;
          display: inline-block;
          line-height: 45px;
          font-size: 14px;
          margin-right: 30px;
        }
      }

      ul.projrctCollege {
        li {
          &:hover {
            .el-button {
              color: #773084;
            }
          }
        }
      }

      ul.courseCollege {
        li {
          span {
            font-size: 16px;
            color: #222;
            vertical-align: middle;
          }

          span.name {
            cursor: pointer;
          }

          span.nameRight {
            color: #773084;
          }
        }
      }

      ul.courseLists {
        li {
          &:hover {
            .el-button {
              color: #773084;
            }
          }
        }
      }

      .title {
        font-size: 16px;
        color: #222222;
      }
    }

    .secondLevel {
      position: relative;
      padding: 16px 0;
      padding-left: 10px;

      &>li,
      .title {
        display: inline-block;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        color: #222222;
        margin-right: 5px;
        vertical-align: top;
      }

      ul {
        width: 1000px;
        display: inline-block;

        li {
          list-style: none;
          display: inline-block;
          line-height: 45px;
          font-size: 14px;
          margin-right: 30px;
          cursor: pointer;

          &:hover {
            .el-button {
              color: #773084;
            }
          }
        }
      }
    }

    .courseArea {
      max-height: 115px;
      overflow: hidden;
      transition: all 600ms;

      .inner {
        width: 1100px;
        position: relative;
        top: -16px;
        left: -10px;
        padding: 16px 0;
        padding-left: 10px;
        transition: all 400ms;
        z-index: 100;
      }

      &:hover {
        overflow: inherit;

        .inner {
          border-radius: 8px;
          //  background: #fff;
          background-color: #ebe7ed;
          box-shadow: 0 7px 12px rgba(53, 53, 53, .09);
        }
      }
    }

    .carlist {
      height: 1400px;
      // min-height: 320px;
    }

    .el-button {
      padding: 0;
      font-weight: 400;
      font-size: 16px;
      color: #666;
    }
  }
}

.header {
  .pages {
    float: right;
    margin-top: 26px;
  }
}

.bgs {
  .el-button {
    background-color: #773084;
    color: #fff;
    border: none;
  }
}

.tabStyle {
  width: 121px;
  display: inline-block;
}

.switch {
  margin-top: 30px;
  float: right;

  .el-switch__label {
    color: #888;
  }
}

.allChecked {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  position: fixed;
  top: 500px;
  left: 93%; // margin-left: 300px;
  background: url('https://static-image.1911edu.com/allChecked.png');
  background-size: cover;
  z-index: 9;
  cursor: pointer;
}

.classList {
  width: 1272px;
  margin: 0 auto;
  position: fixed;
  top: 190px;
  left: 50%;
  margin-left: -636px;
  z-index: 1;

  ul {
    width: 95px;
    border-radius: 6px;
    background-color: #773084;
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: -20px;
    top: 0;
    text-align: center;
    overflow: hidden;

    li {
      height: 76px;
      line-height: 76px;
      cursor: pointer;

      // transition: all 300ms;
      span {
        width: 100%;
        height: 100%;
        padding: 0 5px;

        &.checked {
          background-color: #773084;
        }
      }

      &:hover {
        color: #fafafa;
      }

      &:nth-child(2) {
        line-height: 76px;
      }

      &:nth-child(3) {
        line-height: 76px;
      }
    }
  }
}

.noMsg {
  min-height: 500px;
}

.banner .center .btnBg {
  .el-button {
    color: #773084;
  }
}

.projectRight {
  position: absolute;
  right: 0;
  top: 23px;
  padding: 8px 15px;
  background-color: #3c60c7;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}
