.bag {
  color: #773084 !important;
}

.course-style {
  margin-top: 80px;
}

.borderColor {
  border-color: #773084 !important;
  color: #773084 !important;
}

.detailWord {
  span {
    display: inline !important;
    line-height: 40px;
  }
}

.container {
  .shareIcons {
    .social-share {
      width: 190px;
      height: 94px;
      line-height: 94px;
      text-align: center;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      box-shadow: 0px 0px 12px rgba(198, 194, 210, 0.28);
    }

    .social-share .social-share-icon {
      margin-right: 20px !important;
    }
  }
}

.dialog-line {
  border-bottom: none !important;

  .evaluate-tag .el-dialog {
    min-height: 508px !important;
  }

  .commentator {
    border-bottom: 1px solid #e8d6f7;

    .fr {
      float: none !important;
    }
  }
}

.join {
  width: 190px;
  position: fixed;
  bottom: 50px;
  right: 0;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}
