.goodLesson {
  background-color: #fafafa;
  padding-bottom: 40px;

  .topImg {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    z-index: 90;
  }

  .goodCourseImg {
    background: url('https://static-image.1911edu.com/banner-goodCourse.png') no-repeat;
    background-size: 1920px 300px;
    background-position: center center;
  }

  .courseImg {
    background: url('https://static-image.1911edu.com/banner-course.jpg') no-repeat;
    background-size: 1920px 300px;
    background-position: center center;
  }

  .freeImg {
    background: url('https://static-image.1911edu.com/banner-free.png') no-repeat;
    background-size: 1920px 300px;
    background-position: center center;
  }

  .projectImg {
    background: url('https://static-image.1911edu.com/banner-project.png') no-repeat;
    background-size: 1920px 300px;
    background-position: center center;
  }

  .listbreadcrumb {
    width: 1100px;
    margin: 0 auto;
  }
}
