.goodLesson {
  background-color: #fafafa;
  padding-bottom: 1px;
  .topImg {
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      // top: 0;
      left: 0;
      right: 0;
      // margin-left: -960px;
      width: 100%;
      height: 360px;
    }
  }
  .breadCrumb {
    height: 80px;
    line-height: 80px;
    width: 1100px;
    margin: 0 auto;
    div {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
