.goodLesson {
  background-color: #fafafa;
  padding-bottom: 1px;

  .topImg {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    z-index: 90;
  }
  .goodCourseImg {
    background: url('http://papn9j3ys.bkt.clouddn.com/banner-goodCourse.png')
      no-repeat;
    background-size: 1920px 300px;
    background-position: center center;
  }
  .courseImg {
    background: url('http://papn9j3ys.bkt.clouddn.com/banner-course.jpg')
      no-repeat;
    background-size: 1920px 300px;
    background-position: center center;
  }
  .freeImg {
    background: url('http://papn9j3ys.bkt.clouddn.com/banner-free.png')
      no-repeat;
    background-size: 1920px 300px;
    background-position: center center;
  }
  .projectImg {
    background: url('http://papn9j3ys.bkt.clouddn.com/banner-project.png')
      no-repeat;
    background-size: 1920px 300px;
    background-position: center center;
  }
  .breadCrumb {
    height: 80px;
    line-height: 80px;
    width: 1100px;
    margin: 0 auto;
    div {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
