.container {
  background-color: #fff;

  .main {
    position: relative;

    .topCard {
      background-color: #f7f9fb;
    }

    .bottomCard {
      width: 1100px;
      margin: 0 auto;
    }

    .main-header {
      height: 348px;
      width: 1100px;
      margin: 0 auto;
      clear: both;

      .playInner {
        width: 480px;
        height: 312px;

        .isTrySee {
          height: 24px;
          line-height: 24px;
          text-align: center;
          border-radius: 12px;
          font-size: 13px;
          color: #fff;
          background-color: #333333;
          position: absolute;
          left: 10px;
          bottom: 62px;
          padding: 0 25px 0 15px;

          span {
            color: #ff7c33;

            &.gobuy {
              cursor: pointer;
            }
          }

          i.el-icon-error {
            position: absolute;
            right: 9px;
            top: 5px;
            cursor: pointer;
          }
        }

        .playVideo {
          background: url('https://static-image.1911edu.com/bigplay.png') no-repeat;
          background-size: contain;
          width: 64px;
          height: 64px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -32px;
          margin-top: -32px;
          z-index: 100;
        }

        .prism-big-play-btn {
          visibility: hidden;
          left: 50% !important;
          top: 50%;
          margin-left: -32px;
          margin-top: -32px;
          z-index: 99;
        }

        .fullScreen .prism-big-play-btn {
          visibility: visible;
        }

        .prism-player .prism-volume-control {
          left: auto !important;
          right: 125px;
        }

        .prism-player .prism-fullscreen-btn {
          margin-top: 15px !important;
          width: 24px;
          height: 24px;
        }

        .prism-player .prism-thumbnail {
          border: none;
        }

        .prism-player .prism-play-btn {
          width: 28px;
          height: 28px;
        }

        .player-olympic-player-next {
          width: 24px;
          height: 28px;
        }

        .prism-volume {
          margin-top: 14px !important;
          margin-right: 12px !important;
        }

        .prism-player .prism-volume .volume-icon {
          width: 27px;
          height: 26px;
          background-repeat: no-repeat;
        }

        .prism-player .prism-volume .volume-icon .short-horizontal {
          width: 2px;
          height: 7px;
        }

        .prism-player .prism-volume .volume-icon .long-horizontal {
          width: 2px;
          height: 13px;
        }

        .prism-player .prism-volume .volume-icon.mute .short-horizontal {
          height: 13px;
          top: 7px;
        }

        .prism-player .prism-volume .volume-icon.mute .long-horizontal {
          top: 7px;
          height: 13px;
        }

        .prism-player .prism-setting-btn {
          width: 20px;
          height: 22px;
          margin-top: 15px !important;
          margin-right: 16px !important;
        }

        .prism-time-display {
          margin-top: 4px !important;
          margin-left: 20px !important;
        }

        // 隐藏设置中的字母和音轨
        .prism-player .prism-setting-list .prism-setting-cc,
        .prism-player .prism-setting-list .prism-setting-audio {
          display: none;
        }

        // 隐藏阿里自带报错信息
        .prism-player .prism-ErrorMessage {
          display: none !important;
        }

        // 隐藏字幕
        .prism-player .prism-cc-btn {
          display: none;
          height: 24px;
          width: 20px;
          margin-top: 14px !important;
          margin-right: 22px !important;
        }

        .prism-player .prism-play-animation {
          display: none;
        }
      }
    }

    .content {
      width: 720px;
      margin-top: 42px;
      margin-bottom: 80px;
      border-radius: 6px;
      background-color: #fff;

      .detail {
        p {
          margin: 0;
          width: 100%;

          span {
            display: inline;
          }

          img {
            margin-top: -3px;
          }
        }
      }

      .catalog {
        .chapter {
          padding: 0 0 40px;
          border-bottom: 1px solid #e8d6f7;

          &:last-child {
            border-bottom: none;
          }

          h4 {
            height: 50px;
            line-height: 60px;
            font-size: 16px;
            color: #222;
            padding-left: 15px;
            font-weight: 500;
          }

          .bar {
            width: 720px;
            height: 46px;
            line-height: 46px;
            border-radius: 6px;
            cursor: pointer;
            transition: all 300ms;

            &.checked,
            &:hover {
              background-color: #f7f9fb;

              span.freePlay {
                display: inline-block;
                width: 77px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                margin-top: 8px;
                background-color: #773084;
                border-radius: 6px;
                color: #fff;
                font-size: 14px;
                margin-right: 15px;

                &:hover {
                  background-color: #5f068d;
                }
              }
            }

            span.playIcon {
              width: 24px;
              height: 24px;
              line-height: 28px;
              margin-top: 11px;
              margin-left: 15px;
              border-radius: 50%;
              background-color: #773084;

              i {
                font-size: 20px;
                border-radius: 50%;
                margin-left: 2px;
                background-color: #773084;
                color: #fff;
              }
            }

            span.playImg {
              width: 24px;
              height: 46px;
              margin-left: 16px;
              text-align: center;

              img {
                display: inline-block;
                width: 18px;
                height: 18px;
                margin-top: 14px;
              }
            }

            span.barName {
              margin: 0 10px;
            }

            span.free {
              font-size: 12px;
              color: #fff;
              width: 44px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              margin-top: 11px;
              border-radius: 12px;
              background-color: #ff5f5f;
            }

            span.freePlay {
              display: none;
            }
          }
        }
      }

      .attention {
        padding: 0 40px 40px;

        .code {
          text-align: center;

          img {
            width: 166px;
            height: 166px;
            margin-bottom: 15px;
          }

          h5 {
            font-size: 18px;
            line-height: 30px;
          }

          p {
            font-size: 14px;
            color: #222;
            line-height: 30px;
          }
        }
      }
    }

    .rightBox {
      float: right;
      width: 340px;
    }

    .teacher {
      width: 340px;
      margin: 42px 0 20px;
      padding-bottom: 40px;
      background-color: #fff;
      background-color: #f7f9fb;

      // box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
      h4 {
        padding-left: 25px;
        height: 58px;
        line-height: 58px;
        color: #222;
        font-size: 18px;
        // font-weight: 700;
        border-bottom: 1px solid #dddddd;
      }

      .personal {
        text-align: center;

        img {
          width: 70px;
          height: 70px;
          margin: 20px;
          border-radius: 50%;
          cursor: pointer;
          margin-left: 25px;
        }

        div.fl {
          width: 210px;
          padding-top: 30px;
          text-align: left;

          &:first-child {
            cursor: pointer;
          }
        }

        h5,
        h4,
        p {
          font-size: 18px;
          color: #222;
        }

        h5 {
          cursor: pointer;
        }

        h6 {
          margin-top: 10px;
          font-size: 12px;
          line-height: 20px;
          overflow: hidden;
          height: 40px;
          color: #222;
        }

        p {
          clear: both;
          font-size: 14px;
          padding: 0 20px;
          padding-left: 25px;
          text-align: left;
          line-height: 26px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical;
          text-indent: 2rem;
        }
      }
    }

    .evaluate {
      background-color: #fff;
      border-radius: 6px;
      margin-bottom: 50px;

      h4 {
        padding-left: 25px;
        height: 60px;
        line-height: 60px;
        color: #222;
        font-size: 18px;
        border-bottom: 1px solid #ddd;

        span {
          float: right;
          margin-right: 23px;
          font-size: 14px;
          color: #888888;
          cursor: pointer;
        }
      }

      .score {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        background-color: #f7f9fb;
        padding: 0 20px;
        overflow: hidden;
        color: #222;

        span.fl i {
          display: inline-block;
          margin-left: 45px;
        }

        .itemBox-rate {
          float: right;
          height: 50px;
          line-height: 56px;
          margin-left: 20px;
        }
      }

      .noEvl {
        color: #b0aeb8;
        font-size: 14px;
        text-align: center;
        margin-top: 40px;
      }

      .com-container {
        margin: 0 20px;
      }

      .commentator {
        padding: 20px 0;
        border-bottom: 1px solid #ddd;

        .fl {
          margin-top: 7px;
        }

        .title {
          display: block;
          width: 500px;
          margin: 3px 0px 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .time {
          color: #bbb;
        }

        &>img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          margin: 0 16px 16px 0;
        }

        h5 {
          clear: both;
          margin-top: 16px;
          line-height: 30px;
        }
      }
    }
  }
}

.main-crumb {
  width: 1100px;
  margin: 0 auto;
  position: relative;

  .collect {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.detailWord {
  font-size: 14px;
}
