.container {
  background-color: #fafafa;
  .main {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    .main-header {
      height: 394px;
    }
    .content {
      width: 720px;
      margin-top: 42px;
      margin-bottom: 80px;
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
      .detail {
        padding: 0 20px;
        p {
          margin-top: -3px;
          img {
            margin-top: -3px;
          }
        }
      }
      .catalog {
        padding: 0 20px;
        .chapter {
          padding: 0 5px 40px;
          border-bottom: 1px solid #E8D6F7;
          h4 {
            line-height: 76px;
            font-size: 16px;
            color: #222;
            text-indent: 16px;
          }
          .bar {
            width: 670px;
            height: 46px;
            line-height: 46px; // padding: 0 15px;
            border-radius: 6px;
            cursor: pointer;
            transition: all 300ms;
            &.checked,
            &:hover {
              background-color: #F1E9F8;
              span.freePlay {
                display: inline-block;
                width: 77px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                margin-top: 8px;
                background-color: #8F4ACB;
                border-radius: 6px;
                color: #fff;
                font-size: 14px;
                margin-right: 15px;
              }
            }
            span.playIcon {
              width: 24px;
              height: 24px;
              line-height: 28px;
              margin-top: 11px;
              border-radius: 50%;
              background-color: #732eaf;
              margin-left: 15px;
              i {
                font-size: 20px;
                border-radius: 50%;
                margin-left: 2px;
                background-color: #732eaf;
                color: #fff;
              }
            }
            span.barName {
              margin: 0 10px
            }
            span.free {
              font-size: 12px;
              color: #fff;
              width: 44px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              margin-top: 11px;
              border-radius: 12px;
              background-color: #FF5F5F;
            }
            span.freePlay {
              display: none;
            }
          }
        }
      }
      .attention {
        padding: 0 40px 40px;
        .code {
          text-align: center;
          img {
            width: 166px;
            height: 166px;
            margin-bottom: 15px;
          }
          h5 {
            font-size: 18px;
            line-height: 30px;
          }
          p {
            font-size: 14px;
            color: #222;
            line-height: 30px;
          }
        }
      }
    }
    .rightBox {
      float: right;
      width: 340px;
    }
    .teacher {
      width: 340px;
      margin: 42px 0 20px;
      padding-bottom: 20px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
      h4 {
        padding-left: 25px;
        height: 58px;
        line-height: 58px;
        color: #222;
        font-size: 16px;
        border-bottom: 1px solid #E8D6F7;
      }
      .personal {
        text-align: center;
        img {
          width: 70px;
          height: 70px;
          margin: 20px 0;
          border-radius: 50%;
        }
        h5,
        h4,
        p {
          font-size: 18px;
          color: #222;
        }
        h5 {
          font-size: 18px;
        }
        h6 {
          font-size: 14px;
          line-height: 45px;
        }
        p {
          font-size: 14px;
          padding: 0 20px;
          text-align: left;
          line-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
    .evaluate-tag {
      width: 340px;
      margin: 42px 0 20px;
      padding-bottom: 20px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
      &.shadow {
        margin: 0;
        padding: 0;
        .el-dialog__wrapper {
          top: -80px;
          bottom: auto;
        }
      }
      .el-button {
        font-weight: 400;
      }
      h4 {
        padding-left: 25px;
        height: 58px;
        line-height: 58px;
        color: #222;
        font-size: 16px;
        border-bottom: 1px solid #E8D6F7;
      }
      .personal {
        // text-align: center
        width: 294px;
        margin: 0 auto;
        .title {
          font-size: 14px;
          color: #222;
          line-height: 25px;
          font-weight: 400;
          margin: 15px 0px;
        }
        .rate {
          font-size: 14px;
          color: #222;
          line-height: 25px;
          padding-right: 10px;
        }
        .ratem {
          padding-bottom: 5px;
        }
        .area {
          margin: 10px 0px 0px 0px;
          textarea {
            resize: none;
            font-weight: 400;
          }
        }
        .submit {
          margin: 41px auto 20px;
          width: 160px;
          .el-button {
            font-size: 14px;
            padding: 12px 65px;
            border-radius: 20px;
            transition: all 300ms;
            &:hover {
              background-color: #8F4ACB;
              border-color: #8F4ACB;
            }
          }
          .el-button--primary {
            color: #fff;
            background-color: #6417A6;
            border-color: #6417A6;
          }
        }
        .bthgrop {
          .el-button {
            padding: 6px 11px;
            font-size: 12px; // background:rgba(100, 23, 166, 1);
            border-radius: 4px;
            margin: 10px 7px 0px 0px;
            transition: all 300ms;
            &:hover {
              color: #6417a6;
              border-color: #6417a6;
            }
          }
        }
        .dialog-line {
          width: 920px;
          margin: 0 auto;
          border-bottom: 1px #E8D6F7 solid;
          .commentator {
            padding: 20px 0px 20px;
            .fl {
              margin-top: 7px;
            }
            &>img {
              width: 42px;
              height: 42px;
              border-radius: 50%;
              margin: 0 16px 16px 0;
            }
            h5 {
              clear: both;
              margin-top: 16px;
              line-height: 20px;
            }
            .rates {
              margin: 10px 0px 0px 20px;
            }
          }
        }
      }
    }
    .evaluate {
      width: 340px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
      margin-bottom: 50px;
      h4 {
        padding-left: 25px;
        height: 58px;
        line-height: 58px;
        color: #222;
        font-size: 16px;
        border-bottom: 1px solid #E8D6F7;
        span {
          float: right;
          margin-right: 23px;
          font-size: 14px;
          color: #888888;
          cursor: pointer;
        }
      }
      .score {
        padding: 0 24px;
        height: 64px;
        line-height: 64px;
        overflow: hidden;
        span.fl {
          font-size: 32px;
          color: #222;
        }
        span.fr {
          font-size: 12px;
        }
        .itemBox-rate {
          display: inline-block;
          height: 64px;
          line-height: 73px;
          margin-left: 20px;
          vertical-align: middle
        }
      }
      .commentator {
        padding: 20px 25px 20px;
        .fl {
          margin-top: 7px;
        }
        &>img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          margin: 0 16px 16px 0;
        }
        h5 {
          clear: both;
          margin-top: 16px;
          line-height: 30px;
        }
      }
    }
  }
}

.main-crumb {
  height: 85px;
  .main-crumbs {
    display: inline-block;
    line-height: 85px;
    height: 85px;
    .el-breadcrumb__separator {
      color: #222;
    }
  }
  .fr {
    .collect {
      height: 85px;
      .line-center {
        line-height: 85px;
        &>span {
          font-size: 14px;
          font-family: MicrosoftYaHei;
          color: rgba(136, 136, 136, 1);
          line-height: 0px;
          display: inline;
          padding-right: 38px;
          cursor: pointer;
          transition: all 300ms;
          i {
            font-size: 16px;
            margin-right: 5px;
          }
          &:hover {
            color: #732eaf;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}
