.appointment {
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 110;

  .content {
    width: 670px;
    overflow-y: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -340px;
    margin-left: -335px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 60px;

    h3 {
      height: 66px;
      line-height: 66px;
      text-align: center;
      color: #000;
      font-size: 20px;
    }

    p.tips {
      background-color: #F7F9FB;
      border-radius: 6px;
      width: 550px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      padding: 10px 0;
    }

    i.el-icon-close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      color: #773084;
      cursor: pointer;
      z-index: 3;
    }

    h4 {
      text-align: center;
      line-height: 46px;
      color: #FF5F5F;
      font-size: 14px;
    }

    .con-item {
      width: 550px;
      height: 35px;
      line-height: 35px;
      margin-bottom: 20px;

      .fl {
        width: 120px;
        text-align: right;
      }

      .fr {
        width: 430px;

        .tel {
          width: 320px;
        }

        .verification {
          width: 320px;
          margin-left: 45px;
        }

        .code {
          background-color: #eee;
          border-radius: 6px;
          width: 130px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #773084;
          margin-left: 45px;
          cursor: pointer;
          user-select: none;
        }

        .el-date-editor {
          width: 200px;
          display: inline-block;

          &:first-child {
            margin-right: 30px;
          }
        }

        &.selectFr {
          width: 320px;
          position: relative;
          margin-right: 110px;

          .el-input {
            width: 320px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;

            .el-input__inner {
              padding-right: 40px;
            }
          }

          .pull-down-text {
            position: absolute;
            top: 41px;
            left: 0;
            width: 320px;
            max-height: 163px;
            overflow-x: hidden;
            overflow-y: scroll;
            border: 1px solid #ddd;
            margin-top: 1px;
            color: #222;
            transition: all 400ms ease;
            background-color: #fff;
            z-index: 20;

            .search {
              position: relative;
              background-color: #ededed;

              input {
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                border: none !important;
                background-color: #ededed;
                padding-left: 10px;
              }

              .el-icon-search {
                position: absolute;
                top: 12px;
                right: 12px;
              }
            }

            ul {
              width: 100%;
              cursor: pointer;
              border-top: 1px solid #ddd;

              li {
                width: 100%;
                height: 40px;
                font-size: 14px;
                padding-left: 10px;
                line-height: 40px;
                border-bottom: 1px solid #ddd;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;

                &:hover {
                  background-color: #ededed;
                }
              }
            }

            p {
              width: 100%;
              height: 40px;
              line-height: 40px;
              padding-left: 10px;
              font-size: 14px;
              color: #222;
              text-align: left;
            }
          }

          .pull-down {
            position: absolute;
            top: 1px;
            right: 1px;
            width: 38px;
            height: 38px;
            border-left: 1px solid #dddddd;
            background-color: #ededed;

            .el-icon-caret-bottom {
              margin: 12px;
            }
          }
        }
      }
    }

    .textarea {
      width: 550px;
      font-size: 14px;
      line-height: 24px;
      color: #000;

      p {
        margin-bottom: 14px;
      }

      textarea {
        width: 550px;
        height: 65px;
        padding: 10px;
        border: 1px solid #dcdfe6;

        &::placeholder {
          color: #c0c4cb;
        }
      }
    }

    .agreement {
      font-size: 12px;
      line-height: 24px;

      i {
        color: #822788;
      }
    }

    .btns {
      text-align: center;
      padding: 20px 0 30px;

      span {
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #fff;
        background-color: #773084;
        border-radius: 6px;
        transition: all 300ms;
        cursor: pointer;

        &:hover {
          background-color: #5f068d;
        }
      }
    }
  }
}
