.appointment {
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 110;

  .content {
    width: 670px;
    overflow-y: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -302px;
    margin-left: -335px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 60px;

    h3 {
      height: 66px;
      line-height: 66px;
      text-align: center;
      color: #000;
      font-size: 20px;
    }

    p.tips {
      background-color: #F7F9FB;
      border-radius: 6px;
      width: 550px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 20px;
    }

    i.el-icon-close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      color: #773084;
      cursor: pointer;
      z-index: 3;
    }

    .el-form-item {
      margin-bottom: 16px;

      .el-form-item__label {
        width: 150px;
        color: #222;
      }

      .el-form-item__content {
        margin-left: 150px;
      }
    }

    .el-form-item.descItem {
      .el-form-item__label {
        width: 220px;
      }

      .el-form-item__content {
        margin-left: 0;
      }
    }

    .el-form-item.agreement {
      .el-form-item__content {
        margin-left: 0;
      }
    }

    .el-form-item__error {
      padding-top: 2px;
    }

    .con-item {
      width: 550px;
      height: 35px;
      line-height: 35px;
      margin-bottom: 10px;

      .fl {
        width: 130px;
        text-align: right;
      }

      .fr {
        width: 400px;

        .tel {
          width: 320px;
        }

        .verification {
          width: 320px;
          margin-left: 45px;
        }

        .code {
          background-color: #eee;
          border-radius: 6px;
          width: 130px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #773084;
          margin-left: 45px;
          cursor: pointer;
          user-select: none;
        }

        .el-date-editor {
          width: 200px;
          display: inline-block;

          &:first-child {
            margin-right: 30px;
          }
        }

        .el-select {
          height: 35px;
          line-height: 35px;
          width: 400px;
        }
      }
    }

    .textarea {
      width: 550px;
      font-size: 14px;
      line-height: 24px;
      color: #000;

      p {
        margin-bottom: 14px;
      }

      textarea {
        width: 550px;
        height: 65px;
        padding: 10px;
        border: 1px solid #dcdfe6;

        &::placeholder {
          color: #c0c4cb;
        }
      }
    }

    .agreement {
      font-size: 12px;
      // line-height: 24px;
      // margin: 10px 0;

      i {
        color: #822788;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
      }

      .cost {
        color: #FF5F5F;
        font-size: 14px;
        float: right;
      }
    }

    .btns {
      text-align: center;
      padding: 20px 0 30px;

      span {
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #fff;
        background-color: #773084;
        border-radius: 6px;
        transition: all 300ms;
        cursor: pointer;

        &:hover {
          background-color: #5f068d;
        }
      }
    }

    .submit {
      text-align: center;

      .el-form-item__content {
        margin-left: 0;
      }

      .el-button {
        padding: 0;
        border-radius: 6px;
        width: 150px;
        height: 40px;
        text-align: center;

        span {
          font-size: 14px;
          font-weight: normal;
          ;
        }

        &:hover {
          background-color: #5f068d;
        }
      }
    }

    .selectTime {
      .el-select {
        width: 100%;
      }
    }
  }
}
