.beTeacher {
  padding-top: 40px;
  background-color: #f7f9fb;

  .teacer-banner {
    width: 100%;
    height: 300px;
    background-color: #7510cb;
  }

  .topImg {
    width: 1100px;
    height: 465px;
    margin: 0 auto;
    overflow: hidden;
    background: url('https://static-image.1911edu.com/beTeacher_banner1.png') no-repeat;
    padding: 20px;
    position: relative;

    h4 {
      color: #fff;
      font-size: 32px;
      text-align: center;
      margin-top: 36px;

      &:after,
      &:before {
        content: '';
        width: 27px;
        height: 13px;
        display: inline-block;
        margin: 0 15px;
        background: url('~assets/images/beTeacher_bannerIcon.png') no-repeat;
        background-size: cover;
        vertical-align: middle;
      }
    }

    .wordBox {
      position: absolute;
      top: 120px;
      left: 50%;
      margin-left: -505px;
      background-color: #fff;
      overflow: hidden;
      border-radius: 20px;

      .word {
        width: 1010px;
        padding: 30px 40px;
        line-height: 28px;
        background: url('https://static-image.1911edu.com/beTeacher_banner2.png') no-repeat bottom;
        background-size: contain;
        text-indent: 2em;
        color: #222;
        font-size: 16px;
      }
    }
  }

  .con {
    margin-top: 20px;
    background-color: #f7f9fb;

    .con-outer {
      width: 1100px;
      margin: 0 auto;
      box-shadow: 0px 3px 36px 0px rgba(198, 194, 210, 0.36);
      border-radius: 10px;
      padding-bottom: 40px;
      background-color: #fff;
    }

    .personal {
      width: 1020px;
      margin: 0 auto;
    }

    .tip {
      text-align: center;
      font-size: 24px;
      color: #6417a6;
      margin: 40px 0 20px 0;
      padding-top: 40px;
    }

    h5 {
      font-size: 14px;
      color: #FF5F5F;
      text-align: center;
    }

    .title {
      color: #773084;
      font-size: 20px;
      width: 940px;
      margin: 0 auto;
      padding-top: 30px;
    }

    .content {
      width: 1100px;
      margin: 0 auto;
      margin-top: 40px;

      .teacher,
      .student {
        width: 1020px;
        // margin: 0 auto;
        background-color: #F7F9FB;
        padding: 20px 0;
      }

      .con-item {
        height: auto;
        margin-bottom: 20px;

        .fl {
          width: 170px;
          text-align: right;
          line-height: 40px;
          font-size: 16px;
          color: #222;
          margin-right: 20px;

          .red {
            margin-right: 5px;
            color: #ff5f5f;
            vertical-align: sub;
            display: inline-block;
          }
        }

        .fr {
          float: left;
          width: 810px;
          position: relative;
          color: #222;

          .el-input {
            .el-input__inner {}
          }

          .el-radio {
            .el-radio__inner {
              width: 18px;
              height: 18px;
              border-color: #572281;
            }

            .el-radio__input.is-checked .el-radio__inner {
              background-color: #fff;
            }

            .el-radio__inner::after {
              width: 10px;
              height: 10px;
              background-color: #572281;
            }

            .el-radio__input.is-checked+.el-radio__label {
              color: #344;
            }
          }

          .el-checkbox {
            font-weight: normal;
          }

          .el-checkbox:last-child {
            margin-right: 0;
          }

          .el-checkbox__input {
            .el-checkbox__inner {
              width: 18px;
              height: 18px;
              border: 1px solid #6417a6;
              border-radius: 4px;
            }
          }

          .el-checkbox__inner::after {
            left: 6px;
            top: 3px;
          }

          .el-checkbox__label {
            font-size: 16px;
          }

          .el-radio-group {
            margin-top: 10px;
          }
        }
      }

      .fr.selectFr {
        position: relative;

        .el-input {
          width: 320px;
          height: 40px;
          line-height: 40px;
          cursor: pointer;

          .el-input__inner {
            padding-right: 40px;
          }
        }

        .pull-down-text {
          position: absolute;
          top: 41px;
          left: 0;
          width: 320px;
          max-height: 120px;
          overflow-x: hidden;
          overflow-y: scroll;
          border: 1px solid #ddd;
          margin-top: 1px;
          color: #222;
          transition: all 400ms ease;
          background-color: #fff;
          z-index: 20;

          .search {
            position: relative;
            background-color: #ededed;

            input {
              width: 100%;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              border: none !important;
              background-color: #ededed;
              padding-left: 10px;
            }

            .el-icon-search {
              position: absolute;
              top: 12px;
              right: 12px;
            }
          }

          ul {
            width: 100%;
            cursor: pointer;
            border-top: 1px solid #ddd;

            li {
              width: 100%;
              height: 40px;
              font-size: 14px;
              padding-left: 10px;
              line-height: 40px;
              border-bottom: 1px solid #ddd;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: pointer;

              &:hover {
                background-color: #ededed;
              }
            }
          }

          p {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            font-size: 14px;
            color: #222;
            text-align: left;
          }
        }

        .pull-down {
          position: absolute;
          top: 1px;
          left: 201px;
          width: 38px;
          height: 38px;
          border-left: 1px solid #dddddd;
          background-color: #ededed;

          .el-icon-caret-bottom {
            margin: 12px;
          }
        }
      }

      .name {
        .fl {
          line-height: 40px;
        }

        .fr {
          position: relative;

          .input-inner {
            position: absolute;
            right: 15px;
            top: 13px;
            font-size: 14px;
            color: #aaaaaa;
          }

          .other {
            width: 180px;
            margin-left: 10px;
          }

          .el-checkbox-group {
            // margin-top: 10px;
          }
        }
      }

      .desc {
        position: relative;

        .fr {
          .el-textarea {
            .el-textarea__inner {
              padding-bottom: 30px;
            }
          }
        }

        .input-inner {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size: 14px;
          color: #aaaaaa;
        }
      }

      .courseAudiences {
        .fr {
          .el-checkbox-group {
            margin-top: 10px;
          }
        }
      }

      .courseForm {
        .fl {
          margin-top: 10px;
        }

        .fr {
          margin: 10px 0;
        }

        .el-checkbox {
          font-weight: 400 !important;
          float: left;
          margin-top: 10px;
        }

        .divClick {
          width: 320px;
          float: left;
          margin-left: 60px;
        }

        .online {
          margin-bottom: 20px;
          height: 40px;
        }

        .fr.selectFr {
          .pull-down {
            left: 433px;
          }

          .pull-down-text {
            left: 152px;
          }
        }

        .offline {
          label {
            float: left;
          }

          .el-radio {
            margin-top: 0;
            margin-right: 60px;
          }

          .el-checkbox {
            margin-left: 0;
            margin-right: 30px;
          }
        }
      }

      .el-select {
        width: 100%
      }

      .styleAsk {
        position: relative;
      }

      .descript-text {
        display: none;
        width: 515px;
        // height: 160px;
        color: #222;
        position: absolute;
        right: -200px;
        top: 40px;
        background-color: #fff;
        padding: 15px 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
        box-shadow: 0px 0px 14px rgba(198, 194, 210, 0.36);
        z-index: 100;
        font-size: 14px;
        line-height: 26px;
        // max-height: 200px;
        // overflow-x: hidden;
        // overflow-y: auto;
      }

      .style {
        position: relative;
        height: 40px;
        line-height: 40px;

        .el-checkbox-group {
          float: left;
        }

        .el-icon-question.styleAsk {
          // float: left;
          font-size: 20px;
          margin-left: 20px;
          margin-bottom: 9px;
          cursor: pointer;
          color: #aaa;

          &:hover {
            color: #5f068d;

            .descript-text {
              display: block;
              // right: 180px;
              // top: -35px;
            }
          }
        }
      }

      .area {
        height: auto;
      }

      .uploadFile {
        position: relative;
        line-height: 40px;

        .height {
          height: 100px;
        }

        .load {
          position: relative;
        }

        .upload {
          position: absolute;
          left: 0;
          top: 0;
          width: 100px;
          height: 100px;
          z-index: 10;
          border: 1px solid #dddddd;
        }

        .uploadMask {
          position: absolute;
          left: 0;
          top: 0;
          width: 100px;
          height: 100px;
          background-color: #fff;
          border-color: #dddddd;
          z-index: 1;

          .el-icon-plus {
            position: absolute;
            left: 27px;
            top: 27px;
            font-size: 46px;
            color: #ddd;
          }
        }

        #uploadFile,
        #uploadImg {
          display: block;
          position: absolute;
          width: 100px;
          height: 100px;
          top: 0;
          left: 0;
          outline: none;
          background-color: transparent;
          filter: alpha(opacity=0);
          -moz-opacity: 0;
          -khtml-opacity: 0;
          opacity: 0;
          z-index: 100;
        }

        .deleteFile,
        .deleteImg {
          font-size: 14px;
          margin-left: 20px;
          color: #6417a6;
          cursor: pointer;
        }

        .el-upload {
          position: relative;
        }

        .uploadBtn.el-button.el-button--primary {
          width: 100px;
          height: 100px;
          background-color: #fff;
          border-color: #dddddd;
        }

        .uploadImgs {
          width: 100px;
          height: 100px;
          background-color: #fff;
          vertical-align: middle;
          text-align: center;

          img {
            display: inline-block;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin-top: 5px;
          }
        }

        .studentCardImg {
          width: 100px;

          img {
            width: 100%;
          }
        }
      }

      .con-detail {
        width: 100%;
        background-color: #fff;
        padding: 30px 45px 40px 30px;

        .deatil-item {
          margin-bottom: 30px;

          .detail-title {
            font-size: 16px;
            color: #773084;
            margin-bottom: 20px;
          }

          .itemCon {
            margin-bottom: 20px;
            width: 100%;
            height: 40px;
          }

          .item {
            width: 430px;
            float: left;
            margin-right: 85px;

            &:last-child {
              margin-right: 0;
            }

            .fl {
              width: 110px;
              line-height: 40px;
            }

            .fr {
              width: 320px;

              .el-input {
                width: 100%;
              }

              .pull-down-text {
                width: 320px;
              }
            }

            .fr.selectFr {
              .pull-down {
                left: 281px !important;
              }
            }

            .text {
              float: left;
            }

            .liChecked {
              width: 100%;
              margin-right: 10px;
              margin-bottom: -2px;
              position: relative;

              .item-checkbox {
                display: none;
              }

              .item-checkbox-label {
                display: inline-block;
                height: 40px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: 30px;
              }

              .item-checkbox-label:after {
                position: absolute;
                top: 11px;
                right: 10px;
                content: '';
                text-align: right;
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                border: 1px solid #773084;
                border-radius: 4px;
                margin-bottom: 5px;
                margin-left: 270px;
              }

              .item-checkbox:checked+.item-checkbox-label:after {
                background-image: url('~assets/images/icon-checked.png');
                background-size: 100%;
                border: none;
              }
            }

            .add {
              float: left;
              width: 100px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              color: #888;
              font-size: 14px;
              cursor: pointer;
              background: #eee;

              &.active {
                background-color: rgba(94, 6, 140, 1);
                color: #fff;
              }
            }
          }

          .deTable {
            width: 100%;
            background-color: #f7f9fb;
            border: 1px solid #dfe1e3;

            .deItem {
              width: 100%;
              height: 50px;
              line-height: 50px;
              padding: 0 30px 0 20px;
              border-bottom: 1px solid #dfe1e3;

              &:last-child {
                border-bottom: none;
              }

              .courseTitle {
                width: 40%;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .time {
                width: 15%;
                float: left;
                text-align: center;
              }

              .price {
                width: 15%;
                float: left;
                text-align: center;
              }

              .operater {
                width: 30%;
                float: left;
                text-align: right;
                color: #cd1f1f;

                span {
                  cursor: pointer;
                }
              }
            }

            .courseItem {
              .courseTitle {
                width: 40%;
                float: left;
              }

              .time {
                width: 15%;
                float: left;
                text-align: center;
              }

              .price {
                width: 15%;
                float: left;
                text-align: center;
              }

              .num {
                width: 10%;
                float: left;
                text-align: center;
              }

              .total {
                width: 20%;
                float: left;
                text-align: right;
              }
            }

            .discount {
              color: #cd1f1f;
              font-size: 14px;
              text-align: right;
              margin: 15px 0;
              margin-right: 30px;
            }

            .totalPrice {
              color: #cd1f1f;
              font-size: 20px;
              text-align: right;
              margin: 10px 30px 15px 0;
            }

            .discount-left {
              margin-right: 10px;
            }

            .totalPrice-left {
              margin-right: 20px;
            }
          }

          .courseSearch {
            .pull-down-text {
              max-height: 440px;
            }
          }
        }
      }

      .imgAlert {
        color: red;
        margin-left: 120px;
        line-height: 100px;
      }
    }

    .course {
      width: 1100px;
      margin: 0 auto;
      margin-top: 20px;
      box-shadow: 0px 3px 36px 0px rgba(198, 194, 210, 0.36);
      border-radius: 10px;
      padding-bottom: 20px;
      background-color: #fff;

      .fr.selectFr .pull-down {
        left: 281px;
      }
    }

    .btns {
      width: 130px;
      margin: 0 auto;
      margin-top: 40px;
      padding-bottom: 60px;

      .btn {
        width: 130px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 20px;
        border: 1px solid #5e068c;
        margin-right: 60px;
        color: #5e068c;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          background-color: #773084;
          color: #fff;
        }

        &:hover {
          background-color: #5f068d;
          color: #fff;
        }
      }
    }
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'Microsoft Yahei';
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: 'Microsoft Yahei';
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: 'Microsoft Yahei';
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: 'Microsoft Yahei';
}

.successMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  // opacity: .7;
  z-index: 200;

  .submitSuccess {
    padding-top: 60px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 600px;
    height: 400px;
    text-align: center;
    background-color: #fff;

    .alert {
      color: #6417a6;
      font-size: 24px;
      margin: 30px 0;
    }

    .desc {
      // width: 300px;
      margin: 0 auto;
      color: #222;
      font-size: 16px;
      line-height: 36px;

      p {
        font-size: 16px;
      }
    }

    .btn {
      width: 130px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-top: 20px;
      border-radius: 60px;
      background-color: #773084;
      cursor: pointer;
      color: #fff;
      font-size: 14px;

      &:hover {
        background-color: #5f068d;
      }
    }
  }
}
