.teacherCard {
  width: 750px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;

  .boxshadow-none {
    position: relative;
  }

  .teacherList {
    position: relative;
    float: left;
    margin-bottom: 25px;
    margin-right: 20px;
    text-align: center;
    transition: all 350ms;

    &:hover {
      box-shadow: 0px 6px 46px 0px rgba(53, 53, 53, 0.18);
    }

    .list-con {
      display: block;
      width: 230px;
      height: 280px;
      background-color: #fff;
    }

    .teacherImg {
      display: inline-block;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin: 20px 0 20px 0;
    }

    .name {
      font-size: 18px;
      color: #773084;
    }

    .position {
      height: 33px;
      overflow: hidden;
      font-size: 14px;
      color: #93999f;
      margin: 10px 0 15px 0;
      padding: 0 20px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      position: relative;

      &.ellipsis:after {
        content: "...";
        position: absolute;
        bottom: 0;
        right: 20px;
        background: #FFF;
        padding-left: 10px;
      }
    }

    .operate {
      .btn {
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 100px;
        font-size: 14px;
        padding: 0 20px;
        color: #773084;
        border: 1px solid rgb(119, 48, 132);
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
          background-color: #773084;
          color: #fff;
        }
      }
    }
  }
}
