.news-list .shadow {
  box-shadow: none;
}

.news-list.teacherList {
  background-color: #f7f9fb;

  .te-con {
    position: relative;
    width: 1100px;
    margin: 40px auto 0;
    padding-bottom: 30px;
  }

  .teacherList-img {
    border-radius: 80px;
  }

  .famousTeacher {
    height: 420px !important;
    background-size: 1920px 420px;
  }

  .teacherLead {
    width: 1100px;
    // height: 180px;
    margin: 40px auto 30px;
    // box-shadow: 0px 6px 46px 0px rgba(53, 53, 53, 0.1);
    padding: 10px 35px;

    p {
      color: #1d66b9;
      font-size: 16px;
      line-height: 30px;
      text-indent: 2em;
    }
  }

  .joinTeacher {
    width: 138px;
    height: 152px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .left {
    float: left;
    width: 750px;
  }

  .right {
    float: left;
    width: 350px;
    overflow-y: auto;
    background-color: #fff;
  }

  .right-con {
    width: 350px;
    overflow-y: auto;
    padding: 30px 20px 0 20px;
    line-height: 30px;
    background-color: #fff;
    font-size: 14px !important;

    .indent {
      text-indent: 2em;
    }

    span {
      display: inline;
    }

    p:last-child {
      padding-bottom: 30px;
    }
  }

  .rightFixed {
    overflow-y: auto;
    position: fixed;
    top: 80px;
    bottom: 130px;
  }
}
