.orderTeacher {
  padding-top: 40px;
  background-color: #f7f9fb;

  .order-topImg {
    width: 1100px;
    height: 445px;
    margin: 0 auto;
    overflow: hidden;
    background: url('https://static-image.1911edu.com/beTeacher_banner1.png') no-repeat 0 0;
    padding: 20px;
    position: relative;

    h4 {
      color: #fff;
      font-size: 32px;
      text-align: center;
      margin-top: 36px;

      &:after,
      &:before {
        content: '';
        width: 27px;
        height: 13px;
        display: inline-block;
        margin: 0 15px;
        background: url('~assets/images/beTeacher_bannerIcon.png') no-repeat;
        background-size: cover;
        vertical-align: middle;
      }
    }

    .wordBox {
      width: 1010px;
      padding: 30px 20px;
      position: absolute;
      top: 120px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      background-color: #fff;
      overflow: hidden;
      border-radius: 20px;

      // 预约导师
      .wordInfo {

        // width: 1010px;
        // padding: 30px 20px;
        .word-item {
          height: auto;

          // margin-bottom: 10px;
          .fl {
            float: left;
            width: 115px;
            height: 40px;
            text-align: right;
            line-height: 40px;
            font-size: 16px;
            color: #222;
            margin-right: 20px;

            .red {
              color: #ff5f5f;
              vertical-align: sub;
              display: inline-block;
            }
          }

          .fr {
            float: left;
            width: 830px;
            line-height: 40px;
            font-size: 16px;
            color: #222;
          }
        }

        .word-item.teacherForm {
          margin-top: -10px;

          .fr {
            position: relative;
            width: 750px;
            height: 175px;
            background-color: #f7f9fb;
            padding: 15px 25px;
            font-size: 14px;
            line-height: 28px;

            .courseForm {
              color: #6417a6;
            }

            .info {
              width: 225px;
              border-right: 1px solid;
              margin-top: 30px;
            }

            .code {
              position: absolute;
              right: 300px;
              top: 60px;
              width: 185px;
              text-align: center;

              // height: 80px;
              img {
                display: block;
                width: 80px;
                height: 80px;
                margin: 0 auto;
              }

              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .con {
    .tip {
      text-align: center;
      font-size: 24px;
      color: #6417a6;
      margin: 40px 0 30px 0;
      padding-top: 40px;
    }

    .dataPickSpan {
      margin: 0 30px;
    }

    .fr.selectFr {
      .divClick {
        display: inline-block;
      }

      .pull-down {
        left: 281px !important;
      }
    }

    .content {
      .con-info {
        padding-bottom: 40px;
        background-color: #fff;
        box-shadow: 0px 3px 36px 0px rgba(198, 194, 210, 0.36);
        border-radius: 10px;
      }

      .con-item {
        .fr {
          .tel {
            width: 320px;
          }

          .verification {
            width: 320px;
            margin-left: 20px;
          }

          .code {
            background-color: #eee;
            border-radius: 6px;
            width: 130px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #773084;
            margin-left: 20px;
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }
  }
}
