.orderTeacher {
  padding-top: 40px;
  background-color: #f7f9fb;

  .con {
    .tip {
      text-align: center;
      font-size: 24px;
      color: #6417a6;
      margin: 40px 0 30px 0;
      padding-top: 40px;
    }
    .dataPickSpan {
      margin: 0 30px;
    }

    .fr.selectFr {
      .divClick {
        display: inline-block;
      }
      .pull-down {
        left: 281px !important;
      }
    }
    .content {
      .con-info {
        padding-bottom: 40px;
        background-color: #fff;
        box-shadow: 0px 3px 36px 0px rgba(198, 194, 210, 0.36);
        border-radius: 10px;
      }
      .con-item {
        .fr {
          .tel {
            width: 320px;
          }
          .verification {
            width: 320px;
            margin-left: 30px;
          }
          .code {
            background-color: #eee;
            border-radius: 6px;
            width: 130px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #773084;
            margin-left: 30px;
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }
  }
}
