.home-teacher {
    .teacher {
        background-color: #fafafa;
    }
    .tcInfo {
        width: 100%;
        height: 220px;
        // padding-top: 42px;
        overflow: hidden;
        position: relative;
        background: url('https://static-image.1911edu.com/teacher_bannerBG.png') no-repeat;
        background-size: cover;
    }
    .tcInfo .bg-text {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        .left-teacher {
            width: 100px;
            text-align: center;
            margin-top: 30px;
            img {
                display: inline-block;
                width: 100px;
                height: 100px;
                border-radius: 50px;
            }
            .btn {
                width: 100px;
                text-align: center;
                padding: 5px 0;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 60px;
                margin-top: 20px;
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    color: #773084;
                }
            }
            .unBtn {
                cursor: inherit;
                background-color: #ccc;
                border-color: #ccc;
                &:hover {
                    background-color: #ccc;
                    color: #fff;
                }
            }
        }
        .desc {
            width: 970px;
            margin-left: 30px;
            margin-top: 35px;
            h4 {
                color: #fff;
                text-align: left;
                font-size: 22px;
            }
            h5 {
                font-size: 16px;
                color: #fff;
                margin: 30px 0 10px 0;
                text-align: left;
            }
            h6 {
                width: 100%;
                // height: 150px;
                line-height: 20px;
                color: #fff;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-align: left;
            }
        }
    }
    .courseList h3 {
        width: 1100px;
        height: 120px;
        line-height: 120px;
        text-align: left;
        font-size: 36px;
        color: #222;
        margin: 0 auto;
    }
    .courseList .list {
        width: 1100px;
        margin: 0 auto;
        padding: 0 0 100px;
    }
}