.teacherContent {
  background-color: #fff;
  padding: 30px 0;
}

.teacherCategory {
  width: 1100px;
  margin: 0 auto;
  padding: 0 35px;

  .title {
    width: 170px;
    line-height: 58px;
    display: inline-block;
    font-size: 16px;
    color: rgba(34, 34, 34, 1);
    text-align: justify;
    margin-right: 5px;
    text-align: right;
  }

  .ulList {
    width: 855px;
    display: inline-block;
    vertical-align: top;
    padding-top: 21px;

    &.identity {
      padding-top: 14px;

      li {
        margin-right: 30px;

        border-radius: 16px;
        border: none;
        background-color: #EDEDED;
        text-align: center;

        .el-button {
          min-width: 150px;
          height: 32px;
          line-height: 32px;
          font-size: 16px;
          color: #666;
          font-weight: 400;
          padding: 0 15px;
        }

        &.btnBg {
          background-color: #772F84;

          .el-button {
            color: #fff;
          }
        }
      }
    }

    li {
      list-style: none;
      display: inline-block;
      font-size: 16px;
      margin-right: 30px;
      cursor: pointer;

      span {
        background-color: #773084;
      }

      .el-button {
        font-size: 16px;
        color: #666;
        font-weight: 400;
        border: none;
        background: none;
        padding: 0 0 21px 0;
      }

      &:hover {
        .el-button {
          color: #773084;
        }
      }

      &.btnBg {
        .el-button {
          color: #773084;
          font-size: 16px;

          span {
            color: #773084 !important;
          }
        }
      }

      //   &:first-child {
      //     border-radius: 4px;
      //   }
    }
  }

  .college,
  .classsfiy,
  .classification {
    border-bottom: 1px #f6f6f6 solid;
  }

  .classification {
    position: relative;
    margin: 0;
    max-height: 90px;
    overflow: hidden;
    transition: all 600ms;

    .inner {
      position: relative;
      top: -1px;
      left: -12px;
      width: 1050px;
      padding-left: 10px;
      border-top: 1px solid #f6f6f6;
      transition: all 300ms;
      z-index: 100;
    }
  }

  .isFirst {
    &:hover {
      overflow: inherit;

      .inner {
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 7px 12px rgba(53, 53, 53, .09);
      }
    }
  }
}
