.projectPay {
  .mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 200;

    .vipPop {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 560px;
      height: 340px;
      border-radius: 10px;
      background-color: #fff;
      text-align: center;
      color: #222;
      padding: 20px 0 0;
      font-size: 14px;

      .pop-title {
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
      }

      .text {
        width: 485px;
        margin: 0 auto;
        background-color: #F7F9FB;
        border-radius: 6px;
        margin-top: 15px;
        padding: 15px 0;
        margin-bottom: 15px;

        p {
          line-height: 30px;

          i {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            border-bottom: 1px solid #000000;
            cursor: pointer;

            &:hover {
              color: #773084
            }
          }
        }
      }


      .el-icon-close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 24px;
        font-weight: 600;
        color: #773084;
        z-index: 3;
        cursor: pointer;
      }

      .num {
        font-size: 16px;
        // padding: 20px 0 0;

        .numText {
          display: inline-block;
          margin-right: 20px;
          line-height: 32px;
          font-size: 14px;
          vertical-align: middle;
        }

        .numOpr {
          display: inline-block;
          // line-height: 32px;
          text-align: center;
          vertical-align: middle;
          font-size: 0;
          border: 1px solid #773084;

          .numBtn {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 28px;
            color: #fff;
            background-color: #773084;
            font-size: 24px;
            cursor: pointer;
            -moz-user-select: none;
            vertical-align: middle;

            &:hover {
              background-color: #5f068d;
            }
          }

          .sub {
            color: #999;
            border-right: 1px solid #773084;
            background-color: #fff;
            cursor: not-allowed;

            &:hover {
              background-color: #fff;
            }
          }

          .unClick {
            background-color: #ddd;
          }

          .add {
            color: #999;
            border-left: 1px solid #773084;
            background-color: #fff;
            cursor: not-allowed;

            &:hover {
              background-color: #fff;
            }
          }
        }

        .inputText {
          width: 40px;
          height: 30px;
          // border-top: 1px solid #773084;
          // border-bottom: 1px solid #773084;
          font-size: 18px;
          vertical-align: middle;

          input {
            width: 40px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            vertical-align: top;
          }
        }
      }
    }

    .btn {
      margin-top: 20px;

      span {
        width: 150px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 6px;
        font-size: 14px;
        margin: 0 15px;
        cursor: pointer;
      }

      .cancel {
        background-color: #ddd;
        color: #666;
      }

      .confirm {
        background-color: #773084;
        color: #fff;

        &:hover {
          background-color: #5f068d;
        }
      }
    }
  }

  .studyFee {
    width: 320px;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
  }
}
