.projectevaluate {
  width: 1100px;
  margin: 0 auto;
  .evlHead {
    height: 78px;
    line-height: 78px;
    background: rgba(247, 247, 247, 1);
    border-radius: 6px;
    padding: 0 30px;
    div.fl {
      &>span {
        font-size: 36px;
      }
      .el-rate {
        display: inline-block;
        height: 78px;
        line-height: 86px;
        vertical-align: top;
        margin-left: 20px;
      }
    }
    div.fr {
      font-size: 14px;
      color: #222;
    }
  }
  .evaluateList {
    margin-top: 22px;
    padding: 30px 30px 90px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 8px 0px 21px rgba(39, 0, 77, 0.07);
    .evl {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 42px;
        height: 42px;
      }
      div.fl {
        margin-left: 16px;
        font-size: 14px;
        color: #222;
        line-height: 22px;
        overflow: hidden;
        p:last-child {
          color: #B0AEB8;
          font-size: 12px;
        }
      }
      &>p {
        font-size: 14px;
        color: #222;
        line-height: 30px;
        margin-top: 10px;
      }
    }
  }
}
