.projectDetail {
  padding: 0 0 100px;
  background: url('http://papn9j3ys.bkt.clouddn.com/pro_detailbg.png') no-repeat;
  background-position: top center;
  background-size: auto;
  .main-crumb {
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 20;
    padding: 0 30px;
    color: #bdbccf;
    span {
    }
    .fr .collect .line-center > span {
      color: #bdbccf;
    }
    .main-crumbs {
      .el-breadcrumb__inner,
      .el-breadcrumb__separator {
        color: #bdbccf;
      }
    }
  }
  .proHeader {
    width: 1100px;
    margin: 0 auto;
    background: url('http://papn9j3ys.bkt.clouddn.com/pro_banner.png') no-repeat;
    background-position: top center;
    background-size: cover;
    box-shadow: 8px 0px 21px rgba(39, 0, 77, 0.07);
    position: relative;
    .header-mask {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 300px;
      opacity: 0.7;
      background: -webkit-linear-gradient(
        rgba(22, 17, 26, 0.7),
        rgba(22, 17, 26, 0)
      ); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(
        rgba(22, 17, 26, 0.7),
        rgba(22, 17, 26, 0)
      ); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(
        rgba(22, 17, 26, 0.7),
        rgba(22, 17, 26, 0)
      ); /* Firefox 3.6 - 15 */
      background: linear-gradient(
        rgba(22, 17, 26, 0.7),
        rgba(22, 17, 26, 0)
      ); /* 标准的语法 */
    }
    h1 {
      margin: 0;
      padding-top: 75px;
      font-size: 46px;
      color: #fff;
      text-align: center;
    }
    h3 {
      font-size: 24px;
      line-height: 30px;
      margin-top: 30px;
      color: #fff;
      text-align: center;
    }

    .detail {
      margin-top: 170px;
      height: 98px;
      background: #fff;
      .some {
        display: inline;
        div {
          display: inline-block;
          width: 120px;
          height: 40px;
          margin-top: 29px;
          text-align: center;
          vertical-align: top;
          color: #545c63;
          border-right: 1px solid #e0e4e7;
          h5,
          h6 {
            height: 20px;
            line-height: 20px;
            margin-top: -8px;
            font-size: 14px;
          }
          h6 {
            font-size: 12px;
          }
          p {
            font-size: 14px;
            span {
              font-size: 20px;
            }
          }
        }
      }
      .buy {
        height: 98px;
        margin-right: 40px;
        text-align: right;
        & > div {
          display: inline-block;
        }
        .price {
          height: 98px;
          line-height: 98px;
          margin-right: 20px;
          font-size: 32px;
          i {
            font-size: 24px;
          }
          color: #fd0e19;
        }
        .addShoppingCart {
          width: 140px;
          height: 48px;
          line-height: 48px;
          margin-top: 25px;
          border-radius: 24px;
          background-color: #641ca1;
          color: #fff;
          text-align: center;
          vertical-align: top;
          cursor: pointer;
        }
        .study {
          width: 120px;
          height: 48px;
          margin-top: 25px;
          margin-right: 20px;
          line-height: 48px;
          text-align: center;
          border-radius: 24px;
          border: 1px solid #641ca1;
          vertical-align: top;
          color: #641ca1;
          cursor: pointer;
        }
      }
    }
  }
  .proContent {
    clear: both;
    padding-top: 35px;
    .proTab {
      width: 1130px;
      margin: 0 auto;
      padding: 0 15px;
      .detail {
        padding: 28px;
      }
    }
  }
}
