.schoolIntro {
  .btn-con {
    span {
      width: 130px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 20px;
      border: 1px solid #5e068c;
      margin-right: 60px;
      background-color: #5f068d;
      color: #fff;
      cursor: pointer;

      margin: 300px 600px;
    }
  }
}
