.schoolApplication {
  padding-top: 30px;
  background-color: #f7f9fb;

  .topImg {
    width: 1100px;
    height: 432px;
    margin: 0 auto;
    overflow: hidden;
    background: url('https://static-image.1911edu.com/beTeacher_banner1.png') no-repeat;
    padding: 20px;
    z-index: 10;

    h4 {
      color: #fff;
      font-size: 32px;
      text-align: center;
      margin-top: 36px;

      &:after,
      &:before {
        content: '';
        width: 27px;
        height: 13px;
        display: inline-block;
        margin: 0 15px;
        background: url('~assets/images/beTeacher_bannerIcon.png') no-repeat;
        background-size: cover;
        vertical-align: middle;
      }
    }
  }

  .con {
    width: 1012px;
    margin: 0 auto;
    margin-top: -312px;
    background-color: #fff;
    box-shadow: 0px 3px 36px 0px rgba(198, 194, 210, 0.36);
    border-radius: 10px;
    z-index: 100;
    padding: 30px 0;

    .content {
      width: 1100px;
      margin: 0 auto;
      margin-top: 40px;

      .con-item {
        height: auto;
        margin-bottom: 20px;

        .fl {
          width: 160px;
          text-align: right;
          line-height: 40px;
          font-size: 16px;
          color: #222;
          margin-right: 20px;

          .red {
            color: #ff5f5f;
            vertical-align: sub;
            display: inline-block;
          }
        }

        .fr {
          float: left;
          width: 790px;
          position: relative;
          color: #222;
        }
      }

      .fr.selectFr {
        .text {
          line-height: 40px;
          font-size: 16px;
          color: #222;
        }

        .el-select {
          width: 320px;
          margin-right: 30px;
        }

        .divClick {
          position: relative;
        }

        .el-input {
          width: 320px;
          height: 40px;
          line-height: 40px;
          cursor: pointer;

          .el-input__inner {
            padding-right: 40px;
          }
        }

        .pull-down-text {
          position: absolute;
          top: 41px;
          left: 0;
          width: 320px;
          max-height: 120px;
          overflow-x: hidden;
          overflow-y: scroll;
          border: 1px solid #ddd;
          margin-top: 1px;
          color: #222;
          transition: all 400ms ease;
          background-color: #fff;
          z-index: 20;

          .search {
            position: relative;
            background-color: #ededed;

            input {
              width: 100%;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              border: none !important;
              background-color: #ededed;
              padding-left: 10px;
            }

            .el-icon-search {
              position: absolute;
              top: 12px;
              right: 12px;
            }
          }

          ul {
            width: 100%;
            cursor: pointer;
            border-top: 1px solid #ddd;

            li {
              width: 100%;
              height: 40px;
              font-size: 14px;
              padding-left: 10px;
              line-height: 40px;
              border-bottom: 1px solid #ddd;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: pointer;

              &:hover {
                background-color: #ededed;
              }
            }
          }

          p {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            font-size: 14px;
            color: #222;
            text-align: left;
          }
        }

        .pull-down {
          position: absolute;
          top: 1px;
          right: 1px;
          width: 38px;
          height: 38px;
          border-left: 1px solid #dddddd;
          background-color: #ededed;

          .el-icon-caret-bottom {
            margin: 12px;
          }
        }

        .pull {
          display: inline-block;
          vertical-align: middle;
          margin-right: 30px;
        }
      }

      .name {
        .fl {
          line-height: 40px;
        }

        .fr {
          position: relative;

          .input-inner {
            position: absolute;
            right: 15px;
            top: 13px;
            font-size: 14px;
            color: #aaaaaa;
          }
        }
      }

      .desc {
        position: relative;

        .input-inner {
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size: 14px;
          color: #aaaaaa;
        }
      }

      .uploadFile {
        position: relative;
        line-height: 40px;

        .height {
          height: 100px;
        }

        .load {
          width: 100%;
          height: 100px;
          position: relative;

          .limit {
            line-height: 16px;
            margin-left: 120px;
            padding-top: 84px;
            color: #aaa;
          }
        }

        .upload {
          position: absolute;
          left: 0;
          top: 0;
          width: 100px;
          height: 100px;
          z-index: 10;
          border: 1px solid #dddddd;
        }

        .uploadMask {
          position: absolute;
          left: 0;
          top: 0;
          width: 100px;
          height: 100px;
          background-color: #fff;
          border-color: #dddddd;
          z-index: 1;

          .el-icon-plus {
            position: absolute;
            left: 27px;
            top: 27px;
            font-size: 46px;
            color: #ddd;
          }
        }

        #file {
          display: block;
          position: absolute;
          width: 100px;
          height: 100px;
          top: 0;
          left: 0;
          outline: none;
          background-color: transparent;
          filter: alpha(opacity=0);
          -moz-opacity: 0;
          -khtml-opacity: 0;
          opacity: 0;
          z-index: 100;
        }

        .deleteFile {
          font-size: 14px;
          margin-left: 20px;
          color: #6417a6;
          cursor: pointer;
        }

        .el-upload {
          position: relative;
        }

        .uploadBtn.el-button.el-button--primary {
          width: 100px;
          height: 100px;
          background-color: #fff;
          border-color: #dddddd;
        }

        .uploadP {
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }

  .btns {
    width: 130px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 60px;

    .el-button {
      width: 130px;
      height: 40px;
      text-align: center;
      border-radius: 20px;
      border: 1px solid #5e068c;
      margin-right: 60px;
      background-color: #5f068d;
      color: #fff;
      cursor: pointer;
    }
  }

  .el-input {
    .el-input__inner {}
  }

  .el-radio {
    .el-radio__inner {
      width: 18px;
      height: 18px;
      border-color: #572281;
    }

    .el-radio__input.is-checked .el-radio__inner {
      background-color: #fff;
    }

    .el-radio__inner::after {
      width: 10px;
      height: 10px;
      background-color: #572281;
    }

    .el-radio__input.is-checked+.el-radio__label {
      color: #344;
    }
  }

  .el-checkbox:last-child {
    margin-right: 0;
  }

  .el-checkbox__input {
    .el-checkbox__inner {
      width: 18px;
      height: 18px;
      border: 1px solid #6417a6;
      border-radius: 4px;
    }
  }

  .el-checkbox__inner::after {
    left: 6px;
    top: 3px;
  }

  .el-checkbox__label {
    font-size: 16px;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'Microsoft Yahei';
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: 'Microsoft Yahei';
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: 'Microsoft Yahei';
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: 'Microsoft Yahei';
}
